{#
/**
 * @file
 * Template for a 3 column panel layout.
 *
 * This template provides a three column 25%-50%-25% panel display layout, with
 * additional areas for the top and the bottom.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.top: Content in the top row.
 *   - content.left: Content in the left column.
 *   - content.middle: Content in the middle column.
 *   - content.right: Content in the right column.
 *   - content.bottom: Content in the bottom row.
 */
#}
<div class="panel-3col-stacked" {% if css_id %}{{ css_id }}{% endif %}>
  {% if content.top %}
    <div class="panel-panel panel-full-width">
      {{ content.top }}
    </div>
  {% endif %}

  <div class="panel-panel">
    {{ content.left }}
  </div>

  <div class="panel-panel panel-col-middle">
    {{ content.middle }}
  </div>

  <div class="panel-panel">
    {{ content.right }}
  </div>

  {% if content.bottom %}
    <div class="panel-panel panel-full-width">
      {{ content.bottom }}
    </div>
  {% endif %}
</div>
