{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="class-page-other-sessions row">
    <!-- Schedule -->
    <div class="col-xs-12">
      {% if conditions_location is empty %}
        {# include th location #}
      {% endif %}
      {% if class_sessions_rows is not empty %}
        <h3>{{ 'Other Class Times'|t }}</h3>
        <div class="active-net__teasers">
          <table class="active-net__teasers-list">
            <tbody>
              {% for class_session in class_sessions_rows %}
                <tr class="active-net__teaser" data-ng-repeat="session in (other_sessions)">
                  {# Include location if not a current query condition. #}
                  {% if conditions_location is empty %}
                    <td class="location">{{ class_session.location }}</td>
                  {% endif %}
                  <td class="days">
                    <span>{{ class_session.day_of_week }}, {{ class_session.time_start }} - {{ class_session.time_to }}, {{ class_session.formatted_date }}</span>
                  </td>
                  <td class="registration_link">{{ class_session.registration_link }}</td>
                  <td class="details">
                    {% if class_session.registration %}
                      <span class="registration-required">{{ "Registration required"|t }}</span>
                      {% if class_session.ticket_required or class_session.in_membership %}
                        </br>
                      {% endif %}
                    {% endif %}
                    {% if class_session.ticket_required %}
                      <span class="ticket-required">{{ "Ticket required"|t }}</span>
                      {% if class_session.in_membership %}
                        </br>
                      {% endif %}
                    {% endif %}
                    {% if class_session.in_membership %}
                      <span class="in-membership">{{ "Included in membership"|t }}</span>
                    {% endif %}
                  </td>
                  <td class="age_range">
                    {% if class_session.age_min is not empty and class_session.age_max is not empty %}
                      <span class="age-range">{{ "Ages"|t }} {{ class_session.age_min }} - {{ class_session.age_max }}</span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  </div>
</div>