{#
/**
 * @file
 * Theme implementation for Winners block.
 *
 * Available variables
 * - title: Prize title from 'field_prgf_prize_title' paragraph field in Campaign node.
 * - prize: Prize description text from 'field_prgf_prize_text' paragraph field in Campaign node.
 * - winners: Array with all winners of current Campaign for specific branch.
 *
 * @ingroup themeable
 */
#}

<div class="winners-wrapper">
    <div class="winners-title">{{ title }}</div>
    <div class="winners-prize">{{ prize }}</div>
    <div class="winners-members table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'Name'|t }}</th>
                    <th>{{ 'Membership ID'|t }}</th>
                </tr>
            </thead>
            <tbody>
            {% for winner in winners %}
                <tr>
                    <td>{{ winner.name }}</td>
                    <td> ***** {{ winner.membership_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
