<script type="text/x-template" id="af-homepage">
    <div>
    <div class="text-center">
        <h1 class="program-search__form--title">{{ 'Program Search'|t }}</h1>
        {% if not is_search_box_disabled %}
            <form class="program-search__form" role="search">
                <div class="row row-eq-height justify-content-center">
                    <div class="col-12 col-xs-12 col-md-8 d-flex">
                        <input type="text" class="program-search__keywords" v-model="keywords" id="program-search__keywords" placeholder="{{ 'Keywords ...'|t }}"/>
                        <button @click.prevent="submitSearch()" v-bind:disabled="isSearchSubmitDisabled" type="submit" class="btn btn-primary text-white rounded-0"/>
                        <i class="fa fa-search" aria-hidden="true"><span class="visually-hidden">{{ 'Submit'|t }}</span></i>
                        </button>
                    </div>
                </div>
            </form>
        {% else %}
            <br/>
        {% endif %}

    <h1>{{ 'Activity Finder'|t }}</h1>
    <div class="intro">
        {{ 'We can help you find the right activities for you and your family!'|t }}
        <b>{{ 'How should we begin?'|t }}</b>
    </div>

    <router-link :to="{name: 'af-age'}" class="btn" >
        By Age
    </router-link>
    <router-link :to="{name: 'af-day'}" class="btn" >
        By Day Of Week
    </router-link>
    <router-link :to="{name: 'af-activity'}" class="btn" >
        By Activity
    </router-link>
    </div>
</script>