{%
  set classes = [
  'file',
  'file--type-' ~ file.bundle|clean_class,
  'file--mimetype-' ~ file.getMimeType|clean_class,
  not file.isPermanent() ? 'file--temporary',
  view_mode ? 'file--view-mode-' ~ view_mode|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page and not view_mode == 'thumbnail' %}
    <h2 {{ title_attributes }}><a href="{{ file_url }}">{{ label }}</a></h2>
  {% endif %}
  {{ title_suffix }}

  <div class="content"{{ content_attributes }}>
      {{ content }}
  </div>

</div>
