<h2>{{ 'Find the Membership That’s Best For You'|t }}</h2>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav nav-pills">
        {% set active_step = 1 %}
        {% for step in steps %}
            {% if step.active %}
                {% set active_step = step.number %}
            {% endif %}
        {% endfor %}
        {% for step in steps %}
          <li{% if step.number == active_step %} class="active"{% endif %}>
            <a href="#step{{ step.number }}" data-toggle="tab" data-step="{{ step.number }}">
              <span class="nav-pills__text" {% if step.number == active_step %}aria-label="{{ 'current step is'|t }} {{ step.title }}"{% endif %}>{{ step.number }}. {{ step.title }}</span></a>
          </li>
        {% endfor %}
    </ul>
  </div>
</div>