{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'post-excerpt',
  'd-flex flex-row flex-lg-column',
]
%}

<article {{ attributes.addClass(classes) }}>
  <div class="row">

    <div class="post-excerpt-image col-12 col-md-4 mb-3 mb-md-0">
      {% block image %}
        {% if content.field_image %}
          {{ content.field_image }}
        {% else %}
        <div class="default-img">
          <img src="{{ directory }}/logo.png">
        </div>
        {% endif %}
      {% endblock %}
    </div>

    <div class="post-excerpt-content col-12 col-md-8">

      <h2 class="post-title mb-3">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>

      {% block category %}
        {% if category %}
          <span class="p-2 px-3 badge badge-pill badge-success mb-3">
            {{ category }}
          </span>
        {% endif %}
      {% endblock %}

      <div class="post-description mb-4">
        {% block description %}
          {{ content.field_news_description }}
        {% endblock %}
      </div>

      {% block link %}
      <a href="{{ title_url }}" rel="bookmark" class="btn-link h5" aria-label="{{ 'Continue Reading'|t ~ " " ~ label|render|striptags }}">
        <span class="text-uppercase font-weight-bold pr-1">{{ 'Continue Reading'|t }}</span>
        <i class="fa fa-arrow-right text-pink"></i>
      </a>
      {% endblock %}

    </div>

  </div>
</article>
