{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% if form.messages is defined %}
  <div class="row">
    {{ form.messages }}
  </div>
{% endif %}
{% if form.step['#value'] == 1 %}
  <div class="compain-register-now-form">
    {{ form.membership_id }}
    <div class="form-btn">
      {{ form.submit_ok }}
    </div>
    <div class="compain-link-collapsed">
      <a href="javascript:void(0)" class="compain-facility-access-hint-link collapsed" data-toggle="collapse" data-target=".compain-facility-access-hint-wrapper">
        {{ 'Where can I find my Member ID?'|t }}
      </a>
    </div>
  </div>
{% endif %}
{% if form.step['#value'] == 2 %}
  <div class="compain-register-form">
    {{ form.email }}
    <div class="description">
      <p>{{ 'Please confirm that this is your <b>valid active email</b>.'|t }}<br/>
      </p>
    </div>
    <div class="form-btn-wrapper">
      {{ form.submit_ok }}
      {{ form.submit_change }}
    </div>
  </div>
{% endif %}
{% if form.step['#value'] == 3 %}
  <div class="compain-register-form">
    {{ form.email }}
    <div class="description">
      <p>{{ 'Please provide your <b>valid active email</b>.'|t }}<br/>
        {{ 'We need it to send prize notifications only.'|t }}</p>
    </div>
    <div class="form-btn-wrapper">
      {{ form.submit_ok }}
    </div>
  </div>
{% endif %}
{{ form|without('messages', 'email', 'membership_id', 'submit_ok', 'submit_change') }}
