{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% if form.messages is defined %}
  <div class="row">
    {{ form.messages }}
  </div>
{% endif %}
{% if form.membership_id is not defined %}
  {{ form.mail }}
{% endif %}
{% if form.membership_id is defined %}
  {% if form.mail is defined %}
    {{ form.mail }}
  {% endif %}
  {% if form.lost_mail is defined %}
    {{ form.lost_mail }}
  {% endif %}
  {{ form.membership_id }}
{% endif %}
<div class="form-btn">
  {{ form.submit }}
</div>
{{ form|without('mail', 'lost_mail', 'membership_id', 'submit', 'messages') }}
