{#
/**
 * @file
 * Masthead navigation template.
 *
 * Available variables:
 * - content: Block content.
 *
 * @ingroup themeable
 */
#}

<nav id="masthead-menu" class="nav-home masthead-menu navbar hidden-xs">
  <div class="container">
    <div class="navbar-collapse collapse">
      <div class="row">
        <ul class="nav-level-1 nav navbar-nav">
        {% for item in content.active_menu_tree.children %}
          {% if item.show_in_meganav %}
            {% if item.children %}
            <li class="{% if item.children %} dropdown{% endif %} {% if item.active %} active{% endif %}{% if item.parent %} parent{% endif %} {{ item.dasherized }} nav-level-{{ item.nav_level + 1 }}">
              <a class="dropdown-toggle {% if item.active %} active{% endif %}" data-toggle="dropdown">
                {{ item.page_name }} <b class="caret"></b>
              </a>
              <ul class="nav dropdown-menu">
                {% if item.show_overview_link %}
                <li class="overview {% if item.active %} active{% endif %}{% if item.parent %} parent{% endif %} {{ item.dasherized }} nav-level-{{ item.nav_level + 2 }}">
                  <a class="{% if item.active %} active{% endif %}" href="{{ item.url }}">{{ item.page_name }}</a>
                </li>
                {% endif %}
                <li>
                  <ul class="row-level-2">
                    {% for item in item.children %}
                    <li class=" {% if item.active %} active{% endif %}{% if item.parent %} parent{% endif %} {{ item.dasherized }} nav-level-{{ item.nav_level + 1 }}">
                      <strong>
                        <a class="{% if item.active %} active{% endif %}" href="{{ item.url }}">{{ item.page_name }}</a>
                      </strong>
                      <ul class="nav-stacked nav">
                        {% for item in item.children %}
                        <li class=" {% if item.active %} active{% endif %}{% if item.parent %} parent{% endif %}  {{ item.dasherized }} nav-level-{{ item.nav_level + 1 }}">
                          <a class="{% if item.current %} current{% endif %}{% if item.active %} active{% endif %}" href="{{ item.url }}">{{ item.page_name }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if not item.children %}
            <li class="{% if item.active %} active{% endif %}{% if item.parent %} parent{% endif %}{% if item.current %} current{% endif %} {{ item.dasherized }}">
              <a href="{{ item.url }}" class="{% if item.active %} active{% endif %} link">{{ item.page_name }}</a>
            </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
