{#
/**
 * @file
 * GroupEx Pro location schedule template.
 *
 * Available variables:
 * - locations: array of days with arrays of classes;
 *
 * @ingroup themeable
 */
#}
<figure id="group-ex-carousel" data-interval="false" class="group-ex results carousel slide">
  <div class="row hidden-xs slider-container" id="group-ex-slider">
    <div class="col-xs-12">
      <input class="slider" type="text" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal" data-slider-selection="none" data-slider-tooltip="hide" data-slider-enabled="true"></div>
  </div>
  <div class="row visible-xs">
    <div class="col-xs-12">
      <div class="btn-group  pagination btn-group-justified">
        <a class="btn btn-default" href="#group-ex-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <div class="btn-group">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ 'Pick Date'|t }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu slide-to">
            <li data-target="#group-ex-carousel">
              <a>{{ filter_date }}</a>
            </li>
          </ul>
        </div>
        <a class="btn btn-default" href="#group-ex-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row carousel-container">
        <div class="carousel-inner group-ex-carousel-inner">
          {% for location, items in locations %}
          <div class="item col-lg-4 col-md-5 col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <h3>
                  <a class="btn btn-default pull-right btn-xs pdf-link" href="{{ items.pdf_href }}">{{ 'Download   PDF'|t }}</a>
                  <span class="result-name">{{ location }}</span>
                </h3>
              </div>
            </div>
            <div class="panel-group" id="">
              {% for class in items.classes %}
                {{ class }}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row visible-xs">
    <div class="col-xs-12">
      <div class="btn-group  pagination btn-group-justified">
        <a class="btn btn-default" href="#group-ex-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <div class="btn-group">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ 'Pick Date'|t }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu slide-to">
            <li data-target="#group-ex-carousel">
              <a>{{ filter_date }}</a>
            </li>
          </ul>
        </div>
        <a class="btn btn-default" href="#group-ex-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</figure>
