{#
/**
 * @file
 * GroupEx Pro search results template.
 *
 * Available variables:
 * - form: search form;
 * - schedule: (string) search results;
 * - empty_results: bool flag if there any results found;
 *
 * @ingroup themeable
 */
#}
<section class="{{ interval }}-results accessible-buttons" type="ymca_twin_cities_group_ex_search_results">

  {% if empty_results %}
  <div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{ "Sorry, no classes matching the search were found."|t }}
    {{ "Please select at least one filter option to run a search."|t }}
  </div>
  {% else %}
    <div class="row result-actions">
      <div class="col-xs-12">
        <div class="pull-left">
          <a class="btn-default btn" data-toggle="collapse" data-parent="#accordion" href="#collapse-refine-search">{{ "Refine your search"|t }}</a>
        </div>
        <div class="pull-right">
          <a href="#print" class="btn btn-default print-page">
            <span class="glyphicon glyphicon-print"></span>
            {{ "Print"|t }}
          </a>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="panel panel-default group-ex-panel">
    <div id="collapse-refine-search" class="panel-collapse collapse {{ empty_results ? 'in' }}">
      <div class="row">
        <div class="panel-body">
          {{ form }}
        </div>
      </div>
    </div>
  </div>

  {{ schedule }}

</section>
