{#
/**
 * @file
 * Display user menu on the page.
 */
#}
<div class="compain-user-menu">
  <span class="login--user ng-hide" data-ng-show="retentionC.storage.member">{{ 'Hi, @first_name!'|t({ '@first_name': '{{retentionC.storage.member.firstName}}' }) }}</span>
  <a class="link--log-out ng-hide" href="#"
     data-ng-show="retentionC.storage.member"
     data-ng-click="retentionC.storage.memberCookieRemove()">{{ 'Sign Out'|t }}</a>
  <a class="link--register ng-hide" href="#"
     data-toggle="modal" data-target="#ymca-retention-modal" data-type="register"
     data-ng-show="!retentionC.storage.member && retentionC.storage.member_loaded">{{ 'Register'|t }}</a>
  <a class="link--sign-in ng-hide" href="#"
     data-toggle="modal" data-target="#ymca-retention-modal" data-type="login"
     data-ng-show="!retentionC.storage.member && retentionC.storage.member_loaded">{{ 'Sign In'|t }}</a>
  <div class="ysr-user-menu__forms" style="display: none;">
    <div id="ymca-retention-user-menu-register-form" class="ysr-user-menu__form" data-type="register">
      {{ content.register_form }}
    </div>
    <div id="ymca-retention-user-menu-login-form" class="ysr-user-menu__form" data-type="login">
      {{ content.login_form }}
    </div>
    <div id="ymca-retention-user-email-change-form" class="ysr-user-menu__form" data-type="email">
      {{ content.email_form }}
    </div>
    <div id="ymca-retention-user-menu-reg-confirmation-form" class="ysr-user-menu__form" data-type="reg-confirmation">
      {% include '@ymca_retention/blocks/ymca-retention-register-confirmation-modal.html.twig' %}
    </div>
  </div>
</div>
