{#
/**
 * @file
 * Display retention campaign prizes information.
 */
#}
<div id="prizes-info">
  {% if header is not empty %}
  <div class="compaign-tab-header clearfix">
    <div class="inner-container">
      {{ header }}
    </div>
  </div>
  {% endif %}
  <div class="inner-container">
    {% if sub_header is not empty %}
    <div class="compaign-tab-sub-header clearfix">
      {{ sub_header }}
    </div>
    {% endif %}
    {% if content.prizes is not empty %}
    <div class="compaign-content">
      <div class="prizes">
        {% for prize in content.prizes %}
        <div class="prize">
          <div class="content">
            {% if prize.title is not empty %}
            <h2 class="header"><span class="inner">{{ prize.title }}</span></h2>
            {% endif %}
            <p class="sub-header">({{prize.winners}} {{ 'Winners Per Branch'|t }})</p>
            {% if prize.copy is not empty %}
              {{ prize.copy }}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="campaign-btn ng-hide" data-ng-show="!retentionC.storage.member && retentionC.storage.member_loaded">
      <a href="#" class="btn btn-lg btn-primary compain-dark-green"
         data-toggle="modal" data-target="#ymca-retention-modal" data-type="register">{{ content.reg_btn }}</a>
    </div>
  </div>
</div>
