{#
/**
 * @file
 * Display track activity block.
 */
#}
<div class="yfr-activities" data-ng-controller="ActivityController">
  <div class="yfr-activities__header">
    <div class="container">
      <div class="activity-tabs">
        <div class="form-item form-type-select ng-hide" data-ng-show="dates.length > 0">
          <label for=""></label>
          <select class="form-select"
                  data-ng-model="date_selected"
                  data-ng-options="date.label for date in dates track by date.index">
          </select>
        </div>

        <ul>
          <li class="activity-tab" data-ng-repeat="activity_group in activity_groups"
              data-ng-class="activityGroupClass($index)"
              data-ng-click="setActivityGroup($index)">
            <a href="#{{ '{{activity_group.machine_name}}' }}" data-toggle="tab">{{ '{{activity_group.name}}' }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="yfr-activities__content">
    <div class="container">
      <div class="row">
        <div class="activity-items ng-hide"
             data-ng-repeat="activity_group in activity_groups"
             data-ng-attr-id="{{ '{{activity_group.machine_name}}' }}"
             data-ng-class="activityGroupClass($index)"
             data-ng-show="activityItemsShow($index)">
          <div class="col-xs-12 col-sm-4" data-ng-repeat="activity in activity_group.activities">
            <div class="form-item-checkbox">
              <input id="checkbox-{{ '{{activity.id}}' }}" type="checkbox"
                     data-ng-model="member_activities[dates[date_index].timestamp][activity.id]"
                     data-ng-change="activityItemChange(activity.id)"
                     data-ng-class="activityItemClass(activity.id)"
                     data-ng-disabled="progress.active()">
              <label for="checkbox-{{ '{{activity.id}}' }}"><span>{{ '{{activity.name}}' }}</span>
                <small>{{ '{{activity.description}}' }}</small>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
