{#
/**
 * @file
 * Display tabs selector on the page.
 */
#}
<div class="container">
  <ul class="nav nav-tabs compain-tabs hidden-xs">

    <li data-ng-class="retentionC.tabSelectorClass('tab_1')">
      <a href="#tab_1" data-toggle="tab" data-ng-click="retentionC.tabSelectorClick('tab_1')">{{ 'Introduction'|t }}</a>
    </li>

    <li class="ng-hide"
        data-ng-show="retentionC.storage.campaign.started && retentionC.storage.member_loaded && retentionC.storage.member"
        data-ng-class="retentionC.tabSelectorClass('tab_2')">
      <a href="#tab_2" data-toggle="tab" data-ng-click="retentionC.tabSelectorClick('tab_2')">
        {{ 'Enter prize drawing'|t }}
      </a>
    </li>
    <li class="ng-hide"
        data-ng-show="!retentionC.storage.campaign.started">
      <a href="#tab_2" class="campaign-not-started" data-toggle="modal" data-target="#bonus-modal-day" data-type="tabs-lock">
        {{ 'Enter prize drawing'|t }}
      </a>
    </li>
    <li class="ng-hide"
        data-ng-show="retentionC.storage.campaign.started && retentionC.storage.member_loaded && !retentionC.storage.member">
      <a href="#tab_2" class="login-required" data-toggle="modal" data-target="#ymca-retention-modal" data-type="login">
        {{ 'Enter prize drawing'|t }}
      </a>
    </li>

    <li class="ng-hide"
        data-ng-show="retentionC.storage.campaign.started && retentionC.storage.member_loaded && retentionC.storage.member"
        data-ng-class="retentionC.tabSelectorClass('tab_3')">
      <a href="#tab_3" data-toggle="tab" data-ng-click="retentionC.tabSelectorClick('tab_3')">
        {{ 'Goals & progress'|t }}
      </a>
    </li>
    <li class="ng-hide"
        data-ng-show="!retentionC.storage.campaign.started">
      <a href="#tab_3" class="campaign-not-started" data-toggle="modal" data-target="#bonus-modal-day" data-type="tabs-lock">
        {{ 'Goals & progress'|t }}
      </a>
    </li>
    <li class="ng-hide"
        data-ng-show="retentionC.storage.campaign.started && retentionC.storage.member_loaded && !retentionC.storage.member">
      <a href="#tab_3" class="login-required" data-toggle="modal" data-target="#ymca-retention-modal" data-type="login">
        {{ 'Goals & progress'|t }}
      </a>
    </li>

    <li class="ng-hide"
        data-ng-show="retentionC.storage.campaign.started"
        data-ng-class="retentionC.tabSelectorClass('tab_4')">
      <a href="#tab_4" data-toggle="tab" data-ng-click="retentionC.tabSelectorClick('tab_4')">
        {{ 'Winners'|t }}
      </a>
    </li>
    <li class="ng-hide"
        data-ng-show="!retentionC.storage.campaign.started">
      <a href="#tab_4" class="campaign-not-started" data-toggle="modal" data-target="#bonus-modal-day" data-type="tabs-lock">
        {{ 'Winners'|t }}
      </a>
    </li>

    <li class="compain-tabs--detailed" data-ng-class="retentionC.tabSelectorClass('tab_5')">
      <a href="#tab_5" data-toggle="tab" data-ng-click="retentionC.tabSelectorClick('tab_5')">{{ 'Detailed Rules'|t }}</a>
    </li>

  </ul>
  <div class="panel-group visible-xs compain-accordion"></div>
</div>
