{#
/**
 * @file
 * Display tabs selector on the page.
 */
#}
<div class="container">
  <ul class="nav nav-tabs yfr-tabs">
    <li class="active">
      <a href="#about" data-toggle="tab">{{ 'About the Campaign'|t }}</a>
    </li>
    <li>
      <a href="#track" data-toggle="tab">{{ 'Track Activities'|t }}</a>
    </li>
    <li>
      <a href="#progress" data-toggle="tab">{{ 'My Progress'|t }}</a>
    </li>
    <li class="yfr-tabs__instant-win">
      <a href="#instant-win" data-toggle="tab">
        {{ 'Instant Win'|t }}
        <span class="yfr-instant-win-star ng-hide"
              data-ng-show="retentionController.chances">
          {{ '{{retentionController.chances}}' }}
        </span>
      </a>
    </li>
    <li class="yfr-tabs__detailed">
      <a href="#rules-prizes" data-toggle="tab">{{ 'Detailed Rules &amp; Prizes'|t }}</a>
    </li>
  </ul>
</div>
