{#
/**
 * @file
 * Display Todays Insight tab.
 */
#}
<div class="inner-container ng-hide login-required"
     data-ng-controller="TodaysInsightController as todayInC"
     data-ng-show="retentionC.storage.member">
  <div class="content-wrapper content-wrapper--small clearfix">
    <div class="content-item">
      <div class="content-video-wrapper">
        <div class="content-video-item">
          <div class="content-video">
            <img alt="video"
                 data-ng-show="!todayInC.isVideoPresent()"
                 data-ng-src="{{ '{{ todayInC.getImage() }}' }}"/>
            <div class="videoWrapper"
                 data-ng-show="todayInC.isVideoPresent()">
              <ng-bind-html
                      data-ng-bind-html="todayInC.getVideo()">
              </ng-bind-html>
            </div>
          </div>
          <div class="content-video--label">
            <div class="info">
              <span class="label">TIP #{{ '{{ todayInC.getTip() }}' }}</span>
              <span class="data">{{ '{{ todayInC.getDate() }}' }}</span>
            </div>
          </div>
        </div>
        <a href="javascript:void(0);"
           data-ng-click="todayInC.previous()"
           data-ng-show="todayInC.isPrevious()" class="slick-prev slick-arrow">Previous</a>
        <a href="javascript:void(0);"
           data-ng-show="!todayInC.isPrevious()" class="slick-prev slick-arrow slick-disabled">Previous</a>
        <a href="javascript:void(0);"
           data-ng-click="todayInC.next()"
           data-ng-show="todayInC.isNext()" class="slick-next slick-arrow">Next</a>
        <a href="javascript:void(0);"
           data-ng-show="!todayInC.isNext()" class="slick-next slick-arrow slick-disabled">Next</a>
      </div>

      <h3>{{ '{{ todayInC.getTitle() }}' }}</h3>
      <ng-bind-html
              data-ng-bind-html="todayInC.getContent()">
      </ng-bind-html>
    </div>

    <div class="content-item">
      <a class="btn btn-lg btn-primary compain-green" data-toggle="modal" data-target="#bonus-modal" href="javascript:void(0)"
         data-ng-click="todayInC.addBonus()"
         data-ng-show="todayInC.isBonusButtonVisible()">click to redeem bonus</a>
    </div>

    <div class="compain-alert-bonus"
         data-ng-show="todayInC.isBonusTimerVisible()">
      <a href class="btn btn-timer">Bonus unlocked in <span class="timer">{{ '{{ todayInC.storage.todays_insight_timer }}' }}</span></a>
    </div>

    <div class="compain-alert-bonus compain-alert-bonus--active"
         data-ng-show="todayInC.isBonusButtonVisible()">
      <a href="javascript:void(0)" class="btn btn-bonus" data-toggle="modal" data-target="#bonus-modal"
         data-ng-click="todayInC.addBonus()">Click here to redeem your bonus</a>
    </div>
  </div>
</div>
