{#
/**
 * @file
 * Display tabs selector on the page.
 */
#}
<div class="container">
  <ul class="nav nav-tabs compain-tabs">
    <li class="active">
      <a href="#tab_1" data-toggle="tab">{{ 'Introduction'|t }}</a>
    </li>
    <li class="ng-hide" data-ng-show="retentionC.storage.member && retentionC.storage.member_loaded">
      <a href="#tab_2" data-toggle="tab">{{ "Enter prize drawing"|t }}</a>
    </li>
    <li class="ng-hide" data-ng-show="!retentionC.storage.member && retentionC.storage.member_loaded">
      <a href="#tab_2" class="login-required" data-toggle="modal" data-target="#ymca-retention-modal" data-type="login">
        {{ "Enter prize drawing"|t }}
      </a>
    </li>
    <li class="ng-hide" data-ng-show="retentionC.storage.member && retentionC.storage.member_loaded">
      <a href="#tab_3" data-toggle="tab">{{ 'Goals & progress'|t }}</a>
    </li>
    <li class="ng-hide" data-ng-show="!retentionC.storage.member && retentionC.storage.member_loaded">
      <a href="#tab_3" class="login-required" data-toggle="modal" data-target="#ymca-retention-modal" data-type="login">
        {{ 'Goals & progress'|t }}
      </a>
    </li>
    <li class="yfr-tabs__instant-win ng-hide" data-ng-show="retentionC.storage.member && retentionC.storage.member_loaded">
      <a href="#tab_4" data-toggle="tab">
        {{ 'Winners'|t }}
      </a>
    </li>
    <li class="yfr-tabs__instant-win ng-hide" data-ng-show="!retentionC.storage.member && retentionC.storage.member_loaded">
      <a href="#tab_4" class="login-required" data-toggle="modal" data-target="#ymca-retention-modal" data-type="login">
        {{ 'Winners'|t }}
      </a>
    </li>
    <li class="compain-tabs--detailed">
      <a href="#tab_5" data-toggle="tab">{{ 'Detailed Rules'|t }}</a>
    </li>
  </ul>
</div>
