{#
/**
 * @file
 * Display member progress report.
 */
#}
<div class="inner-container"
     data-ng-controller="ProgressController as progressC">
  <div data-ng-show="!retentionC.storage.member">
    <p>{{ 'Please login or register.'|t }}</p>
  </div>
  <table class="yfr-table-progress ng-hide"
         data-ng-show="retentionC.storage.member">
    <tbody>

    <tr data-ng-repeat="date in progressC.storage.dates">
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" checked class="form-checkbox"
                 data-ng-attr-id="checkbox-{{ '{{date.index}}' }}"/>
          <label data-ng-attr-for="checkbox-{{ '{{date.index}}' }}"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">{{ '{{date.month_day}}' }}</span>
            <span class="month">{{ '{{date.month}}' }}</span>
          </div>
          <span class="weekday">{{ '{{date.weekday}}' }}</span>
        </div>
      </td>
      <td>
        <span class="info-activity check">check-in</span>
      </td>
      <td data-ng-repeat="activity_group in progressC.storage.activity_groups">
        <div class="item-activity"
             data-ng-class="progressC.activityGroupClass($index)">
          <span class="activity"></span>
          <span class="separator"></span>
          <span class="counter">{{ '{{progressC.storage.member_activities[date.timestamp].length}}' }}</span>
        </div>
      </td>
    </tr>



    <tr>
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" class="form-checkbox" id="checkbox-1001"/>
          <label for="checkbox-1001"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">24</span>
            <span class="month">nov</span>
          </div>
          <span class="weekday">Thursday</span>
        </div>
      </td>
      <td>
        <span class="info-activity">no records</span>
      </td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
    </tr>

    <tr>
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" checked class="form-checkbox" id="checkbox-2"/>
          <label for="checkbox-2"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">25</span>
            <span class="month">nov</span>
          </div>
          <span class="weekday">Friday</span>
        </div>
      </td>
      <td>
        <span class="info-activity check">check-in</span>
      </td>
      <td>
        <div class="item-activity item-activity-type__a active">
          <span class="activity"></span>
          <span class="separator"></span>
          <span class="counter">2</span>
        </div>
      </td>
      <td>
        <div class="item-activity item-activity-type__b active">
          <span class="activity"></span>
          <span class="separator"></span>
          <span class="counter">1</span>
        </div>
      </td>
      <td class="hidden-xs">
        <div class="item-activity item-activity-type__c">
          <span class="activity"></span>
        </div>
      </td>
      <td class="hidden-xs">
        <div class="item-activity item-activity-type__d">
          <span class="activity"></span>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" checked class="form-checkbox" id="checkbox-3"/>
          <label for="checkbox-3"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">26</span>
            <span class="month">nov</span>
          </div>
          <span class="weekday">Saturday</span>
        </div>
      </td>
      <td>
        <span class="info-activity check">check-in</span>
      </td>
      <td class="hidden-xs">
        <div class="item-activity item-activity-type__a">
          <span class="activity"></span>
        </div>
      </td>
      <td>
        <div class="item-activity item-activity-type__b active">
          <span class="activity"></span>
          <span class="separator"></span>
          <span class="counter">3</span>
        </div>
      </td>
      <td class="hidden-xs">
        <div class="item-activity item-activity-type__c">
          <span class="activity"></span>
        </div>
      </td>
      <td class="hidden-xs">
        <div class="item-activity item-activity-type__d">
          <span class="activity"></span>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" class="form-checkbox" id="checkbox-4"/>
          <label for="checkbox-4"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">27</span>
            <span class="month">nov</span>
          </div>
          <span class="weekday">Sunday</span>
        </div>
      </td>
      <td class="hidden-xs">
        <span class="info-activity">no records</span>
      </td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td>
        <div class="item-activity item-activity-type__d active">
          <span class="activity"></span>
          <span class="separator"></span>
          <span class="counter">2</span>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" checked class="form-checkbox" id="checkbox-4"/>
          <label for="checkbox-5"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">28</span>
            <span class="month">nov</span>
          </div>
          <span class="weekday">Monday</span>
        </div>
      </td>
      <td>
        <span class="info-activity check">check-in</span>
      </td>
      <td>
        <div class="item-activity item-activity-type__a">
          <span class="activity"></span>
        </div>
      </td>
      <td class="hidden-xs">
        <div class="item-activity item-activity-type__b">
          <span class="activity"></span>
        </div>
      </td>
      <td>
        <div class="item-activity item-activity-type__c active">
          <span class="activity"></span>
          <span class="separator"></span>
          <span class="counter">1</span>
        </div>
      </td>
      <td class="hidden-xs">
        <div class="item-activity item-activity-type__d">
          <span class="activity"></span>
        </div>
      </td>
    </tr>

    <tr class="progress-row__disabled">
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" disabled class="form-checkbox" id="checkbox-6"/>
          <label for="checkbox-6"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">29</span>
            <span class="month">nov</span>
          </div>
          <span class="weekday">Tuesday</span>
        </div>
      </td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
    </tr>

    <tr class="progress-row__disabled">
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" disabled class="form-checkbox" id="checkbox-7"/>
          <label for="checkbox-7"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">30</span>
            <span class="month">nov</span>
          </div>
          <span class="weekday">Wednesday</span>
        </div>
      </td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
    </tr>

    <tr class="progress-row__disabled">
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" disabled class="form-checkbox" id="checkbox-8"/>
          <label for="checkbox-8"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">1</span>
            <span class="month">dec</span>
          </div>
          <span class="weekday">Thursday</span>
        </div>
      </td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
    </tr>

    <tr class="progress-row__disabled">
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" disabled class="form-checkbox" id="checkbox-9"/>
          <label for="checkbox-9"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">2</span>
            <span class="month">dec</span>
          </div>
          <span class="weekday">Friday</span>
        </div>
      </td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
    </tr>

    <tr class="progress-row__disabled">
      <td>
        <div class="form-item form-type-checkbox">
          <input type="checkbox" disabled class="form-checkbox" id="checkbox-10"/>
          <label for="checkbox-10"></label>
        </div>

        <div class="info-date">
          <div class="date-wrapper">
            <span class="date">3</span>
            <span class="month">dec</span>
          </div>
          <span class="weekday">Saturday</span>
        </div>
      </td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
      <td class="hidden-xs">—</td>
    </tr>
    </tbody>
  </table>
</div>
