{#
/**
 * @file
 * Display retention campaign introduction information.
 */
#}
<div class="inner-container">
  <div class="ysr-intro-block">
    <h2 class="ysr-intro-block__title">
      {{ 'Y Recharge Challenge'|t }}
    </h2>
    <div class="ysr-intro-block__content">
      <p data-ng-show="!retentionC.storage.member && retentionC.storage.member_loaded">
        {{ 'Stay energized with regular workouts and you can earn 4 guest passes &mdash; plus, get daily wellness tips.'|t }}
      </p>
    </div>
  </div>

  <div class="ysr-registration-form-section ng-hide"
       data-ng-show="!retentionC.storage.member && retentionC.storage.member_loaded">
    <div class="ysr-registration-form-button-container">
      <a href="#" class="btn btn-lg btn-primary orange-medium"
         data-toggle="modal" data-target="#ymca-retention-modal" data-type="register">{{ 'Sign Up'|t }}</a>
    </div>
  </div>

  <div class="row ysr-info-blocks">
    <div class="ysr-info-block ysr-info-block--checkins">
      <div class="ysr-info-block__header">1. {{ 'Visit the Y'|t }}</div>
      <div class="ysr-info-block__content">
        {{ 'Once you\'re registered, come to the Y during the challenge.'|t }}
        <a href="#tab_2">{{ 'Find your Y'|t }}</a>.
      </div>
    </div>

    <div class="ysr-info-block ysr-info-block--daily-reports">
      <div class="ysr-info-block__header">2. {{ 'Track progress'|t }}</div>
      <div class="ysr-info-block__content">
        {{ 'Each visit is one step closer to meeting your goal &mdash; and getting 4 guest passes.'|t }}
        <a href="#tab_3">{{ 'See your goal & progress'|t }}</a>.
      </div>
    </div>

    <div class="ysr-info-block ysr-info-block--instant-win">
      <div class="ysr-info-block__header">3. {{ 'Check out daily tips'|t }}</div>
      <div class="ysr-info-block__content">
        {{ 'Come back to the site daily, March 8-21 for inspiration to integrate wellness in your life. For each tip that you check out, you’ll be entered in a drawing for Y Bucks.'|t }}
        <a href="#tab_4">{{ 'Find tips'|t }}</a>.
      </div>
    </div>
  </div>
</div>
