{#
/**
 * @file
 *
 * Available variables:
 * - content: contains all data.
 *
 * @ingroup themeable
 */
#}
<div class="childcare-payment-history--pdf">
  <div class="header">
    <div class="branding">
      <img src="{{ content.logo_url }}" width="100" height="100" /><br/>
      {{ content.today_date }}
    </div>
    <div class="document_info">
      <p class="first">YMCA Payment History Report</p>
      <p>YMCA Customer Service Center</p>
      <p>{{ content.childcare_pdf_address_line1 }}</p>
      <p>{{ content.childcare_pdf_address_line2 }}</p>
    </div>
    <div class="tax_id">YMCA of Greater Twin Cities Tax ID: {{ content.childcare_pdf_tax_id }}</div>
    <div class="customer_info">
      <p>{{ content.customer_info.name }}</p>
      <p>{{ content.customer_info.address_line }}</p>
      <p>{{ content.customer_info.city }}</p>
    </div>
    <div class="bill_customer_id">
      {{ 'Bill Customer ID:'|t }} {{ content.customer_info.bill_customer_id }}
    </div>
    <div class="filters">
      <strong>{{ 'From:'|t }}</strong> {{ content.start_date }}&nbsp;&nbsp;
      <strong>{{ 'To:'|t }}</strong> {{ content.end_date }}&nbsp;&nbsp;
      <strong>{{ 'Child:'|t }}</strong> {{ content.child }}
    </div>
  </div>
  {% for key, child in content.children %}
    <div class="caption">{{ key }}</div>
    <table class="table-responsive child child-{{ child.id }}">
      <thead>
        <tr>
          <th class="order">{{ 'Order #'|t }}</th>
          <th class="description">{{ 'Description'|t }}</th>
          <th class="amount">{{ 'Payment Amount'|t }}</th>
        </tr>
      </thead>
      <tbody>
      {% for receipt in child.receipts %}
        <tr>
          <td class="order">{{ receipt.order }}</td>
          <td class="description">{{ receipt.description }} {{ receipt.date }}</td>
          <td class="amount">${{ receipt.amount }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="2" class="total-for-child">{{ 'Total Paid for'|t }} '{{ child.name }}' {{ 'is:'|t }}</td>
        <td class="total-for-child-amount">${{ child.total }}.00</td>
      </tr>
      </tbody>
    </table>
  {% endfor %}
  <div class="total">
    <table>
      <tbody>
      <tr>
        <td class="left">{{ 'Grand Total'|t }}</td>
        <td class="right">${{ content.total }}.00</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
