<div class="openy-map-wrapper">
  <div class="openy-map-canvas openy-map map"></div>
  {% if element['#show_controls'] %}
  <div class="row">
    <div class="map_controls col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="form form__locations" role="form">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-4 zip-code filter-item">
                  <div class="form-group">
                    <div class="input-group search">
                      <label class="sr-only">{{ 'Address'|t }}</label>
                      <input type="text" class="form-control search_field" placeholder="Enter ZIP or street address"/>
                      <span class="input-group-btn btn-submit">
                        <button class="btn btn-default blue">{{ 'Search'|t }}</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 distance filter-item">
                  <div class="form-group">
                    <label class="sr-only">{{ 'Distance'|t }}</label>
                    <select class="distance_limit_value distance_limit form-control form-select">
                      <option class="all_locations" value="">{{ 'All locations'|t }}</option>
                      <option value="5">{{ '5 miles'|t }}</option>
                      <option value="10" selected>{{ '10 miles'|t }}</option>
                      <option value="30">{{ '30 miles'|t }}</option>
                      <option value="50">{{ '50 miles'|t }}</option>
                      <option value="100">{{ '100 miles'|t }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-lg-5 filter-item">
                  <div class="btn-group tag_filters form-group"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="messages col-12 pb-5"></div>
  </div>
</div>
