{#
/**
 * @file
 * News page pager template.
 *
 * @see template_preprocess_pager()
 *
 * @ingroup themeable
 */
#}
{% if items %}
  <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="visually-hidden">{{ 'Pagination'|t }}</h4>

    <div class="paging_controls blog-pagination">
      {% if items.first %}
        <div class="blog-prev-pages">
          <a href="{{ items.first.href }}" class="paging_link paging_first_link blog-pagination-btn" title="{{ 'Go to first page'|t }}">
            <i class="icon-angle-double-left"></i>
            <span class="visually-hidden">{{ 'First page'|t }}</span>
            <span class="text-hide" aria-hidden="true">{{ items.first.text|default('« First'|t) }}</span>
          </a>
          <a href="{{ items.previous.href }}" class="paging_link paging_prev_link blog-pagination-btn" title="{{ 'Go to previous page'|t }}">
            <i class="icon-angle-left"></i>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span class="text-hide" aria-hidden="true">{{ items.first.text|default('‹ Previous'|t) }}</span>
          </a>
        </div>
      {% endif %}

      {#<div class="blog-pages">#}
        {#<div class="blog-pages-content">#}
          {#<div class="paging_status">Showing $from_record_number - $to_record_number of $total_num_recs <span class="paging_plural_name">$plural_name_esc</span></div>#}
        {#</div>#}
      {#</div>#}

      <div class="blog-pages">
        <div class="blog-pages-content">
          {% for key, item in items.pages %}
            {% set class = '' %}
            {% if current == key %}
              {% set title = 'Current page'|t %}
              {% set class = 'button-disabled' %}
            {% else %}
              {% set title = 'Page @key'|t({'@key': key}) %}
            {% endif %}

          <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes.addClass(class)|without('href', 'title') }}>
            {{- key -}}
          </a>
          {% endfor %}
        </div>
      </div>

      {% if items.last %}
        <div class="blog-next-pages">
          <a href="{{ items.next.href }}" class="paging_link paging_next_link blog-pagination-btn" title="{{ 'Go to next page'|t }}">
            <i class="icon-angle-right"></i><span class="text-hide" aria-hidden="true">{{ items.next.text|default('Next ›'|t) }}</span>
          </a>
          <a href="{{ items.last.href }}" class="paging_link paging_last_link blog-pagination-btn" title="{{ 'Go to last page'|t }}">
            <i class="icon-angle-double-right"></i><span class="text-hide" aria-hidden="true">{{ items.first.text|default('Last »'|t) }}</span>
          </a>
        </div>
      {% endif %}
    </div>
  </nav>
{% endif %}
