{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - content: an array with amenities.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'list-branch-amenities-wrapper',
  'row',
]
%}

<div{{ attributes.addClass(classes) }}>
  {% if amenities_open|length  %}
    {% if amenities_closed|length %}
      <div class="col-md-6 amenities-open">
        <div class="header-amenities">{{ 'What\'s Available'|t }}</div>
        {% for amenity in amenities_open %}
          {{ amenity }}
        {% endfor %}
      </div>
      <div class="col-md-6 amenities-closed">
        <div class="header-amenities">{{ 'What\'s Closed'|t }}</div>
        {% for amenity in amenities_closed %}
          {{ amenity }}
        {% endfor %}
      </div>
    {% else %}
      {% set amenitiesPerColumn = (amenities_open|length / 2)|round(0, 'ceil') %}
      {% for amenity in amenities_open %}
        {% if amenitiesPerColumn == 1 or loop.index % amenitiesPerColumn == 1 %}
          <div class="col-md-6">
        {% endif %}
        {{ amenity }}
        {% if loop.last or loop.index % amenitiesPerColumn == 0 %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
</div>
