{#
/**
 * @file
 * Template for YMCA Retention layout.
 */
#}
<div class="retention-campaign{% if settings.extra_classes is not empty %} {{ settings.extra_classes }}{% endif %}">
  <nav id="top-nav" class="top-nav">
    {{ content.navigation }}
  </nav>
  <div id="hero-section" class="hero-section">
    {{ content.hero }}
    {% if content.registration is not empty %}
      <div id="register-and-report" class="slides ysr-offset">
        {{ content.registration }}
      </div>
    {% endif %}
  </div>
  <div class="ysr-user-menu"></div>
  <div class="container"></div>
  <div class="tab-content"></div>
  {{ content.main }}
</div>
