{#
/**
 * @file
 * Template for YMCA Retention layout.
 */
#}
<div class="retention-campaign{% if settings.extra_classes is not empty %} {{ settings.extra_classes }}{% endif %}">
  <header class="compain-header">
    {{ content.header }}
  </header>

  {{ content.main }}
  <div class="tab-content">
    <div id="tab_1" class="tab-pane fade" data-ng-class="retentionC.tabClass('tab_1')">
      {{ content.tab_1 }}
    </div>

    <div id="tab_2" class="tab-pane fade" data-ng-class="retentionC.tabClass('tab_2')">
      {{ content.tab_2 }}
    </div>

    <div id="tab_3" class="tab-pane fade" data-ng-class="retentionC.tabClass('tab_3')">
      {{ content.tab_3 }}
    </div>

    <div id="tab_4" class="tab-pane fade" data-ng-class="retentionC.tabClass('tab_4')">
      {{ content.tab_4 }}
    </div>

    <div id="tab_5" class="tab-pane fade" data-ng-class="retentionC.tabClass('tab_5')">
      <div class="inner-container">
        <div class="content-wrapper content-wrapper--detailed clearfix">
          {{ content.tab_5 }}
        </div>
      </div>
    </div>

  </div>
</div>
