{#
/**
 * @file
 * Template for retention campaign layout.
 */
#}
<div class="retention-campaign{% if settings.extra_classes is not empty %} {{ settings.extra_classes }}{% endif %}">
    <!-- TOP BAR -->
    <nav id="top-nav">
        {{ content.navigation }}
    </nav>

    <!-- HERO SECTION -->
    <div id="hero-section">
        {{ content.intro }}
        <div id="register-and-report" class="slides ysr-offset">
            {{ content.registration }}
        </div>
    </div>
    {% if content.main is not empty %}
        <div id="main-content">
            {{ content.main }}
        </div>
    {% endif %}
    {% if content.leaderboard is not empty %}
        <div id="leaderboard" class="ysr-offset">
            {{ content.leaderboard }}
        </div>
    {% endif %}
    {% if content.slider is not empty %}
        <div id="slider">
            {{ content.slider }}
        </div>
    {% endif %}
</div>
