{#
/**
 * @file
 * Template for retention campaign layout.
 */
#}
<!-- TOP BAR -->
<nav id="top-nav">
    {{ content.navigation }}
</nav>

<!-- HERO SECTION -->
<div id="hero-section">
    {{ content.intro }}
    <div id="register-and-report" class="slides">
        {{ content.registration }}
    </div>
</div>
<div id="main-content">
    {{ content.main }}
</div>
<div id="leaderboard">
    {{ content.leaderboard }}
</div>

<div id="slider">
    {{ content.slider }}
</div>
