<div class="registration-confirmation">
    <div class="person-icon"></div>
    <h3>{{ "Hello" }}, {{ member.name }}!</h3>
    <p class="complete-message">{{ "Your registration is complete."|t }}</p>
    <div class="goal">
        <a href="{{ member.activity_url }}" class="self-reporting-link">
            {{ "Your goal is"|t }}:
                <span class="goal--value">
                  {{ member.goal }} {{ "visits"|t }}
                </span>
        </a>
    </div>
</div>
