{#
/**
 * @file
 * Contains YMCA TC brand footer link.
 */
#}

<a href="{{ base }}" class="footer-brand brand">
  {{ "YMCA Twin Cities"|t }}
  <small>
    {{ "For Youth Development"|t }}
    <br/>
    {{ "For Healthy Living"|t }}
    <br/>
    {{ "For Social Responsibility"|t }}
  </small>
</a>