<div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;color:#595959;line-height:160%">
  <article>
    <p style="margin: 0;">A new registration was received from the 'Membership Request' Registration Block.</p>
    <br/>
    <p style="margin: 0;">Here are contents of the registration:</p>
    <br/>
    <p style="margin: 0;">First Name: {{ firstname }}</p>
    <p style="margin: 0;">Last Name: {{ lastname }}</p>
    <br/>
    <p style="margin: 0;">Email Address: {{ email }}</p>
    <p style="margin: 0;">Phone number: {{ phone }}</p>
    <p style="margin: 0;">What is your preferred Y location?: {{ location.name }}</p>
    <br/>
    <br/>
    <p style="margin: 0;">Thank you, and have a nice day.</p>
    <p style="margin: 0;">YMCA Twin Cities Registration System</p>
    <br/>
    <br/>
    <p style="margin: 0;">Note: Do not reply to this e-mail; it is sent from an automated system.</p>
  </article>
</div>