{#
/**
 * @file
 * Template file for individual location schedule page block.
 *
 * Available variables:
 * - branch_id: GroupEx branch id.
 */
#}

<h2>Register for Classes and Programs</h2>
<article class="richtext">
  <h3>Search by:</h3>
  <ul>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;catcode=group_exercise&brcode={{ branch_id }}">Trainer-Led Group Classes</a></li>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;catcode=arc_cert&brcode={{ branch_id }}" title="Certifications and Lifeguard Training">Certifications and Lifeguard Training</a></li>
    <li><a href="/child_care__preschool" title="Child Care">Child Care</a></li>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;catcode=swim_aquatics&brcode={{ branch_id }}" title="Find Swim Lessons &amp; Aquatics Classes">Swim Lessons and Aquatics</a></li>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;pc=DC&amp;catcode=DAY_CAMP&amp;autosearch=Y&brcode={{ branch_id }}" title="Day Camps">Day Camps</a></li>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;catcode=family&brcode={{ branch_id }}" title="Family Programs">Family Programs</a></li>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;catcode=cyd&amp;subcatcode=y_arts&brcode={{ branch_id }}">Kids Arts &amp; Dance</a></li>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;catcode=cyd&amp;subcatcode=parent_child&amp;subcatcode=swim_sports_play&brcode={{ branch_id }}">Kids Sports</a></li>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;catcode=school_age_care&brcode={{ branch_id }}" title="Find School Age Care Programs">School Age Care</a></li>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;catcode=school_release&brcode={{ branch_id }}" title="School Release Days">School Release Days</a></li>
    <li><a href="/child_care__preschool/summer_programs/" title="Find Summer Programs">Summer Programs</a></li>
    <li><a class="pdf-link" href="https://ygtcprod2.personifycloud.com/personifyebusiness/Default.aspx?TabId=177&amp;catcode=teams&brcode={{ branch_id }}" title="Teams and Leagues">Teams and Leagues</a></li>
  </ul>
</article>

<h2>Printable Schedules</h2>

