{#
/**
 * @file
 * Groupex class template.
 *
 * Available variables:
 * - class: array of single class variables;
 *
 * @ingroup themeable
 */
#}
<tr>
  <td class="time-duration">
    {#<a class="use-ajax" href="{{ class.date_link }}">{{ class.date_short }}</a><br/>#}
    <span class="icon icon-clock"></span>{{ class.time }} - <span class="duration">{{ class.duration }}</span>
  </td>
  <td>
    <a class="use-ajax" href="{{ class.class_link }}"> {{ class.name }}</a>
  </td>
  <td class="instructor">
    <span class="icon icon-user"></span><a class="use-ajax" href="{{ class.instructor_link }}">{{ class.instructor|raw }}</a>
  </td>
</tr>
