{#
/**
 * @file
 * Template file for individual location schedule page block.
 *
 * Available variables:
 * - branch_id: GroupEx branch id.
 */
#}

<h2>Register for Classes and Programs</h2>
<article class="richtext">
  <h3>Search by:</h3>
  <ul>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&CAT=group_exercise&br={{ branch_id }}">Trainer-Led Group Classes</a></li>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&CAT=arc_cert&br={{ branch_id }}" title="Certifications and Lifeguard Training">Certifications and Lifeguard Training</a></li>
    <li><a href="/child_care__preschool" title="Child Care">Child Care</a></li>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&CAT=swim_aquatics&br={{ branch_id }}" title="Find Swim Lessons &amp; Aquatics Classes">Swim Lessons and Aquatics</a></li>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&pc=DC&CAT=DAY_CAMP&autosearch=Y&br={{ branch_id }}" title="Day Camps">Day Camps</a></li>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&CAT=family&br={{ branch_id }}" title="Family Programs">Family Programs</a></li>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&CAT=cyd&subcatcode=y_arts&br={{ branch_id }}">Kids Arts &amp; Dance</a></li>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&CAT=cyd&subcatcode=parent_child&subcatcode=swim_sports_play&br={{ branch_id }}">Kids Sports</a></li>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&CAT=school_age_care&br={{ branch_id }}" title="Find School Age Care Programs">School Age Care</a></li>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&CAT=school_release&br={{ branch_id }}" title="School Release Days">School Release Days</a></li>
    <li><a href="/child_care__preschool/summer_programs/" title="Find Summer Programs">Summer Programs</a></li>
    <li><a href="https://***REMOVED***/personifyebusiness/Default.aspx?TabId=426&CAT=teams&br={{ branch_id }}" title="Teams and Leagues">Teams and Leagues</a></li>
  </ul>
</article>

<h2>Printable Schedules</h2>

