{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, display_search) }}

{% macro menu_links(items, attributes, menu_level, display_search) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass('navbar nav nav-fill align-items-center nav-level-1 p-0 m-0') }}>
    {% for item in items %}
      {% set ia = item.attributes %}
      {% set ia = ia.addClass('nav-item nav-level-2') %}
      <li{{ item.attributes.addClass('menu-item-' ~ item.title|clean_class) }}>
        {% if item.below %}
          {% set item_title %}
            {{ item.title }}
            <i class="fa fa-angle-up" aria-hidden="true"></i>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          {% endset %}
          {{ link(item_title, item.url, {'aria-expanded': 'false', 'data-toggle': 'dropdown', 'class' : ['nav-link', 'text-uppercase']}) }}
          {{ menus.menu_links_level_2(item.below, attributes, menu_level + 1) }}
        {% else %}
          {{ link(item.title, item.url, {'class' : ['nav-link', 'text-uppercase']}) }}
        {% endif %}
      </li>
    {% endfor %}
    {% if display_search %}
      {# Search icon #}
      <li class="nav-item nav-level-2 site-search">
        <button class="navbar-toggler pr-3" type="button" data-toggle="collapse" data-target=".page-head__search" aria-controls="page-head__search" aria-expanded="false" aria-label="Show search bar">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </li>
    {% endif %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro menu_links_level_2(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="dropdown-menu row-level-2 fade">
    {% for item in items %}
      {% set ia = item.attributes.addClass(['nav-level-3 col-md-3 col-lg-2 menu-item-' ~ item.title|clean_class]) %}
      <li{{ ia }}>
        {% if item.below %}
          {% set item_title %}
            <i class="fa fa-angle-right pr-2" aria-hidden="true"></i>
            {{ item.title }}
          {% endset %}
          {{ link(item_title, item.url, {'class' : 'd-flex'}) }}
          {{ menus.menu_links_level_3(item.below, item, attributes, menu_level) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro menu_links_level_3(items, parent, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="row-level-3">
      {% set ia = parent.attributes %}
      {% set ia = ia.addClass('nav-level-4') %}
      {% for item in items %}
        {% set ia = item.attributes %}
        {% set ia = ia.addClass('nav-level-4') %}
        <li{{ ia }}>
          {{ link(item.title, item.url) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
