{#
/**
 * @file
 * Contains sidebar search and menu that is used in mobile layout.
 */
#}
<div id="search-box" class="hidden-xs">
  <form method="get" action="{{ base_path }}search_results">
    <div class="form-group col-xs-12">
      <div class="input-group">
        <input type="text" name="q" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-info" type="submit">{{ "SEARCH THE Y"|t }}</button>
        </span>
      </div>
    </div>
  </form>
</div>
<div id="sidebar" class="sidebar sidebar-left collapse width">
  <div class="top-bar">
    <a class="home-icon" href="{{ base_path }}" title="{{ "YMCA Twin Cities"|t }}"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a class="sign-in-icon" href="https://account.ymcamn.org/PersonifyEBusiness/Default.aspx?TabID=337"><i class="fa fa-user-o" aria-hidden="true"></i></a>
    <a class="search-icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
    <button class="sidebar-toggle" data-toggle="collapse" data-target=".sidebar-left"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>

  <form class="site-search-sidebar collapse" method="get" action="{{ search_view_content_path }}">
    <input type="text" name="q" class="form-control" placeholder="{{ "Search"|t }}">
    <button class="btn btn-info" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
  <ul id="sidebar-nav" class="nav-level-0 nav in"></ul>
</div>
