{#
/**
 * @file
 * Default theme implementation for an item list.
 *
 * Available variables:
 * - archive_lists: (array) of years and months.
 *
 */
#}
{% for key, list in archive_lists %}
  <ul class="blog_years_list">
    <li class="blog_year_li {{ list.expanded }}">
      <a href="#" class="blog_year_link"><i class="glyphicon glyphicon-{% if list.expanded %}minus{% else %}plus{% endif %}-sign"></i>{{ key }}</a>
    </li>
    <li class="blog_months_container_li" id="blog_archive_year_{{ key }}" {% if list.expanded %}style="display: list-item;"{% endif %}>
      <ul class="blog_months_list">
        {% for month in list.months %}
          <li class="blog_month_li"><a href="{{ month.url }}" class="blog_month_link{% if month.active %} active{% endif %}" id="blog_archive_month_{{ key ~ '_' ~ month.number }}">{{ month.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endfor %}
