{#
/**
 * @file
 * Promo block template.
 *
 * Available variables:
 * - header: Block header.
 * - content: Block content.
 * - image: Image.
 * - link: Link.
 *
 * @ingroup themeable
 */
#}

<article class="richtext">
  <a class="wrapper" href="{{ link }}" title="{{ link_text }}">
    {% if image.0 %}
      <div class="img-crop img-crop-horizontal">
        {{ image }}
      </div>
    {% endif %}
    <h3>{{ header }}</h3>
    {{ content }}
  </a>
</article>
