<div class="hidden-xs col-sm-4 col-md-3 subnav">
  <div class="panel panel-blog-subnav">
    <div class="blog-search-container">
      <form action="{{ base_path }}search/blog" method="get">
        <h3 class="blog-search-title"><i class="glyphicon glyphicon-search"></i>{{ "Search the Blog"|t }}</h3>
        <div class="input-group">
          <input type="text" name="keys" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" placeholder="Enter keywords">{{ "Go"|t }}</button>
            </span>
        </div>
        <input type="hidden" name="f[0]" value="type:blog" />
        <input type="hidden" name="advanced-form" value="1" />
        <!-- /input-group -->
      </form>
    </div>
    <div class="panel-blog-subnav-menus" id="blog_submenus">

      <article class="richtext">
        <h3><i class="glyphicon glyphicon-tag"></i>{{ "Categories"|t }}</h3>
      </article>
      <article class="richtext">
        <ul>
          {% for category in categories %}
            <li>{{ category }}</li>
          {% endfor %}
        </ul>
      </article>
      <article class="richtext">
        <h3><i class="glyphicon glyphicon-calendar"></i>{{ "Archive"|t }}</h3>
      </article>

      <div class="abe_blog_archives_display">
        <div>

          <ul class="blog_years_list">
            <li class="blog_year_li">
              <a href="#" class="blog_year_link"><i class="glyphicon glyphicon-plus-sign"></i>2015</a>
            </li>
            <li class="blog_months_container_li" id="blog_archive_year_2015">
              <ul class="blog_months_list">
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/01/" class="blog_month_link" id="blog_archive_month_2015_01">January</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/02/" class="blog_month_link" id="blog_archive_month_2015_02">February</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/03/" class="blog_month_link" id="blog_archive_month_2015_03">March</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/04/" class="blog_month_link" id="blog_archive_month_2015_04">April</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/05/" class="blog_month_link" id="blog_archive_month_2015_05">May</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/06/" class="blog_month_link" id="blog_archive_month_2015_06">June</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/07/" class="blog_month_link" id="blog_archive_month_2015_07">July</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/08/" class="blog_month_link" id="blog_archive_month_2015_08">August</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/09/" class="blog_month_link" id="blog_archive_month_2015_09">September</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/10/" class="blog_month_link" id="blog_archive_month_2015_10">October</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/11/" class="blog_month_link" id="blog_archive_month_2015_11">November</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/12/" class="blog_month_link" id="blog_archive_month_2015_12">December</a></li>
              </ul>
            </li>
          </ul>

          <ul class="blog_years_list">
            <li class="blog_year_li">
              <a href="#" class="blog_year_link"><i class="glyphicon glyphicon-plus-sign"></i>2014</a>
            </li>
            <li class="blog_months_container_li" id="blog_archive_year_2014">
              <ul class="blog_months_list">
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/01/" class="blog_month_link" id="blog_archive_month_2014_01">January</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/02/" class="blog_month_link" id="blog_archive_month_2014_02">February</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/03/" class="blog_month_link" id="blog_archive_month_2014_03">March</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/04/" class="blog_month_link" id="blog_archive_month_2014_04">April</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/05/" class="blog_month_link" id="blog_archive_month_2014_05">May</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/06/" class="blog_month_link" id="blog_archive_month_2014_06">June</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/07/" class="blog_month_link" id="blog_archive_month_2014_07">July</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/08/" class="blog_month_link" id="blog_archive_month_2014_08">August</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/09/" class="blog_month_link" id="blog_archive_month_2014_09">September</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/10/" class="blog_month_link" id="blog_archive_month_2014_10">October</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/11/" class="blog_month_link" id="blog_archive_month_2014_11">November</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/12/" class="blog_month_link" id="blog_archive_month_2014_12">December</a></li>
              </ul>
            </li>
          </ul>

          <ul class="blog_years_list">
            <li class="blog_year_li">
              <a href="#" class="blog_year_link"><i class="glyphicon glyphicon-plus-sign"></i>2013</a>
            </li>
            <li class="blog_months_container_li" id="blog_archive_year_2013">
              <ul class="blog_months_list">
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2013/11/" class="blog_month_link" id="blog_archive_month_2013_11">November</a></li>
                <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2013/12/" class="blog_month_link" id="blog_archive_month_2013_12">December</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>

      <script language="JavaScript" type="text/javascript">
        function getUrlVars() {
          var vars = {};
          var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
          });
          return vars;
        }


        jQuery(function() {
          var url_vars = getUrlVars(),
            blog_archive_active = false,
            blog_archive_month,
            blog_archive_year;

          if( typeof url_vars["month"] != "undefined" ) {
            blog_archive_month  = url_vars["month"];
            blog_archive_year   = url_vars["year"];
          }
          else {
            var path_split = window.location.pathname.split("/");
            blog_archive_month  = path_split[path_split.length-2];
            blog_archive_year   = path_split[path_split.length-3];
          }

          var component_id = '400002';
          var component_el = jQuery("#component_" + component_id);

          var blog_current_year_el = component_el.find("#blog_archive_year_" + blog_archive_year);
          blog_current_year_el.css({"display": "block"});
          blog_current_year_el.prevAll('.blog_year_li').addClass("expanded")
            .find('.blog_year_link > i').removeClass('glyphicon-plus-sign').addClass('glyphicon-minus-sign');
          component_el.find("#blog_archive_month_" + blog_archive_year + "_" + blog_archive_month).addClass("active");

          component_el.find('.blog_year_link').on('click', function(e) {
            e.preventDefault();
            var el = jQuery(this);
            var year_li = el.parents('.blog_year_li');
            year_li.nextAll('.blog_months_container_li').first().slideToggle('fast');
            if( year_li.hasClass("expanded") ) {
              year_li.find('.blog_year_link > i').removeClass('glyphicon-minus-sign').addClass('glyphicon-plus-sign');
              year_li.removeClass("expanded");
            }
            else {
              year_li.find('.blog_year_link > i').removeClass('glyphicon-plus-sign').addClass('glyphicon-minus-sign');
              year_li.addClass("expanded");
            }
          });
        });
      </script>

    </div>
  </div>
    <div class="rss-feed-button">
      <a href="/blog/subscribe/index.xml" class="btn btn-primary"><i class="icon-rss"></i>Subscribe to blog</a>
    </div>
</div>