<div class="slider single-item">

    <div class="purple-overlay">
        <div class="slider-item__image">
            <img src="{{ path_img }}/prototypes/ysr/img/slides/group-1.jpg" alt="">
        </div>
        <div class="slider-item__content">
            <div class="slider-item__title">
                {{ "Redefine your “happy hour”"|t }}
            </div>
            <div class="slider-item__highlight">
                {{ "and try a group exercise class."|t }}
            </div>
            <div class="slider-item__button">
                <a href="{{ path('ymca_groupex.all_schedules_search') }}" class="btn btn-lg btn-primary purple-medium">{{ "View schedules"|t }}</a>
            </div>
        </div>
    </div>

    <div class="blue-overlay">
        <div class="slider-item__image">
            <img src="{{ path_img }}/prototypes/ysr/img/slides/swim-1.jpg" alt="">
        </div>
        <div class="slider-item__content">
            <div class="slider-item__title">
                {{ "Slide into the final stretch of summer"|t }}
            </div>
            <div class="slider-item__highlight">
                {{ "Down a YMCA waterslide"|t }}
            </div>
            <div class="slider-item__button">
                <a href="{{ path('ymca_groupex.all_schedules_search') }}" class="btn btn-lg btn-primary blue-medium">{{ "Read more"|t }}</a>
            </div>
        </div>
    </div>

    <div class="blue-overlay">
        <div class="slider-item__image">
            <img src="{{ path_img }}/prototypes/ysr/img/slides/swim-2.jpg" alt="">
        </div>
        <div class="slider-item__content">
            <div class="slider-item__title">
                {{ "Looking for a great cardio exercise that’s easy on your joints?"|t }}
            </div>
            <div class="slider-item__highlight">
                {{ "Take a lap in one of our indoor or outdoor pools."|t }}
            </div>
            <div class="slider-item__button">
                <a href="{{ path('ymca_groupex.all_schedules_search') }}" class="btn btn-lg btn-primary blue-medium">{{ "View schedules"|t }}</a>
            </div>
        </div>
    </div>

    <div class="purple-overlay">
        <div class="slider-item__image">
            <img src="{{ path_img }}/prototypes/ysr/img/slides/group-2.jpg" alt="">
        </div>
        <div class="slider-item__content">
            <div class="slider-item__title">
                {{ "Bend, lift or dance your way through"|t }}
            </div>
            <div class="slider-item__highlight">
                {{ "fun workouts with like-minded members"|t }}
            </div>
            <div class="slider-item__button">
                <a href="{{ path('ymca_groupex.all_schedules_search') }}" class="btn btn-lg btn-primary purple-medium">{{ "Read more"|t }}</a>
            </div>
        </div>
    </div>

    <div class="purple-overlay">
        <div class="slider-item__image">
            <img src="{{ path_img }}/prototypes/ysr/img/slides/group-3.jpg" alt="">
        </div>
        <div class="slider-item__content">
            <div class="slider-item__highlight">
                {{ "Try a free group exercise class"|t }}
            </div>
            <div class="slider-item__title">
                {{ "to mix up your workout and meet new people"|t }}
            </div>
            <div class="slider-item__button">
                <a href="{{ path('ymca_groupex.all_schedules_search') }}" class="btn btn-lg btn-primary purple-medium">{{ "View schedules"|t }}</a>
            </div>
        </div>
    </div>

    <div class="green-overlay">
        <div class="slider-item__image">
            <img src="{{ path_img }}/prototypes/ysr/img/slides/fitness-1.jpg" alt="">
        </div>
        <div class="slider-item__content">
            <div class="slider-item__highlight">
                {{ "Log more smiles per mile"|t }}
            </div>
            <div class="slider-item__title">
                {{ "with a wide variety of cardio machines"|t }}
            </div>
            <div class="slider-item__button">
                <a href="#" class="btn btn-lg btn-primary green">{{ "Read more"|t }}</a>
            </div>
        </div>
    </div>

    <div class="green-overlay">
        <div class="slider-item__image">
            <img src="{{ path_img }}/prototypes/ysr/img/slides/fitness-2.jpg" alt="">
        </div>
        <div class="slider-item__content">
            <div class="slider-item__title">
                {{ "Give your metabolism a boost by visiting"|t }}
            </div>
            <div class="slider-item__highlight">
                {{ "the free weights area at your Y."|t }}
            </div>
            <div class="slider-item__button">
                <a href="{{ path('ymca_groupex.all_schedules_search') }}" class="btn btn-lg btn-primary green">{{ "Read more"|t }}</a>
            </div>
        </div>
    </div>
</div>
