{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
  'grid-item',
  'field-collection-item',
  'field-collection-item--name-' ~ field_collection_item.name|clean_class,
]
%}
{% if content.field_cta_link.0['#url'] is empty %}
  {% set extra_classes = ['without-link'] %}
  {% set classes = classes|merge(extra_classes) %}
{% endif %}
{% if content.field_cta_link.0['#url'] is not empty %}
<a href="{{ content.field_cta_link.0['#url'] }}">
{% endif %}
<div{{ attributes.addClass(classes) }}>
  <div class="content"{{ content_attributes }}>
    <div class="inner">
      <h2>{{ content.field_title }}</h2>
      <div class="text">{{ content.field_body_no_summary }}</div>
    </div>
  </div>
</div>
{% if content.field_cta_link.0['#url'] is not empty %}
</a>
{% endif %}
