{#
/**
 * @file
 * Membership page content template.
 *
 * Available variables:
 * - form: search form;
 * - block_price_top: top block;
 * - block_price_bottom: bottom block;
 *
 * @ingroup themeable
 */
#}

<div class="container-full-width">
    <!-- Become a Member -->
  <section class="become-a-member content_wrapper full-width-background-container"><div class="full-width-background-image">
    <img src="{{ assets.top_bg }}" class="img-responsive" alt="" title="" border="0" /><h2>BECOME A MEMBER</h2>
  </div>
  {{ block_become_a_member }}
  </section>

  <div class="membership-form-wrapper container" style="display:none;">
  <div class="row">
    <div class="inline-messages-placeholder"></div>
    <div class="col-md-8 col-sm-8">
      <h2 style="font-family:Cachet;color:#000;margin-bottom:40px;">TRY THE Y FOR FREE</h2>

      <!--  FORM HEADER  -->
      <p class="text-right"><small>* All fields required unless otherwise noted</small></p>
      {{ form }}


    </div>
    <section id="group_1_391534" class="col-md-4 col-sm-4">
      <article class="richtext" id="component_475542">
        {{ block_form_fee }}
      </article>
    </section>
  </div>
</div>

  <!-- Why Join The Y -->
  <section class="why-join-the-why"><div class="container">
    <div class="row">
      <div class="col-sm-12 lead centered">
        <article class="richtext"><h2>WHY JOIN THE Y?</h2>
          <p>The Y is a nonprofit committed to helping everyone thrive at each stage of life. <br /> Our community brings together people of all abilities, ages, ethnicities, financial circumstances,<br /> genders, races, religions and sexual orientations.</p>
          <p>Your membership includes all of the following:</p>
        </article></div>
    </div>
    <div class="row">
      <div class="card col-xs-6 col-sm-3 centered">
        <img src="{{ assets.ico_fitness }}" alt="State-of-the-art fitness center" /><h4>State-of-the-art<br />
          fitness centers</h4>
        <p>Includes exercise machines, stretching areas, free weights and a weight room.</p>
      </div>
      <div class="card col-xs-6 col-sm-3 centered">
        <img src="{{ assets.ico_pools }}" alt="Pools, gyms and running tracks" /><h4>Pools, gyms and<br />
          running tracks</h4>
        <p>A safe environment for swimming, fitness and running for all ages and abilities.</p>
      </div>
      <div class="card col-xs-6 col-sm-3 centered">
        <img src="{{ assets.ico_water }}" alt="Free group and water exercise classes" /><h4>Free group and water exercise<br /> classes</h4>
        <p>With over 60 types of classes to choose from, you’ll find something that’s right for you.</p>
      </div>
      <div class="card col-xs-6 col-sm-3 centered">
        <img src="{{ assets.ico_bicycle }}" alt="Free child care while you workout" /><h4>Free child care while you<br /> workout</h4>
        <p>We offer free play, Kids Gym, arts &amp; crafts, story times and more. </p>
      </div>
    </div>
    <div class="row">
      <div class="card col-xs-6 col-sm-3 col-sm-offset-1-custom centered">
        <img src="{{ assets.ico_branches }}" alt="Access to all Minnesota YMCA branches." /><h4>Access to all Minnesota YMCA<br /> branches.</h4>
        <p>Including access to 21 metro locations in Minnesota.</p>
      </div>
      <div class="card col-xs-6 col-sm-3 centered">
        <img src="{{ assets.ico_money }}" alt="No annual fee" /><h4>No annual fee</h4>
        <p>We believe our services, and not a contract, will keep you around.</p>
      </div>
      <div class="card col-xs-6 col-sm-3 centered">
        <img src="{{ assets.ico_discounts }}" alt="Discounts on swim lesson, day camp and more" /><h4>Savings on swim lesson, day<br /> camp and more</h4>
        <p>Camps at the Y share one thing:
          they’re about discovery</p>
      </div>
    </div>
    <div class="row centered discover-link-wrap">
      <a href="/"><i class="glyphicon glyphicon-plus"></i> Discover the amenities of your preferred YMCA location <i class="mobile glyphicon glyphicon-plus"></i></a>
    </div>
    <article class="discover-section row content_group"><div class="col-sm-6 col-sm-offset-3">
        <section id="group_0_391381" class="col-md-4 col-sm-4 mobile-font-boost"><article class="richtext" id="component_391383"><p><a href="#modal_andover">Andover</a><br /><a href="#modal_blaisdell">Blaisdell</a><br /><a href="#modal_burnsville">Burnsville</a><br /><a href="#modal_eagan"><span>Eagan</span></a><br /><a href="#modal_elk_river"><span>Elk River</span></a><br /><a href="#modal_coon_rapids"><span>Emma B. Howe—Coon Rapids</span></a><br /><a href="#modal_hastings"><span>Hastings</span></a><br /><a href="#modal_heritage_park"><span>Heritage Park—Minneapolis</span></a></p></article></section><section id="group_1_391381" class="col-md-4 col-sm-4 mobile-font-boost"><article class="richtext" id="component_391387"><p><a href="#modal_hudson"><span>Hudson, WI</span></a><br /><a href="#modal_lino_lakes"><span>Lino Lakes</span></a><br /><a href="#modal_minneapolis_downtown"><span>Minneapolis Downtown</span></a><br /><a href="#modal_new_hope"><span>New Hope</span></a><br /><a href="#modal_ridgedale"><span>Ridgedale—Minnetonka</span></a><br /><a href="#modal_river_valley"><span>River Valley—Prior Lake</span></a><br /><a href="#modal_shoreview"><span>Shoreview</span></a></p></article></section><section id="group_2_391381" class="col-md-4 col-sm-4 mobile-font-boost"><article class="richtext" id="component_391390"><p><a href="#modal_southdale"><span>Southdale—Edina</span></a><br /><a href="#modal_st._paul_downtown"><span>St. Paul Downtown</span></a><br /><a href="#modal_st._paul_eastside"><span>St. Paul Eastside</span></a><br /><a href="#modal_st._paul_midway"><span>St. Paul Midway</span></a><br /><a href="#modal_west_st._paul"><span>West St. Paul</span></a><br /><a href="#modal_white_bear"><span>White Bear Area</span></a><br /><a href="#modal_woodbury"><span>Woodbury</span></a></p></article></section></div>
    </article></div>
</section>

  <!-- What Does It Cost -->
  <article class="what-does-it-cost content_wrapper full-width-background-container">
    <div class="full-width-background-image">
      <img src="{{ assets.how_much_bg }}" class="img-responsive" alt="" title="" border="0" />
    </div>
    <article class="container">
      <div class="row">
        {{ block_cost }}
      </div>

      <article class="row content_group row-description">
        <section id="group_0_391450" class="col-sm-12">
          <article class="richtext">
            <p style="color:#5e5e5e;font-size:16px;text-align:center;margin:25px 0 0;">
              *Student memberships are paid on a quarterly basis at $150 per quarter.
            </p>
          </article>
        </section>
      </article>
    </article>
  </article>

  <!-- Ready To Get Started -->
  <section class="ready-to-get-started content_wrapper full-width-background-container"><div class="full-width-background-image">
      <img src="{{ assets.bottom_bg }}" class="img-responsive" alt="" title="" border="0" /><h2>READY TO GET STARTED?</h2>
    </div>
    {{ block_ready_started }}
    </section>

  <!-- Membership Bottom Area -->
  <div class="container membership-bottom-area">
    <article class="row">
      <section class="col-md-4 col-sm-4">
        <article>
          <h3>Membership Plans</h3>
          <p>Get details on {{ link('membership plans and rates', 'base:membership/membership_plans/') }}.</p>
          <br /><h3>Corporate Wellness</h3>
          <p>The Y partners with organizations around the Twin Cities to offer {{ link('corporate wellness programs', 'base:membership/corporate_wellness/') }} for employers and employees.</p>
          <br /><h3>Member Guide</h3>
          <p> {{ link('Find out', 'base:memberguide') }} what’s included, what to expect and how to successfully build healthy habits.</p>
        </article>
      </section>
      <section id="group_1_391439" class="col-md-4 col-sm-4">
        <article class="richtext" id="component_393016">
          <h3>Ways to Save</h3>
          <h4>Health insurance programs</h4>
          <p>Enjoy double-digit reimbursement on your monthly dues. Find your insurance provider:</p>
          <ul><li>BlueCross and BlueShield of Minnesota</li>
            <li>HealthPartners</li>
            <li>Medica</li>
            <li>Preferred One</li>
            <li>UCare</li>
          </ul><h4>Statewide savings</h4>
          <p>Membership with YMCA of the Greater Twin Cities gives you
            {{ link('free access to Minnesota and Hudson, Wisconsin', 'base:membership/statewide_access') }}
            YMCA locations.</p>
        </article>
      </section>
      <section id="group_2_391439" class="col-md-4 col-sm-4">
        <article class="richtext" id="component_393022">
          <h3>Financial Assistance</h3>
          <p>Special rates are available for those who meet income requirements—everyone is welcome to apply for a Y membership. {{ link('Learn more', 'base:membership/financial_assistance/') }}</p>
          <br /><h3>Silver&amp;Fit and SilverSneakers<sup>®</sup></h3>
          <p>The YMCA participates in the Silver&amp;Fit and SilverSneakers program for Medicare age members. Check with your insurance provider to determine if you are eligible.</p>
        </article>
      </section>
    </article>
  </div>

  <!-- Modals content -->
  <div id="user_modals">

<article class="content_wrapper modal-container" id="component_346358">
  <article class="content_wrapper modal-header" id="component_346361">
    <h2 id="component_346367">Andover</h2>
    <hr />
    <span class="plaintext" id="component_346370">763-244-3830</span>
    <span class="plaintext" id="component_346371">15200 Hanson Boulevard, Andover, MN 55304</span>
    <a href="http://maps.google.com/?q=15200%20Hanson%20Boulevard,%20Andover,%20MN%2055304" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346364">
    <article id="component_346379" class="row content_group">


      <section id="group_0_346379" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346386">

          <figure class="text-center image_component" id="component_346389">
            <img src="{{ assets_path }}/lightbox-photo-andover-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350771">
            <img src="{{ assets_path }}/lightbox-photo-andover-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350778">
            <img src="{{ assets_path }}/lightbox-photo-andover-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346379" class="col-md-6 col-sm-6">




        <h3 id="component_346396">Hours</h3>
        <article class="richtext" id="component_346397"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346398">Featured Amenities</h3>
        <article class="richtext" id="component_346399"><p>Fitness Center<br />Indoor Pools<br />Whirlpool<br />Sauna<br />Gym<br />Running/Walking Track</p></article>
        <article class="richtext" id="component_346400"><p><a href="http://www.ymcatwincities.org/locations/andover_ymca_community_center/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346402">
  <article class="content_wrapper modal-header" id="component_346404">
    <h2 id="component_346406">Blaisdell</h2>
    <hr />
    <span class="plaintext" id="component_346408">612-235-7867</span>
    <span class="plaintext" id="component_346409">3335 Blaisdell Ave. S., Minneapolis, MN 55408</span>
    <a href="http://maps.google.com/?q=3335%20Blaisdell%20Ave.%20S.,%20Minneapolis,%20MN%2055408" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346421">
    <article id="component_346423" class="row content_group">


      <section id="group_0_346423" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346425">

          <figure class="text-center image_component" id="component_346427">
            <img src="{{ assets_path }}/lightbox-photo-blaisdell-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350811">
            <img src="{{ assets_path }}/lightbox-photo-blaisdell-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350818">
            <img src="{{ assets_path }}/lightbox-photo-blaisdell-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346423" class="col-md-6 col-sm-6">




        <h3 id="component_346436">Hours</h3>
        <article class="richtext" id="component_346437"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 8pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346438">Featured Amenities</h3>
        <article class="richtext" id="component_346439"><p>Fitness Center<br />Indoor Pool<br />Whirlpool<br />Sauna<br />Gym<br />Running/Walking Track<br />Racquetball, Climbing Wall, Skate Park</p></article>
        <article class="richtext" id="component_346440"><p><a href="http://www.ymcatwincities.org/locations/blaisdell_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346447">
  <article class="content_wrapper modal-header" id="component_346449">
    <h2 id="component_346451">Burnsville</h2>
    <hr />
    <span class="plaintext" id="component_346453">952-232-6718</span>
    <span class="plaintext" id="component_346454">13850 Portland Ave. South, Burnsville, MN 55337</span>
    <a href="http://maps.google.com/?q=13850%20Portland%20Ave.%20South,%20Burnsville,%20MN%2055337" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346466">
    <article id="component_346468" class="row content_group">


      <section id="group_0_346468" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346470">

          <figure class="text-center image_component" id="component_346472">
            <img src="{{ assets_path }}/lightbox-photo-burnsville-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350791">
            <img src="{{ assets_path }}/lightbox-photo-burnsville-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350798">
            <img src="{{ assets_path }}/lightbox-photo-burnsville-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346468" class="col-md-6 col-sm-6">




        <h3 id="component_346481">Hours</h3>
        <article class="richtext" id="component_346482"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346483">Featured Amenities</h3>
        <article class="richtext" id="component_346484"><p>Fitness Center<br />Indoor Pools<br />Whirlpool<br />Sauna<br />Gym<br />Running/Walking Track</p></article>
        <article class="richtext" id="component_346485"><p><a href="http://www.ymcatwincities.org/locations/burnsville_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346533">
  <article class="content_wrapper modal-header" id="component_346535">
    <h2 id="component_346537">Eagan</h2>
    <hr />
    <span class="plaintext" id="component_346539">651-964-4169</span>
    <span class="plaintext" id="component_346540">550 Opperman Drive, Eagan, MN 55123</span>
    <a href="http://maps.google.com/?q=550%20Opperman%20Drive,%20Eagan,%20MN%2055123" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346552">
    <article id="component_346554" class="row content_group">


      <section id="group_0_346554" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346556">

          <figure class="text-center image_component" id="component_346558">
            <img src="{{ assets_path }}/lightbox-photo-eagan-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350826">
            <img src="{{ assets_path }}/lightbox-photo-eagan-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350833">
            <img src="{{ assets_path }}/lightbox-photo-eagan-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346554" class="col-md-6 col-sm-6">




        <h3 id="component_346567">Hours</h3>
        <article class="richtext" id="component_346568"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346569">Featured Amenities</h3>
        <article class="richtext" id="component_346570"><p>Fitness Center<br />Indoor Pools<br />Whirlpool<br />Sauna<br />Gym<br />Running/Walking Track</p></article>
        <article class="richtext" id="component_346571"><p><a href="http://www.ymcatwincities.org/locations/eagan_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346576">
  <article class="content_wrapper modal-header" id="component_346578">
    <h2 id="component_346580">Elk River</h2>
    <hr />
    <span class="plaintext" id="component_346582">763-515-8414</span>
    <span class="plaintext" id="component_346583">13337 Business Center Drive NW, Elk River, MN 55330</span>
    <a href="http://maps.google.com/?q=13337%20Business%20Center%20Drive%20NW,%20Elk%20River,%20MN%2055330" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346595">
    <article id="component_346597" class="row content_group">


      <section id="group_0_346597" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346599">

          <figure class="text-center image_component" id="component_346601">
            <img src="{{ assets_path }}/lightbox-photo-elkriver-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350846">
            <img src="{{ assets_path }}/lightbox-photo-elkriver-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350853">
            <img src="{{ assets_path }}/lightbox-photo-elkriver-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346597" class="col-md-6 col-sm-6">




        <h3 id="component_346610">Hours</h3>
        <article class="richtext" id="component_346611"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346612">Featured Amenities</h3>
        <article class="richtext" id="component_346613"><p>Fitness Center<br />Indoor Pools<br />Whirlpool<br />Sauna<br />Gym<br />Running/Walking Track<br />Outdoor Splash Deck</p></article>
        <article class="richtext" id="component_346614"><p><a href="http://www.ymcatwincities.org/locations/elk_river_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346619">
  <article class="content_wrapper modal-header" id="component_346621">
    <h2 id="component_346623">Emma B. Howe - Coon Rapids</h2>
    <hr />
    <span class="plaintext" id="component_346625">763-515-8427</span>
    <span class="plaintext" id="component_346626">8950 Springbrook Drive, Coon Rapids, MN 55433</span>
    <a href="http://maps.google.com/?q=8950%20Springbrook%20Drive,%20Coon%20Rapids,%20MN%2055433" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346638">
    <article id="component_346640" class="row content_group">


      <section id="group_0_346640" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346642">

          <figure class="text-center image_component" id="component_346644">
            <img src="{{ assets_path }}/lightbox-photo-emma-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350866">
            <img src="{{ assets_path }}/lightbox-photo-emma-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350873">
            <img src="{{ assets_path }}/lightbox-photo-emma-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346640" class="col-md-6 col-sm-6">




        <h3 id="component_346653">Hours</h3>
        <article class="richtext" id="component_346654"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346655">Featured Amenities</h3>
        <article class="richtext" id="component_346656"><p>Fitness Center<br />Indoor Pools<br />Whirlpool<br />Sauna <br />Gym<br />Running/Walking Track<br />Climbing Wall</p></article>
        <article class="richtext" id="component_346657"><p><a href="http://www.ymcatwincities.org/locations/emma_b_howe_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346662">
  <article class="content_wrapper modal-header" id="component_346664">
    <h2 id="component_346666">Hastings</h2>
    <hr />
    <span class="plaintext" id="component_346668">651-829-6507</span>
    <span class="plaintext" id="component_346669">85 Pleasant Drive, Hastings, MN 55033</span>
    <a href="http://maps.google.com/?q=85%20Pleasant%20Drive,%20Hastings,%20MN%2055033" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346681">
    <article id="component_346683" class="row content_group">


      <section id="group_0_346683" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346685">

          <figure class="text-center image_component" id="component_346687">
            <img src="{{ assets_path }}/lightbox-photo-hastings-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350886">
            <img src="{{ assets_path }}/lightbox-photo-hastings-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350893">
            <img src="{{ assets_path }}/lightbox-photo-hastings-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346683" class="col-md-6 col-sm-6">




        <h3 id="component_346696">Hours</h3>
        <article class="richtext" id="component_346697"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346698">Featured Amenities</h3>
        <article class="richtext" id="component_346699"><p>Fitness Center<br />Indoor Pools<br />Whirlpool<br />Sauna<br />Outdoor Splash Deck</p></article>
        <article class="richtext" id="component_346700"><p><a href="http://www.ymcatwincities.org/locations/hastings_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346705">
  <article class="content_wrapper modal-header" id="component_346707">
    <h2 id="component_346709">Heritage Park</h2>
    <hr />
    <span class="plaintext" id="component_346711">612-821-2193</span>
    <span class="plaintext" id="component_346712">1015 4th Avenue North, Minneapolis, MN 55405</span>
    <a href="http://maps.google.com/?q=1015%204th%20Avenue%20North,%20Minneapolis,%20MN%2055405" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346724">
    <article id="component_346726" class="row content_group">


      <section id="group_0_346726" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346728">

          <figure class="text-center image_component" id="component_346730">
            <img src="{{ assets_path }}/lightbox-photo-heritage-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346726" class="col-md-6 col-sm-6">




        <h3 id="component_346739">Hours</h3>
        <article class="richtext" id="component_346740"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>6am – 8:30pm</td>
            </tr><tr><td>Saturday:</td>
              <td>9am – 5pm</td>
            </tr><tr><td>Sunday:</td>
              <td>Closed</td>
            </tr></tbody></table></article>
        <h3 id="component_346741">Featured Amenities</h3>
        <article class="richtext" id="component_346742"><p>Fitness Center<br />Cardio Equipment<br />Strength Conditioning Equipment<br />Two spacious group exercise studios</p></article>
        <article class="richtext" id="component_346743"><p><a href="http://www.ymcatwincities.org/locations/heritage_park_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346748">
  <article class="content_wrapper modal-header" id="component_346750">
    <h2 id="component_346752">Hudson</h2>
    <hr />
    <span class="plaintext" id="component_346754">715-629-9152</span>
    <span class="plaintext" id="component_346755">2211 Vine Street, Hudson,WI 54016</span>
    <a href="http://maps.google.com/?q=2211%20Vine%20Street,%20Hudson,WI%2054016" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346767">
    <article id="component_346769" class="row content_group">


      <section id="group_0_346769" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346771">

          <figure class="text-center image_component" id="component_346773">
            <img src="{{ assets_path }}/lightbox-photo-hudson-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350914">
            <img src="{{ assets_path }}/lightbox-photo-hudson-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350912">
            <img src="{{ assets_path }}/lightbox-photo-hudson-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346769" class="col-md-6 col-sm-6">




        <h3 id="component_346782">Hours</h3>
        <article class="richtext" id="component_346783"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346784">Featured Amenities</h3>
        <article class="richtext" id="component_346785"><p>Fitness Center<br />Indoor Pools<br />Whirlpool<br />Steam Room<br />Gym<br />Running/Walking Track<br />Skate Park</p></article>
        <article class="richtext" id="component_346786"><p><a href="http://www.ymcatwincities.org/locations/hudson_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346791">
  <article class="content_wrapper modal-header" id="component_346793">
    <h2 id="component_346795">Lino Lakes</h2>
    <hr />
    <span class="plaintext" id="component_346797">651-323-2074</span>
    <span class="plaintext" id="component_346798">7690 Village Drive, Lino Lakes,MN 55014</span>
    <a href="http://maps.google.com/?q=7690%20Village%20Drive,%20Lino%20Lakes,MN%2055014" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346810">
    <article id="component_346812" class="row content_group">


      <section id="group_0_346812" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346814">

          <figure class="text-center image_component" id="component_346816">
            <img src="{{ assets_path }}/lightbox-photo-lino-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350934">
            <img src="{{ assets_path }}/lightbox-photo-lino-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350932">
            <img src="{{ assets_path }}/lightbox-photo-lino-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346812" class="col-md-6 col-sm-6">




        <h3 id="component_346825">Hours</h3>
        <article class="richtext" id="component_346826"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346827">Featured Amenities</h3>
        <article class="richtext" id="component_346828"><p>Fitness Center<br />Indoor Pools<br />Sauna<br />Gym<br />Outdoor Path</p></article>
        <article class="richtext" id="component_346829"><p><a href="http://www.ymcatwincities.org/locations/lino_lakes_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346834">
  <article class="content_wrapper modal-header" id="component_346836">
    <h2 id="component_346838">Minneapolis Downtown</h2>
    <hr />
    <span class="plaintext" id="component_346840">612-284-8667</span>
    <span class="plaintext" id="component_346841">30 South 9th Street, Minneapolis, MN 55402</span>
    <a href="http://maps.google.com/?q=30%20South%209th%20Street,%20Minneapolis,%20MN%2055402" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346853">
    <article id="component_346855" class="row content_group">


      <section id="group_0_346855" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346857">

          <figure class="text-center image_component" id="component_346859">
            <img src="{{ assets_path }}/lightbox-photo-mplsdt-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350954">
            <img src="{{ assets_path }}/lightbox-photo-mplsdt-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350952">
            <img src="{{ assets_path }}/lightbox-photo-mplsdt-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346855" class="col-md-6 col-sm-6">




        <h3 id="component_346868">Hours</h3>
        <article class="richtext" id="component_346869"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5:30am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>7am – 8pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346870">Featured Amenities</h3>
        <article class="richtext" id="component_346871"><p>Fitness Center<br />Indoor Pool<br />Whirlpool<br />Sauna + Steam Room<br />Gym<br />Running/Walking Track<br />Racquetball – Handball Courts</p></article>
        <article class="richtext" id="component_346872"><p><a href="http://www.ymcatwincities.org/locations/minneapolis_downtown_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346877">
  <article class="content_wrapper modal-header" id="component_346879">
    <h2 id="component_346881">New Hope</h2>
    <hr />
    <span class="plaintext" id="component_346883">763-244-1052</span>
    <span class="plaintext" id="component_346884">7601 42nd Avenue North, New Hope, MN 55427</span>
    <a href="http://maps.google.com/?q=7601%2042nd%20Avenue%20North,%20New%20Hope,%20MN%2055427" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346896">
    <article id="component_346898" class="row content_group">


      <section id="group_0_346898" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346900">

          <figure class="text-center image_component" id="component_346902">
            <img src="{{ assets_path }}/lightbox-photo-newhope-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350974">
            <img src="{{ assets_path }}/lightbox-photo-newhope-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350972">
            <img src="{{ assets_path }}/lightbox-photo-newhope-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346898" class="col-md-6 col-sm-6">




        <h3 id="component_346911">Hours</h3>
        <article class="richtext" id="component_346912"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346913">Featured Amenities</h3>
        <article class="richtext" id="component_346914"><p>Fitness Center<br />Indoor Pool<br />Whirlpool<br />Sauna<br />Gym<br />Running/Walking Track<br />Outdoor Splash Deck</p></article>
        <article class="richtext" id="component_346915"><p><a href="http://www.ymcatwincities.org/locations/new_hope_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346920">
  <article class="content_wrapper modal-header" id="component_346922">
    <h2 id="component_346924">North Community</h2>
    <hr />
    <span class="plaintext" id="component_346926">612-588-9484</span>
    <span class="plaintext" id="component_346927">1711 West Broadway Ave, Minneapolis, MN 55411</span>
    <a href="http://maps.google.com/?q=1711%20West%20Broadway%20Ave,%20Minneapolis,%20MN%2055411" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346939">
    <article id="component_346941" class="row content_group">


      <section id="group_0_346941" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346943">

          <figure class="text-center image_component" id="component_346945">
            <img src="{{ assets_path }}/lightbox-photo-northcommunity-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346941" class="col-md-6 col-sm-6">




        <h3 id="component_346954">Hours</h3>
        <article class="richtext" id="component_346955"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>2pm – 7:30pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346956">Featured Amenities</h3>
        <article class="richtext" id="component_346957"><p>Group exercise classes<br />XRKade interactive game center <br />Indoor lap pool<br />Meeting rooms<br />Birthday parties</p></article>
        <article class="richtext" id="component_346958"><p><a href="http://www.ymcatwincities.org/locations/north_community_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_346963">
  <article class="content_wrapper modal-header" id="component_346965">
    <h2 id="component_346967">Ridgedale</h2>
    <hr />
    <span class="plaintext" id="component_346969">952-232-6716</span>
    <span class="plaintext" id="component_346970">12301 Ridgedale Drive, Minnetonka, MN 55305</span>
    <a href="http://maps.google.com/?q=12301%20Ridgedale%20Drive,%20Minnetonka,%20MN%2055305" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_346982">
    <article id="component_346984" class="row content_group">


      <section id="group_0_346984" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_346986">

          <figure class="text-center image_component" id="component_346988">
            <img src="{{ assets_path }}/lightbox-photo-ridgedale-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351000">
            <img src="{{ assets_path }}/lightbox-photo-ridgedale-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_350998">
            <img src="{{ assets_path }}/lightbox-photo-ridgedale-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_346984" class="col-md-6 col-sm-6">




        <h3 id="component_346997">Hours</h3>
        <article class="richtext" id="component_346998"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_346999">Featured Amenities</h3>
        <article class="richtext" id="component_347000"><p>Fitness Center<br />Indoor Pool<br />Whirlpool<br />Sauna<br />Gym<br />Running/Walking Track<br />Racquetball – Handball Courts</p></article>
        <article class="richtext" id="component_347001"><p><a href="http://www.ymcatwincities.org/locations/ridgedale_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_347006">
  <article class="content_wrapper modal-header" id="component_347008">
    <h2 id="component_347010">River Valley</h2>
    <hr />
    <span class="plaintext" id="component_347012">952-232-6883</span>
    <span class="plaintext" id="component_347013">3575 N. Berens Road NW, Prior Lake, MN 55379</span>
    <a href="http://maps.google.com/?q=3575%20N.%20Berens%20Road%20NW,%20Prior%20Lake,%20MN%2055379" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_347025">
    <article id="component_347027" class="row content_group">


      <section id="group_0_347027" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_347029">

          <figure class="text-center image_component" id="component_347031">
            <img src="{{ assets_path }}/lightbox-photo-rivervalley-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351020">
            <img src="{{ assets_path }}/lightbox-photo-rivervalley-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351018">
            <img src="{{ assets_path }}/lightbox-photo-rivervalley-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_347027" class="col-md-6 col-sm-6">




        <h3 id="component_347040">Hours</h3>
        <article class="richtext" id="component_347041"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_347042">Featured Amenities</h3>
        <article class="richtext" id="component_347043"><p>Fitness Center<br />Indoor Pools<br />Whirlpool<br />Sauna<br />Outdoor Splash Deck</p></article>
        <article class="richtext" id="component_347044"><p><a href="http://www.ymcatwincities.org/locations/river_valley_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_347049">
  <article class="content_wrapper modal-header" id="component_347051">
    <h2 id="component_347053">Shoreview</h2>
    <hr />
    <span class="plaintext" id="component_347055">651-964-2250</span>
    <span class="plaintext" id="component_347056">3760 Lexington Avenue North, Shoreview, MN 55126</span>
    <a href="http://maps.google.com/?q=3760%20Lexington%20Avenue%20North,%20Shoreview,%20MN%2055126" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_347068">
    <article id="component_347070" class="row content_group">


      <section id="group_0_347070" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_347072">

          <figure class="text-center image_component" id="component_347074">
            <img src="{{ assets_path }}/lightbox-photo-shoreview-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351040">
            <img src="{{ assets_path }}/lightbox-photo-shoreview-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351038">
            <img src="{{ assets_path }}/lightbox-photo-shoreview-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_347070" class="col-md-6 col-sm-6">




        <h3 id="component_347083">Hours</h3>
        <article class="richtext" id="component_347084"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_347085">Featured Amenities</h3>
        <article class="richtext" id="component_347086"><p>Fitness Center<br />Indoor Pool<br />Sauna<br />Gym<br />Running/Walking Track<br />Outdoor Pool</p></article>
        <article class="richtext" id="component_347087"><p><a href="http://www.ymcatwincities.org/locations/shoreview_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_347092">
  <article class="content_wrapper modal-header" id="component_347094">
    <h2 id="component_347096">Southdale</h2>
    <hr />
    <span class="plaintext" id="component_347098">952-314-8317</span>
    <span class="plaintext" id="component_347099">7355 York Avenue South, Edina, MN 55435</span>
    <a href="http://maps.google.com/?q=7355%20York%20Avenue%20South,%20Edina,%20MN%2055435" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_347111">
    <article id="component_347113" class="row content_group">


      <section id="group_0_347113" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_347115">

          <figure class="text-center image_component" id="component_347117">
            <img src="{{ assets_path }}/lightbox-photo-southdale-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351060">
            <img src="{{ assets_path }}/lightbox-photo-southdale-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351058">
            <img src="{{ assets_path }}/lightbox-photo-southdale-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_347113" class="col-md-6 col-sm-6">




        <h3 id="component_347126">Hours</h3>
        <article class="richtext" id="component_347127"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_347128">Featured Amenities</h3>
        <article class="richtext" id="component_347129"><p>Fitness Center<br />Indoor Pools<br />Whirlpool<br />Sauna and Steam Room<br />Gym<br />Racquetball – Handball Courts<br />Climbing Wall and Skate Park</p></article>
        <article class="richtext" id="component_347130"><p><a href="http://www.ymcatwincities.org/locations/southdale_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_347135">
  <article class="content_wrapper modal-header" id="component_347137">
    <h2 id="component_347139">St. Paul Downtown</h2>
    <hr />
    <span class="plaintext" id="component_347141">651-964-4165</span>
    <span class="plaintext" id="component_347142">194 East 6th Street, Saint Paul, MN 55101</span>
    <a href="http://maps.google.com/?q=194%20East%206th%20Street,%20Saint%20Paul,%20MN%2055101" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_347154">
    <article id="component_347156" class="row content_group">


      <section id="group_0_347156" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_347158">

          <figure class="text-center image_component" id="component_347160">
            <img src="{{ assets_path }}/lightbox-photo-stpauldt-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351080">
            <img src="{{ assets_path }}/lightbox-photo-stpauldt-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351078">
            <img src="{{ assets_path }}/lightbox-photo-stpauldt-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_347156" class="col-md-6 col-sm-6">




        <h3 id="component_347169">Hours</h3>
        <article class="richtext" id="component_347170"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5:30am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>7am – 8pm</td>
            </tr></tbody></table></article>
        <h3 id="component_347171">Featured Amenities</h3>
        <article class="richtext" id="component_347172"><p>Fitness Center<br />Indoor Pool<br />Whirlpool<br />Sauna<br />Gym<br />Running/Walking Track<br />Racquetball – Handball Courts</p></article>
        <article class="richtext" id="component_347173"><p><a href="http://www.ymcatwincities.org/locations/st_paul_downtown_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_347178">
  <article class="content_wrapper modal-header" id="component_347180">
    <h2 id="component_347182">St. Paul Eastside</h2>
    <hr />
    <span class="plaintext" id="component_347184">651-321-0684</span>
    <span class="plaintext" id="component_347185">875 Arcade Street, Saint Paul, MN 55106</span>
    <a href="http://maps.google.com/?q=875%20Arcade%20Street,%20Saint%20Paul,%20MN%2055106" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_347197">
    <article id="component_347199" class="row content_group">


      <section id="group_0_347199" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_347201">

          <figure class="text-center image_component" id="component_347203">
            <img src="{{ assets_path }}/lightbox-photo-stpauleast-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351100">
            <img src="{{ assets_path }}/lightbox-photo-stpauleast-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351098">
            <img src="{{ assets_path }}/lightbox-photo-stpauleast-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_347199" class="col-md-6 col-sm-6">




        <h3 id="component_347212">Hours</h3>
        <article class="richtext" id="component_347213"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 8pm</td>
            </tr></tbody></table></article>
        <h3 id="component_347214">Featured Amenities</h3>
        <article class="richtext" id="component_347215"><p>Fitness Center<br />Indoor Pools<br />Sauna and Steam Room<br />Gym<br />Running/Walking Track</p></article>
        <article class="richtext" id="component_347216"><p><a href="http://www.ymcatwincities.org/locations/st_paul_eastside_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_347221">
  <article class="content_wrapper modal-header" id="component_347223">
    <h2 id="component_347225">St. Paul Midway</h2>
    <hr />
    <span class="plaintext" id="component_347227">651-321-0685</span>
    <span class="plaintext" id="component_347228">1761 University Avenue West, Saint Paul, MN 55104</span>
    <a href="http://maps.google.com/?q=1761%20University%20Avenue%20West,%20Saint%20Paul,%20MN%2055104" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_347240">
    <article id="component_347242" class="row content_group">


      <section id="group_0_347242" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_347244">

          <figure class="text-center image_component" id="component_347246">
            <img src="{{ assets_path }}/lightbox-photo-stpaulmid-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351120">
            <img src="{{ assets_path }}/lightbox-photo-stpaulmid-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351118">
            <img src="{{ assets_path }}/lightbox-photo-stpaulmid-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_347242" class="col-md-6 col-sm-6">




        <h3 id="component_347255">Hours</h3>
        <article class="richtext" id="component_347256"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 8pm</td>
            </tr></tbody></table></article>
        <h3 id="component_347257">Featured Amenities</h3>
        <article class="richtext" id="component_347258"><p>Fitness Center<br />Indoor Pool<br />Sauna and Steam Room<br />Gym<br />Running/Walking Track<br />Racquetball – Handball Courts</p></article>
        <article class="richtext" id="component_347259"><p><a href="http://www.ymcatwincities.org/locations/st_paul_midway_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_347264">
  <article class="content_wrapper modal-header" id="component_347266">
    <h2 id="component_347268">West St. Paul</h2>
    <hr />
    <span class="plaintext" id="component_347270">651-674-3432</span>
    <span class="plaintext" id="component_347271">150 Thompson Avenue East, West Saint Paul, MN 55118</span>
    <a href="http://maps.google.com/?q=150%20Thompson%20Avenue%20East,%20West%20Saint%20Paul,%20MN%2055118" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_347283">
    <article id="component_347285" class="row content_group">


      <section id="group_0_347285" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_347287">

          <figure class="text-center image_component" id="component_347289">
            <img src="{{ assets_path }}/lightbox-photo-wsp-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351140">
            <img src="{{ assets_path }}/lightbox-photo-wsp-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351138">
            <img src="{{ assets_path }}/lightbox-photo-wsp-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_347285" class="col-md-6 col-sm-6">




        <h3 id="component_347298">Hours</h3>
        <article class="richtext" id="component_347299"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 8pm</td>
            </tr></tbody></table></article>
        <h3 id="component_347300">Featured Amenities</h3>
        <article class="richtext" id="component_347301"><p>Fitness Center<br />Indoor Pool<br />Sauna<br />Gym<br />Outdoor Pool</p></article>
        <article class="richtext" id="component_347302"><p><a href="http://www.ymcatwincities.org/locations/west_st_paul_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_347307">
  <article class="content_wrapper modal-header" id="component_347309">
    <h2 id="component_347311">White Bear</h2>
    <hr />
    <span class="plaintext" id="component_347313">651-323-2078</span>
    <span class="plaintext" id="component_347314">2100 Orchard Lane, White Bear Lake, MN 55110</span>
    <a href="http://maps.google.com/?q=2100%20Orchard%20Lane,%20White%20Bear%20Lake,%20MN%2055110" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_347326">
    <article id="component_347328" class="row content_group">


      <section id="group_0_347328" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_347330">

          <figure class="text-center image_component" id="component_347332">
            <img src="{{ assets_path }}/lightbox-photo-wba-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351160">
            <img src="{{ assets_path }}/lightbox-photo-wba-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351158">
            <img src="{{ assets_path }}/lightbox-photo-wba-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_347328" class="col-md-6 col-sm-6">




        <h3 id="component_347341">Hours</h3>
        <article class="richtext" id="component_347342"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_347343">Featured Amenities</h3>
        <article class="richtext" id="component_347344"><p>Fitness Center<br />Indoor Pool<br />Sauna<br />Gym<br />Racquetball – Handball Courts<br />Skate Park<br />Outdoor Pool and Outdoor Splash Deck</p></article>
        <article class="richtext" id="component_347345"><p><a href="http://www.ymcatwincities.org/locations/white_bear_area_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


<article class="content_wrapper modal-container" id="component_347350">
  <article class="content_wrapper modal-header" id="component_347352">
    <h2 id="component_347354">Woodbury</h2>
    <hr />
    <span class="plaintext" id="component_347356">651-964-4162</span>
    <span class="plaintext" id="component_347357">2175 Radio Drive, Woodbury, MN 55125</span>
    <a href="http://maps.google.com/?q=2175%20Radio%20Drive,%20Woodbury,%20MN%2055125" class="link-component">Directions</a>

  </article>
  <article class="content_wrapper modal-body" id="component_347369">
    <article id="component_347371" class="row content_group">


      <section id="group_0_347371" class="col-md-6 col-sm-6">




        <article class="content_wrapper carousel-wrapper" id="component_347373">

          <figure class="text-center image_component" id="component_347375">
            <img src="{{ assets_path }}/lightbox-photo-woodbury-1.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351178">
            <img src="{{ assets_path }}/lightbox-photo-woodbury-2.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

          <figure class="text-center image_component" id="component_351180">
            <img src="{{ assets_path }}/lightbox-photo-woodbury-3.jpg" class="img-responsive" alt="" title="" border="0"/>
          </figure>

        </article>

      </section>


      <section id="group_1_347371" class="col-md-6 col-sm-6">




        <h3 id="component_347384">Hours</h3>
        <article class="richtext" id="component_347385"><table border="0"><tbody><tr><td>Mon – Fri:</td>
              <td>5am – 10pm</td>
            </tr><tr><td>Sat – Sun:</td>
              <td>6am – 9pm</td>
            </tr></tbody></table></article>
        <h3 id="component_347386">Featured Amenities</h3>
        <article class="richtext" id="component_347387"><p>Fitness Center<br />Indoor Pools<br />Sauna<br />Gym<br />Running/Walking Track</p></article>
        <article class="richtext" id="component_347388"><p><a href="http://www.ymcatwincities.org/locations/woodbury_ymca/">Go to detailed location page</a><br /><a href="http://www.ymcatwincities.org/membership/amenities/">View all location amenities</a></p></article>

      </section>

    </article>

  </article>

</article>


</div>

</div>
