{#
/**
 * @file
 * Membership page email.
 */
#}
<html>

<head>
  <title>{{ newsletter_name }}</title>
  {#$preview_page_js_tag#}
</head>


<body>

<style type="text/css">

  body {
    background-color: #fff;
    font-size:12px;
    margin: 0;
    padding: 0;
  }
  p {
    margin-top: 5px;
  }
  h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #595959;
    line-height: 135%;
  }

  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #009999;
    line-height: 135%;
    text-transform:uppercase;
  }

  h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    line-height: 125%;
    margin: 20px 0 0 0;
  }

  h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #595959;
    line-height: 135%;
  }

  h5 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
    line-height: 135%;
  }

  h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #595959;
    line-height: 135%;
  }

  img {
    margin: 0;
    display: block;
  }

  a, a:visited {color: #006699; text-decoration: underline;}

  a:hover, a:active {color: #006699; text-decoration: none;}

</style>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="{{ theme_path }}/email/transparent.gif" style="background-repeat: repeat-x" bgcolor="#F8F8F8">
      <table align="center" width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="3"><img src="{{ theme_path }}/email/transparent.gif" width="600" height="25" style="display: block;" border="0" /></td>
        </tr>
        <tr>
          <td width="13"><img src="{{ theme_path }}/email/transparent.gif" width="13" height="25" style="display: block;" border="0" /></td>
          <td width="550" align="left" valign="top">
            <table  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="{{ site_path }}"><img src="{{ theme_path }}/email/email_logo_full.gif" alt="YMCA Twin Cities" width="230" height="75" style="display: block;" border="0"/></a></td>
                <td height="80" width="439" valign="bottom"><div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; color:#999;line-height: 135%; text-align:right; text-transform:uppercase;">
                    {{ current_date_month_text_long }}
                    {{ current_date_day }},
                    {{ current_date_year_long }}</div>
                </td>
              </tr>
            </table>
          </td>
          <td width="12"><img src="{{ theme_path }}/email/transparent.gif" width="12" height="85" style="display: block;" border="0"/></td>
        </tr>
        <tr>
          <td colspan="3"><img src="{{ theme_path }}/email/transparent.gif" width="600" height="8" style="display: block;" border="0"/></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td background="{{ theme_path }}/email/transparent.gif" style="background-repeat: repeat-x" bgcolor="#0060af">
      <table align="center" width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="3"><img src="{{ theme_path }}/email/transparent.gif" width="600" height="8" style="display: block;" border="0" /></td>
        </tr>
        <tr>
          <td width="13"><img src="{{ theme_path }}/email/transparent.gif" width="13" height="22" style="display: block;" border="0" /></td>
          <td width="550" align="left" valign="top"><a href="{{ site_path }}"><img src="{{ theme_path }}/email/email_head.gif" width="230" height="22" style="display: block;" border="0"/></a></td>
          <td width="12"><img src="{{ theme_path }}/email/transparent.gif" width="12" height="22" style="display: block;" border="0"/></td>
        </tr>
        <tr>
          <td colspan="3"><img src="{{ theme_path }}/email/transparent.gif" width="600" height="8" style="display: block;" border="0"/></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <!-- open content table -->
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="13" bgcolor="#FFFFFF"><img src="{{ theme_path }}/email/transparent.gif" width="13" height="25" style="display: block;" border="0"/></td>
          <td width="350" valign="top" bgcolor="#FFFFFF">
            <img src="{{ theme_path }}/email/transparent.gif" width="350" height="10" style="display: block;" />
            <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:15px; color:#595959; line-height: 160%;">
              {{ content_area_1 }}
            </div></td>
          <td width="25" bgcolor="#FFFFFF"><img src="{{ theme_path }}/email/transparent.gif" width="25" height="25" style="display: block;" border="0" /></td>
          <td width="200" bgcolor="#FFFFFF">
            <img src="{{ theme_path }}/email/transparent.gif" width="200" height="20" style="display: block;" border="0"/>
            <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px; color:#595959; line-height: 180%;">
              {{ content_area_2 }}
            </div></td>
          <td width="12" bgcolor="#FFFFFF"><img src="{{ theme_path }}/email/transparent.gif" width="12" height="25" style="display: block;" border="0" /></td>
        </tr>

        <tr>
          <td colspan="5" bgcolor="#FFFFFF"><img src="{{ theme_path }}/email/transparent.gif" width="600" height="25" style="display: block;" border="0" /></td>
        </tr>
      </table> <!-- close content table -->
    </td>
  </tr>
  <tr>
    <td background="{{ theme_path }}/email/transparent.gif" style="background-repeat: repeat-x" bgcolor="#f4f4f4">
      <table align="center" width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="6"><img src="{{ theme_path }}/email/transparent.gif" width="600" height="25" style="display: block;" border="0" /></td>
        </tr>
        <tr>
          <td width="13"><img src="{{ theme_path }}/email/transparent.gif" width="13" height="25" style="display: block;" border="0" /></td>
          <td width="375" align="left" valign="top">
            <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:11px; color:#595959; line-height: 180%;">
              <p>{{ content_area_3 }}<p>
              <p><strong>Copyright &copy; {{ current_date_year_long }} <a href="{{ site_path }}" style="color: #006699">YMCA Twin Cities</a></strong><br>651 Nicollet Mall, Suite 500, Minneapolis, MN 55402</p>
              <p>The YMCA is a 501(c)(3) not-for-profit social services organization dedicated to Youth Development, Healthy Living, and Social Responsibility.</p>
            </div>
          </td>
          <td width="81" align="right" valign="top">
            <a href="http://www.facebook.com/YMCATwinCities"><img src="{{ theme_path }}/email/email_facebook.gif" width="41" height="37" border="0" alt="YMCA Facebook" /></a>
          </td>
          <td width="43" align="right" valign="top">
            <a href="http://twitter.com/ymcatwincities"><img src="{{ theme_path }}/email/email_twitter.gif" width="43" height="37" border="0" alt="YMCA Twitter" /></a>
          </td>
          <td width="47" align="right" valign="top">
            <a href="http://www.youtube.com/user/YMCATwinCities"><img src="{{ theme_path }}/email/email_youtube.gif" width="47" height="37" border="0" alt="YMCA Youtube" /></a>
          </td>
          <td width="41" align="right" valign="top">
            <a href="http://www.flickr.com/photos/ymcatwincities"><img src="{{ theme_path }}/email/email_flickr.gif" width="41" height="37" border="0" alt="YMCA Flickr" /></a>
          </td>
        </tr>
        <tr>
          <td colspan="6"><img src="{{ theme_path }}/email/transparent.gif" width="600" height="30" style="display: block;" border="0"/></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{#$newsletter_approval_link#}
{#$hidden_image_tag#}

</body>
</html>


