<div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;color:#595959;line-height:160%">
  <article>
    <p>Dear {{ firstname }},</p>
    <p>Thank you for your interest in the YMCA. A membership advisor will be contacting you to schedule a visit to learn more about how the Y can meet you and your family’s needs.</p>
    <p>Please bring a valid photo ID, a pad lock and come dressed to workout.</p>
    <p>We look forward to meeting you.</p>
    <p>In Health,</p>
  </article>
  <article>
    <p>{{ location.name }}<br>
      <span>{{ location.address_line1 }}</span><br>
      <span>{{ location.address_line2 }} {{ location.zip }}</span><br>
      {{ location.phone }}
    </p>
    <p>
      {{ location.map }}
    </p>
  </article>
  {{ location.link }}
</div>