<div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;color:#595959;line-height:160%">
  <article>
    <p>Dear {{ firstname }},</p>
    <p>Thanks for your interest in the Y. We’ll be in touch within 24 hours to schedule a time for you to meet with a Membership Advisor.</p>
    <p>We can answer questions and give you a tour of the facility if you wish. We value your time, and will only provide the information that you want so you can get started as soon as you wish.</p>
    <p>Please bring your photo ID, a lock and exercise clothes if you plan to workout that day.</p>
    <p>In Health,</p>
  </article>
  <article>
    <p>{{ location.name }}<br>
      <span>{{ location.address_line1 }}</span><br>
      <span>{{ location.address_line2 }} {{ location.zip }}</span><br>
      {{ location.phone }}
    </p>
    <p>
      {{ location.map }}
    </p>
  </article>
  {{ location.link }}
</div>