{#
/**
 * @file
 * Advanced help block listing as block render.
 *
 * Available variables:
 * - render_type: block or message.
 * - blocks: array of blocks. Contains title, descritpion and youtube_link:
 *
 *
 * @see advanced_help_block_help()
 *
 */
#}

{{ attach_library('advanced_help_block/ahb_modal') }}
{% if render_type is defined %}
    {% if blocks is defined and blocks|length > 0 %}
        <div id="block-help" role="complementary" class="block block-help block-help-block">
            {% if render_type == 'block' %}
                {% for i, block in blocks %}
                    <div class="block-help-item block-help-item-{{ i }} messages messages--info hidden" data-block-id="{{ i }}">
                        {% if block.title is defined %}
                            <strong>{{ block.title }}</strong>
                        {% endif %}
                        <a href="#" class="help-more">{{ 'Show more'|t }}</a>
                        <a href="#" class="help-close">×</a>
                        <div class="help-content hidden">
                            {% if block.description is defined %}
                                {{ block.description }}
                            {% endif %}
                            {% if block.youtube_link is defined %}
                                <p>{{ block.youtube_link }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endif %}
