{#
/**
 * @file
 * Promo block template.
 *
 * Available variables:
 * - header: Block header.
 * - content: Block content.
 * - image: Image.
 * - link: Wrapper link url.
 * - link_text: Wrapper link text.
 *
 * @ingroup themeable
 */
#}
<article class="block featured-highlights-block blog-photo">
  {% if link %}
    <a href="{{ link }}" title="{{ link_text }}" rel="bookmark">
  {% endif %}
    <div class="inner-wrapper">
      <div class="blog-up">
        <div class="img-crop img-crop-horizontal">{{ image }}</div>
      </div>
      <div class="blog-heading">
        <h3><span>{{ header }}</span></h3>
        <div class="promo-text">{{ content }}</div>
      </div>
    </div>
  {% if link %}
    </a>
  {% endif %}
</article>
