{#
/**
 * @file
 * Theme implementation to display the sitemap.
 *
 * Available variables:
 * - message: A configurable introductory message.
 * - sitemap_items: A keyed array of sitemap "boxes".
 *   The keys correspond to the available types of sitemap content, including:
 *   - front
 *   - books
 *   - individual menus
 *   - individual vocabularies
 *   Each items contains the following variables:
 *   - title: The subject of the box.
 *   - content: The content of the box.
 *   - attributes:  Optional attributes for the box.
 *   - options:  Options are set by sitemap.helper service.
 * - additional:
 *
 * @see template_preprocess()
 * @see template_preprocess_sitemap()
 */
#}
<section class="page-header page-title title-only">
  <div class="container title-container">
    <div class="row">
      <div class="col-sm-12 header-copy">
        <h1><span>{{ 'Sitemap Navigation'|t }}</span></h1>
      </div>
    </div>
  </div>
</section>
<div class="container content">
  <div class="row">
    <div class="col-lg-12 col-md-12 categories copy">
      <article class="richtext">
        <div class="sitemap">
          {% if message %}
            <div class="sitemap-message">
              {{ message }}
            </div>
          {% endif %}

          {% if sitemap_items %}
            {% for item in sitemap_items %}
              <div{{ item.attributes.addClass('sitemap-box') }}>
                {% if item.options.show_titles %}
                  <h2>{{ item.title }}</h2>
                {% endif %}
                {{ item.content }}
              </div>
            {% endfor %}
          {% endif %}

          {% if additional %}
            <div class="sitemap-additional">
              {{ additional }}
            </div>
          {% endif %}
        </div>
      </article>
    </div>
  </div>
</div>
