{#
/**
 * @file
 *
 * Available variables:
 * - data: contains all the data..
 */
 *
#}

{{ attach_library('openy_activity_finder/openy_activity_finder') }}

<div id="activity-finder-app">
  <div class="activity-finder__wrapper">

    {% include '@openy_activity_finder/components/af-homepage/af-homepage.html.twig' %}
    {% include '@openy_activity_finder/components/af-age/af-age.html.twig' %}
    {% include '@openy_activity_finder/components/af-day/af-day.html.twig' %}
    {% include '@openy_activity_finder/components/af-activity/af-activity.html.twig' %}

    <router-view class="app-content"></router-view>

    {# step 1 > age/day/program type #}
    <div v-show="step === 1" class="activity-finder__step">
      <div class="activity-finder__step_wrapper">
        <div class="activity-finder__step_header">

          <div class="activity-finder__step_header--progress">
            <div class="container">
              <div class="activity-finder__step_header--progress-inner">
                <div class="d-inline-flex">
                  <span v-if="loading">
                    {% include '@openy_system/openy-system--ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
                  </span>
                  <span v-else class="activity-finder__step_header--progress-spacer">
                    <strong>${ table.count } {{ 'programs'|t }}</strong>
                    <span class="activity-finder__step_header--progress-spacer">|</span>
                    <a v-bind:href="afResultsRef + step_1_query">{{ 'View All'|t }}</a>
                  </span>
                </div>
                <div class="d-inline-flex ml-auto text-right start-over-wrapper">
                  <a href="#" @click.prevent="startOver()" class="start_over">{{ 'Start Over'|t }}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="activity-finder__step_header--actions">
            <div class="row">
              <div class="col-12 col-xs-12 col-sm-8">
                <span v-if="filtersBreadcrumbs1 === ''">{{ 'To find programs, select whatever options apply to you (below)'|t }}</span>
                <span v-else><strong>{{ 'Filters:'|t }}</strong> ${ filtersBreadcrumbs1 }</span>
              </div>
              <div v-if="!loading" class="col-xs-12 col-sm-4 text-right ml-auto actions-buttons">
                <button v-bind:disabled="isStep1NextDisabled" @click.prevent="next()" class="btn btn-primary btn-lg next btn-disabled">{{ 'Next'|t }}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="activity-finder__step_content" v-if="!loading">
          <div class="activity-finder__row row">

            {# Age #}
            {% block af_col_1_class %}
            <div class="activity-finder__col col-sm-4">
            {% endblock %}
              <h3>{{ 'Age'|t }}</h3>

              <div class="row">
                {% for age in ages %}
                  {% block af_col_1_row_class %}
                  <div class="col col-4 col-xs-4 col-sm-6 col-md-4">
                  {% endblock %}
                    <div v-bind:class="{ 'openy-card__item': true, 'selected': cardSelected(checkedAges, {{ age.value }}) }">
                      <label for="af-age-filter-{{ age.value }}" class="justify-content-center" data-mh="openy-card__item-label--ages">
                        <input v-model="checkedAges" type="checkbox" value="{{ age.value }}" id="af-age-filter-{{ age.value }}" class="d-none hidden" />
                        {{- age.label -}}
                      </label>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            {# / Age #}

            {# Day #}
            {% block af_col_2_class %}
            <div class="activity-finder__col col-sm-4">
            {% endblock %}
              <h3>{{ 'Day'|t }}</h3>

              <div class="row">
                {% for day in days %}
                  {% block af_col_2_row_class %}
                  <div class="col col-4 col-xs-4 col-sm-6 col-md-4">
                  {% endblock %}
                  <div v-bind:class="{ 'openy-card__item': true, 'selected': cardSelected(checkedDays, '{{ day.value }}') }">
                    <label for="af-day-filter-{{ day.value }}" class="justify-content-center" data-mh="openy-card__item-label--days">
                      <input v-model="checkedDays" type="checkbox" value="{{ day.value }}" id="af-day-filter-{{ day.value }}" class="d-none hidden" />
                        {{- day.label -}}
                      </label>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            {# / Day #}

            {# Program Type #}
            {% block af_col_3_class %}
            <div v-if="parseInt(hideProgramStep) == 0" class="activity-finder__col col-sm-4">
            {% endblock %}
              <h3>{{ 'Program Type'|t }}</h3>

              <div class="row">
                <div class="col-sm-12" v-for="category in topLevelCategories">
                  <div v-bind:class="{ 'openy-card__item': true, 'selected': cardSelected(checkedProgramTypes, category) }">
                    <label :for="'af-category-filter-' + category" data-mh="openy-card__item-label">
                      <input v-model="checkedProgramTypes" type="{% if categories_type == 'single' %}radio{% else %}checkbox{% endif %}" name="program-types-radios" :value="category" :id="'af-category-filter-' + category" {% if categories_type == 'multiple' %}class="hidden d-none"{% endif %} />
                      ${ category }
                    </label>
                  </div>
                </div>
              </div>
            </div>
            {# / Program Type #}

          </div>
        </div>
      </div>
    </div>
    {# / step 1 #}

    {# step 2 > activities #}

    {# / step 2 #}

    {# step 3 > locations #}
    <div v-show="step === 3" class="activity-finder__step">
      <div class="activity-finder__step_wrapper">

        <div class="activity-finder__step_header">
          <div class="activity-finder__step_header--progress">
            <div class="container">
              <div class="activity-finder__step_header--progress-inner">
                <div class="d-inline-flex">
                  <span v-if="loading">
                    {% include '@openy_system/openy-system--ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
                  </span>
                  <span v-else class="activity-finder__step_header--progress-spacer">
                    <strong>${ table.count } {{ 'programs for:'|t }}</strong> ${ filtersBreadcrumbs1 }, ${ filtersBreadcrumbs2 }
                    <span class="activity-finder__step_header--progress-spacer">|</span>
                    <a v-bind:href="afResultsRef + step_3_query">{{ 'View Results'|t }}</a>
                  </span>
                </div>
                <div class="d-inline-flex ml-auto text-right start-over-wrapper">
                  <a href="#" @click.prevent="startOver()" class="start_over">{{ 'Start Over'|t }}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="activity-finder__step_header--actions">
            <div class="row">
              <div class="col-12 col-xs-12 col-sm-8">
                <span v-if="filtersBreadcrumbs3 === ''">{{ 'Narrow your results further by selecting one or more locations (below)'|t }}</span>
                <span v-else><strong>{{ 'Filters:'|t }}</strong> ${ filtersBreadcrumbs3 }</span>
              </div>
              <div v-if="!loading" class="col-xs-12 col-sm-4 text-right ml-auto actions-buttons">
                <button @click.prevent="skip()" class="btn btn-primary skip btn-lg">{{ 'Skip'|t }}</button>
                <button @click.prevent="next()" class="btn btn-primary next btn-lg">{{ 'Next'|t }}</button>
              </div>
            </div>
          </div>
        </div>

        <div id="locations-accordion-group" class="activity-finder__step_content" v-if="!loading">
          {% for key, locationGroup in locations %}
            <div class="checkbox-group-wrapper">

              {# location accordion > header #}
              <a data-toggle="collapse" aria-expanded="{% if key == 0 %}true{% else %}false{% endif %}" href="#collapse{{ key }}" class="bg-light d-block mb-5{% if key != 0 %} collapsed{% endif %}">
                <div class="row p-3 align-items-center">
                  <div class="col col-xs-7">
                    <div class="d-flex align-items-center">
                      <h3 class="location-group-name m-0 mr-3">{{ locationGroup.label }}</h3>
                      <span v-if="locationsSelected('{{ locationGroup.label }}') > 0" class="badge badge-pill badge-dark px-3 py-2">${ locationsSelected('{{ locationGroup.label }}') }</span>
                    </div>
                  </div>
                  <div class="col-4 col-xs-5 text-right">
                    <span class="h6 text-muted text-gray-500 font-weight-light mr-3">${ getLocationsCounter("{{ key }}") } {{ 'results'|t }}</span>
                    <i class="fa fa-plus plus" aria-hidden="true"></i>
                    <i class="fa fa-minus minus" aria-hidden="true"></i>
                  </div>
                </div>
              </a>
              {# / location accordion > header #}

              {# location panel #}
              {% block location_panel %}
              <div class="panel-collapse collapse{% if key == 0 %} in{% endif %}" id="collapse{{ key }}">
              {% endblock %}
                <div class="row">
                  {% for location in locationGroup.value %}
                    <div class="col-12 col-xs-12 col-sm-6 col-md-4">
                      <div v-bind:class="{'openy-card__item':true, 'no-results':(locationCounter('{{ location.value }}') === 0), 'selected': cardSelected(checkedLocations, '{{ location.value }}')}">
                        <label for="af-filter-location-{{ location.value }}" class="has-subtext" data-mh="openy-card__item-label">
                          <i class="fa fa-map-marker"></i>
                          <input v-if="locationCounter('{{ location.value }}') !== 0" v-model="checkedLocations" type="checkbox" value="{{ location.value }}" data-label="{{ location.label }}" id="af-filter-location-{{ location.value }}" class="d-none hidden">
                          <div class="d-flex flex-column">
                            <span>{{ location.label }}</span>
                            <small>${ locationCounter("{{ location.value }}") } {{ 'results'|t }}</small>
                          </div>
                        </label>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {# / step 3 #}

  </div>
</div>
