{#
/**
 * @file
 *
 * Available variables:
 * - data: contains all the data..
 */
 *
#}

{{ attach_library('openy_activity_finder/openy_activity_finder') }}

<div id="activity-finder-app">
  <div class="activity-finder__wrapper">

    {# start #}
    <div v-show="step === 0" class="activity-finder__step">
      <div class="activity-finder__step_wrapper container">
        <div class="text-center">
          <h1 class="program-search__form--title">{{ 'Program Search'|t }}</h1>

          <form class="program-search__form" role="search">
            <label class="h3 mb-5" for="program-search__keywords">{{ 'How would you like to search for programs?'|t }}</label>
            <div class="row row-eq-height justify-content-center">
              <div class="col-xs-12 col-md-8 d-flex">
                <input type="text" class="program-search__keywords" v-model="keywords" id="program-search__keywords" placeholder="{{ 'Search for programs on your terms ...'|t }}"/>
                <button @click.prevent="submitSearch()" v-bind:disabled="isSearchSubmitDisabled" type="submit" class="btn btn-primary text-white rounded-0"/>
                <i class="fa fa-search" aria-hidden="true"><span class="visually-hidden">{{ 'Submit'|t }}</span></i>
                </button>
              </div>
            </div>

          </form>
        </div>

        <div class="actions">
          <div class="row row-eq-height justify-content-center">

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a @click.prevent="toStep(1)" class="openy-card__item openy-card__link" data-mh="openy-card__item-heading">
                <span class="h4">{{ 'Activity Finder'|t }}</span>
                <span class="openy-card__link--subtext">{{ 'Find exactly what you\'re looking for'|t }}</span>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a v-bind:href="afResultsRef" class="openy-card__item openy-card__link" data-mh="openy-card__item-heading">
                <span class="h4">{{ 'View all programs'|t }}</span>
                <span class="openy-card__link--subtext" v-if="loading">
                  {% include '@openy_system/openy-system--ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
                </span>
                <span class="openy-card__link--subtext" v-else>${ table.count } {{ 'results'|t }}</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    {# / start #}

    {# step 1 > age/day/program type #}
    <div v-show="step === 1" class="activity-finder__step">
      <div class="activity-finder__step_wrapper">
        <div class="activity-finder__step_header">

          <div class="activity-finder__step_header--progress">
            <div class="container">
              <div class="activity-finder__step_header--progress-inner">
                <div class="d-inline-flex">
                  <span v-if="loading">
                    {% include '@openy_system/openy-system--ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
                  </span>
                  <span v-else class="activity-finder__step_header--progress-spacer">
                    ${ table.count } {{ 'programs.'|t }}
                    <span class="activity-finder__step_header--progress-spacer">|</span>
                    <a v-bind:href="afResultsRef + step_1_query">{{ 'View All'|t }}</a>
                  </span>
                </div>
                <div class="d-inline-flex ml-auto text-right start-over-wrapper">
                  <a href="#" @click.prevent="startOver()" class="start_over">{{ 'Start Over'|t }}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="activity-finder__step_header--actions container">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <span v-if="checkedStep1Filters === ''"><strong>{{ 'Step' }} ${ current_step } {{ 'of' }} ${ total_steps }:</strong> {{ 'To find programs, select whatever options apply to you (below)...'|t }}</span>
                <span v-else><strong>{{ 'Filters:'|t }}</strong> ${ checkedStep1Filters }</span>
              </div>
              <div v-if="!loading" class="col-xs-12 col-sm-4 text-right ml-auto actions-buttons">
                <button v-bind:disabled="isStep1NextDisabled" @click.prevent="next()" class="btn btn-primary btn-lg btn-disabled">{{ 'Next'|t }}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="activity-finder__step_content container" v-if="!loading">
          <div class="activity-finder__row row">

            {# Age #}
            {% block af_col_1_class %}
            <div class="activity-finder__col col-sm-4">
            {% endblock %}
              <h3>{{ 'Age'|t }}</h3>

              <div class="row">
                {% for age in ages %}
                  {% block af_col_1_row_class %}
                  <div class="col-xs-4 col-sm-6 col-md-4">
                  {% endblock %}
                    <div class="openy-card__item">
                      <label for="af-age-filter-{{ age.value }}" class="justify-content-center" data-mh="openy-card__item-label--ages">
                        <input v-model="checkedAges" @change="toggleCardState" type="checkbox" value="{{ age.value }}" id="af-age-filter-{{ age.value }}" class="d-none hidden">
                        {{- age.label -}}
                      </label>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            {# / Age #}

            {# Day #}
            {% block af_col_2_class %}
            <div class="activity-finder__col col-sm-4">
            {% endblock %}
              <h3>{{ 'Day'|t }}</h3>

              <div class="row">
                {% for day in days %}
                  {% block af_col_2_row_class %}
                  <div class="col-xs-4 col-sm-6 col-md-4">
                  {% endblock %}
                    <div class="openy-card__item">
                      <label for="af-day-filter-{{ day.value }}" class="justify-content-center" data-mh="openy-card__item-label--days">
                        <input v-model="checkedDays" @change="toggleCardState" type="checkbox" value="{{ day.value }}" id="af-day-filter-{{ day.value }}" class="d-none hidden">
                        {{- day.label -}}
                      </label>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            {# Day #}

            {# Program Type #}
            {% block af_col_3_class %}
            <div class="activity-finder__col col-sm-4">
            {% endblock %}
              <h3>{{ 'Program Type'|t }}</h3>

              <div class="row">
                <div class="col-sm-12" v-for="category in topLevelCategories">
                  <div class="openy-card__item">
                    <label :for="'af-category-filter-' + category" data-mh="openy-card__item-label">
                      <input v-model="checkedProgramTypes" @change="toggleCardState" type="{% if categories_type == 'single' %}radio{% else %}checkbox{% endif %}" name="program-types-radios" :value="category" :id="'af-category-filter-' + category" {% if categories_type == 'multiple' %}class="hidden d-none"{% endif %}>
                      ${ category }
                    </label>
                  </div>
                </div>
              </div>
            </div>
            {# / Program Type #}

          </div>
        </div>
      </div>
    </div>
    {# / step 1 #}

    {# step 2 > activities #}
    <div v-show="step === 2" class="activity-finder__step">
      <div class="activity-finder__step_wrapper">

        <div class="activity-finder__step_header">
          <div class="activity-finder__step_header--progress">
            <div class="container">
              <div class="activity-finder__step_header--progress-inner">
                <div class="d-inline-flex">
                  <span v-if="loading">
                    {% include '@openy_system/openy-system--ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
                  </span>
                  <span v-else class="activity-finder__step_header--progress-spacer">
                    ${ table.count } {{ 'programs for:'|t }} ${ checkedStep2PrevFilters }
                    <span class="activity-finder__step_header--progress-spacer">|</span>
                    <a v-bind:href="afResultsRef + step_2_query">{{ 'View All'|t }}</a>
                  </span>
                </div>
                <div class="d-inline-flex ml-auto text-right start-over-wrapper">
                  <a href="#" @click.prevent="startOver()" class="start_over">{{ 'Start Over'|t }}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="activity-finder__step_header--actions container">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <span v-if="checkedStep2Filters === ''"><strong>{{ 'Step' }} ${ current_step } {{ 'of' }} ${ total_steps }:</strong> {{ 'Narrow your results by selecting one or more activities (below)...'|t }}</span>
                <span v-else><strong>{{ 'Filters:'|t }}</strong> ${ checkedStep2Filters }</span>
              </div>
              <div v-if="!loading" class="col-xs-12 col-sm-4 text-right ml-auto actions-buttons">
                <button @click.prevent="skip()" class="btn btn-primary btn-lg">{{ 'Skip'|t }}</button>
                <button @click.prevent="next()" class="btn btn-primary btn-lg" v-bind:disabled="isStep2NextDisabled">{{ 'Next'|t }}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="activity-finder__step_content container" v-if="!loading">
          <div v-for="topLevelCategory in selectedCategories">
            <h3>${ topLevelCategory.label }</h3>
            <div class="row">
              <div v-for="(item, index) in topLevelCategory.value" class="col-xs-12 col-sm-6 col-md-4">
                <div class="openy-card__item">
                  <label :for="'af-filter-' + item.value" data-mh="openy-card__item-label">
                    <input v-model="checkedCategories" @change="toggleCardState" type="{% if categories_type == 'single' %}radio{% else %}checkbox{% endif %}" :value="item.value" :id="'af-filter-' + item.value" {% if categories_type == 'multiple' %}class="hidden d-none"{% endif %}>
                    ${ item.label }
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    {# / step 2 #}

    {# step 3 > locations #}
    <div v-show="step === 3" class="activity-finder__step">
      <div class="activity-finder__step_wrapper">

        <div class="activity-finder__step_header">
          <div class="activity-finder__step_header--progress">
            <div class="container">
              <div class="activity-finder__step_header--progress-inner">
                <div class="d-inline-flex">
                  <span v-if="loading">
                    {% include '@openy_system/openy-system--ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
                  </span>
                  <span v-else class="activity-finder__step_header--progress-spacer">
                    ${ table.count } {{ 'programs for:'|t }} ${ checkedStep3PrevFilters }
                    <span class="activity-finder__step_header--progress-spacer">|</span>
                    <a v-bind:href="afResultsRef + step_3_query">{{ 'View Results'|t }}</a>
                  </span>
                </div>
                <div class="d-inline-flex ml-auto text-right start-over-wrapper">
                  <a href="#" @click.prevent="startOver()" class="start_over">{{ 'Start Over'|t }}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="activity-finder__step_header--actions container">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <span v-if="checkedStep3Filters === ''"><strong>{{ 'Step' }} ${ current_step } {{ 'of' }} ${ total_steps }:</strong> {{ 'Narrow your results further by selecting one or more locations (below)...'|t }}</span>
                <span v-else><strong>{{ 'Filters:'|t }}</strong> ${ checkedStep3Filters }</span>
              </div>
              <div v-if="!loading" class="col-xs-12 col-sm-4 text-right ml-auto actions-buttons">
                <button @click.prevent="skip()" class="btn btn-primary btn-lg">{{ 'Skip'|t }}</button>
                <button @click.prevent="next()" class="btn btn-primary btn-lg">{{ 'Next'|t }}</button>
              </div>
            </div>
          </div>
        </div>

        <div id="locations-accordion-group" class="activity-finder__step_content container" v-if="!loading">
          {% for key, locationGroup in locations %}
            <div class="checkbox-group-wrapper">

              {# location accordion > header #}
              <a data-toggle="collapse" aria-expanded="{% if key == 0 %}true{% else %}false{% endif %}" href="#collapse{{ key }}" class="bg-light d-block mb-5{% if key != 0 %} collapsed{% endif %}">
                <div class="row p-3 align-items-center">
                  <div class="col col-xs-7">
                    <div class="d-flex align-items-center">
                      <h3 class="location-group-name m-0 mr-3">{{ locationGroup.label }}</h3>
                      <span v-if="locationsSelected('{{ locationGroup.label }}') > 0" class="badge badge-pill badge-dark px-3 py-2">${ locationsSelected('{{ locationGroup.label }}') }</span>
                    </div>
                  </div>
                  <div class="col-4 col-xs-5 text-right">
                    <span class="h6 text-muted text-gray-500 font-weight-light mr-3" style="display:none;">${ getLocationsCounter("{{ key }}") } {{ 'results'|t }}</span>
                    <i class="fa fa-plus plus" aria-hidden="true"></i>
                    <i class="fa fa-minus minus" aria-hidden="true"></i>
                  </div>
                </div>
              </a>
              {# / location accordion > header #}

              {# location panel #}
              {% block location_panel %}
              <div class="panel-collapse collapse{% if key == 0 %} in{% endif %}" id="collapse{{ key }}">
              {% endblock %}
                <div class="row">
                  {% for location in locationGroup.value %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <div v-bind:class="{'openy-card__item':true, 'no-results':(locationCounter('{{ location.value }}') === 0)}">
                        <label for="af-filter-{{ location.value }}" class="has-subtext" data-mh="openy-card__item-label">
                          <i class="fa fa-map-marker"></i>
                          <input v-if="locationCounter('{{ location.value }}') !== 0" v-model="checkedLocations" @change="toggleCardState" type="checkbox" value="{{ location.value }}" id="af-filter-{{ location.value }}" class="d-none hidden">
                          <div class="d-flex flex-column">
                            <span>{{ location.label }}</span>
                            <small>${ locationCounter("{{ location.value }}") } {{ 'results'|t }}</small>
                          </div>
                        </label>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {# / step 3 #}

  </div>
</div>
