{#
/**
 * @file
 *
 * Available variables:
 * - locations: locations of "repeat" entity for filter.
 * - categories: categories of "repeat" entity for filter.
 */
#}

{{ attach_library('openy_activity_finder/openy_activity_finder_search') }}

<div class="schedule-dashboard__wrapper" id="app">

  <div class="activity-finder__step_header">
    <div class="activity-finder__step_header--progress">
      <div class="container">
        <div class="activity-finder__step_header--progress-inner">
          <div class="d-inline-flex">
            <span v-if="loading">
              {% include '@openy_system/openy-system--ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
            </span>
            <span v-else class="activity-finder__step_header--progress-spacer">
              ${ count } {{ 'programs meet your criteria.'|t }}
            </span>
          </div>
          <div class="d-inline-flex ml-auto text-right">
            <a v-bind:href="afPageRef" class="start_over">{{ 'Start Over'|t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      {# sidebar > allows overriding in BS4 compatible themes (carnation), so it can utilize its native mobile breakpoints. #}
      {% block sidebar_wrapper %}
      <div class="col-xs-12 col-sm-12 col-md-3 schedule-dashboard__sidebar">
      {% endblock %}
        {# keywords #}
        <div class="form-group-wrapper schedule-dashboard__search--form">
          <input type="text" class="form-control col-md-9" v-model="keywords" @keyup.enter.prevent="runAjaxRequest()" placeholder="{{ 'Enter your keywords...'|t }}">
          <button class="btn btn-primary col-3 col-md-3 rounded-0" v-on:click.stop.prevent="runAjaxRequest()">
            {# Make customizable since carnation doesn't have glyphicons in v4. #}
            {% block search_icon %}
              <span class="fa fa-search" aria-label="Search"></span>
            {% endblock %}
          </button>
        </div>
        <div class="navbar navbar-default navbar-expand-sm navbar-expand-md flex-sm-column flex-md-column">
          <div class="navbar-header w-100">

            <div class="navbar-controls">
              <span class="navbar-controls__title hidden-xs hidden-sm"><strong>{{ 'Filters'|t }}</strong></span>
              <a v-on:click.stop.prevent="clearFilters()" href="#" class="clear-all">{{ 'Clear all'|t }}</a>
            </div>

            <div class="row hidden-md hidden-lg d-block d-md-none">
              {# mobile toggler button #}
              <div class="col col-xs-8">
                <a data-toggle="collapse" data-target="#schedules-filters" role="button" class="collapsed">
                  <strong>
                    <i class="fa fa-plus plus" aria-hidden="true"></i>
                    <i class="fa fa-minus minus" aria-hidden="true"></i>
                    <span class="plus">{{ 'Show Filters'|t }}</span>
                    <span class="minus">{{ 'Hide Filters'|t }}</span>
                  </strong>
                </a>
              </div>
            </div>

          </div>

          <div id="schedules-filters" class="collapse w-100 flex-column">
            {% block sidebar_filters %}
            <sidebar-filter
              ref="ages_filter"
              title="{{ 'Age'|t }}"
              id="age-filter"
              type="{{ 'tabs'|t }}"
              options='{{ ages|json_encode }}'
              :default='$route.query.ages'
              v-on:updated-values="ages = $event"
            ></sidebar-filter>

            <sidebar-filter
              ref="days_filter"
              title="{{ 'Days'|t }}"
              id="days-filter"
              type="{{ 'tabs'|t }}"
              options='{{ days|json_encode }}'
              :default='$route.query.days'
              v-on:updated-values="days = $event"
            ></sidebar-filter>

            {% if categories_type == 'single' %}
            <sidebar-filter-single
              ref="categories_filter"
              title="{{ 'Category'|t }}"
              id="category-filter"
              type="{{ 'radios'|t }}"
              options='{{ categories|json_encode }}'
              :default='$route.query.categories'
              v-on:updated-values="categories = $event"
            ></sidebar-filter-single>
            {% else %}
            <sidebar-filter
              ref="categories_filter"
              title="{{ 'Category'|t }}"
              id="category-filter"
              type="{{ 'checkboxes'|t }}"
              options='{{ categories|json_encode }}'
              :default='$route.query.categories'
              v-on:updated-values="categories = $event"
            ></sidebar-filter>
            {% endif %}

            <sidebar-filter
              ref="locations_filter"
              title="{{ 'Location'|t }}"
              id="location-filter"
              type="{{ 'checkboxes'|t }}"
              options='{{ locations|json_encode }}'
              :default='$route.query.locations'
              v-on:updated-values="locations = $event"
            ></sidebar-filter>
            {% endblock %}
          </div>
        </div>
      </div>

      {# main table > allows overriding in BS4 compatible themes (carnation), so it can utilize its native mobile breakpoints. #}
      {% block maintable_wrapper %}
      <div class="col-xs-12 col-sm-12 col-md-9 schedule-dashboard__content main-table">
      {% endblock %}

        {# schedules table data #}
        <div>
          <div class="vue-template">

            <div class="schedules-data clearfix">
              <div v-show="loading" class="schedules-loading">
                {% include '@openy_system/openy-system--ajax-spinner.html.twig' %}
              </div>

              <div v-show="!loading" v-for="(item, index) in table" class="schedules-data__row--alt clearfix" style="">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-12">
                        <a href="#" class="program-title" v-on:click="populatePopupMoreInfo(index)" data-toggle="modal" data-target=".schedule-dashboard__modal--more-info">${ item.name }</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="info-wrapper col-sm-4">
                        <span class="dates">${ item.dates }</span>
                      </div>
                      <div class="info-wrapper col-sm-4">
                        <div v-for="(item, index) in item.schedule">
                          <span class="time">${ item.time }</span><br/>
                          <span class="days">${ item.days }</span>
                        </div>
                      </div>
                      <div class="info-wrapper col-sm-4">
                        <a class="schedule-dashboard__modal--location-link" role="button" v-on:click="populatePopupLocation(index)" data-toggle="modal" data-target=".schedule-dashboard__modal--location">${ item.location }</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="availability-wrapper">
                      {# if we do not know if it is available #}
                      <div v-if="item.availability_status.length == 0">
                        <a href="#" v-on:click="populatePopupMoreInfo(index)" data-toggle="modal" data-target=".schedule-dashboard__modal--availability" class="availability-status-btn btn btn-primary btn-block" style="margin-bottom: 20px;" >{{ 'Check Availability'|t }}</a>
                      </div>
                      {# if we know that registration is available #}
                      <div v-if="item.availability_status == 'open'">
                        <a :href="item.link" target="_blank" class="register-btn btn btn-primary btn-block" style="margin-bottom: 10px;">{{ 'Register'|t }}</a>
                        <div v-if="item.availability_note" class="availability-note">${ item.availability_note }</div>
                        <div v-if="item.spots_available" class="spots-availability">${ item.spots_available }</div>
                      </div>
                      {# if we know that registration is NOT available #}
                      <div v-if="item.availability_status == 'closed'">
                        <span class="availability-note">${ item.availability_note }</span>
                      </div>
                      </div>
                    <div v-if="item.price.length > 0" v-html="item.price" class="item-price"></div>
                    <div v-else class="col-sm-3">
                      <span class="availability-note"><i>{{ 'Click on \'Check Availability\' for pricing'|t }}</i></span>
                    </div>
                  </div>
                </div>
              </div>

              <div v-show="table.length == 0 && !loading" class="schedules-empty_results">
                <i class="fa fa-exclamation-circle"></i>
                <span>{{ 'Sorry, no results were found with your search criteria. Please try another selection.'|t }}</span>
              </div>

            </div>
          </div>
          <div v-show="!loading" class="pager-wrapper">
            <div class="page-of">Page ${ current_page } of ${ pager_info.total_pages }</div>
            <div class="pager-controls">
              <a v-if="current_page > 0" href="#" v-on:click.stop.prevent="loadPageNumber(1)" class="btn btn-primary">{{ '|<'|t }}</a>
              <a v-if="current_page > 0" href="#" v-on:click.stop.prevent="loadPrevPage()" class="btn btn-primary">{{ '<'|t }}</a>

              <ul v-if="pager_info.pages">
                <li v-for="(item, index) in pager_info.pages" v-if="!(index >= current_page + 6 || index <= current_page - 6)">
                  <a v-if="current_page != item" href="#" v-on:click.stop.prevent="loadPageNumber(item)">${ item }</a>
                  <span v-else>
                    ${ item }
                  </span>
                </li>
              </ul>

              <a v-if="current_page < pager_info.total_pages" href="#" v-on:click.stop.prevent="loadNextPage()" class="btn btn-primary">{{ '>'|t }}</a>
              <a v-if="current_page < pager_info.total_pages && typeof pager_info.total_pages != 'undefined'" href="#" v-on:click.stop.prevent="loadPageNumber(pager_info.total_pages)" class="btn btn-primary">{{ '>|'|t }}</a>
            </div>
          </div>

          {# modal > program description info  #}
          <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--more-info" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--more-info-link">
            <div class="modal-dialog" role="document">
              <div v-if="moreInfoPopupLoading" class="modal-content">
                {% include '@openy_system/openy-system--ajax-spinner.html.twig' %}
              </div>
              <div v-else class="modal-content" style="font-size: 80%;">
                <div class="schedule-dashboard__modal--header">
                  <h3>{{ "Program details"|t }}</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>

                <div class="schedule-dashboard__modal--body row">
                  <div class="col-md-7 modal-info-main">
                    <h3>${ moreInfoPopup.name }</h3>
                    <p>${ moreInfoPopup.description }</p>

                    <div class="row">
                      <div v-if="moreInfoPopup.ages.length > 0" class="col-md-6">
                        <div><strong>{{ 'Ages:'|t }}</strong>${ moreInfoPopup.ages }</div>
                      </div>
                      <div v-if="moreInfoPopup.gender.length > 0" class="col-md-6">
                        <div><strong>{{ 'Gender:'|t }}</strong>${ moreInfoPopup.gender }</div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-5 modal-info-sidebar">
                    <div v-if="moreInfoPopup.dates.length > 0" class="dates">
                      ${ moreInfoPopup.dates }
                    </div>
                    <div v-if="moreInfoPopup.times.length > 0" class="times">
                      ${ moreInfoPopup.times }
                    </div>
                    <div v-if="moreInfoPopup.days.length > 0" class="days">
                      ${ moreInfoPopup.days }
                    </div>
                    <div v-if="moreInfoPopup.location_name.length > 0" class="location_name">
                      <a v-bind:href="moreInfoPopup.location_url">${ moreInfoPopup.location_name }</a>
                    </div>
                    <div v-if="moreInfoPopup.location_address.length > 0" class="location_address">
                      <span v-html="moreInfoPopup.location_address"></span>
                    </div>
                    <div v-if="moreInfoPopup.location_phone.length > 0" class="location_phone">
                      <strong>Phone:</strong> ${ moreInfoPopup.location_phone }
                    </div>
                    <div class="availability-wrapper">
                      <div class="spots_available"><strong>There are ${ moreInfoPopup.spots_available }</strong></div>
                      <div v-if="moreInfoPopup.availability_note.length > 0" class="availability_note">
                        ${ moreInfoPopup.availability_note }
                      </div>
                      <div v-if="moreInfoPopup.availability_status == 'open'" class="availability_status">
                        <a class="btn btn-lg btn-primary" v-bind:href="moreInfoPopup.link" target="_blank">{{ 'Register'|t }}</a>
                      </div>
                      <div v-if="moreInfoPopup.price.length > 0" class="price">
                        <span v-html="moreInfoPopup.price"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {# modal > more info end #}

          {# modal > location info  #}
          <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--location" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--location-link">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="schedule-dashboard__modal--header">
                  <h3>{{ "Location details"|t }}</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>

                <div class="schedule-dashboard__modal--body row">
                  <div class="col-xs-12">
                    <h3>${ locationPopup.title }</h3>
                    <div class="address" v-html="locationPopup.address"></div>
                    <table class="info">
                      <tbody>
                        <tr v-if="locationPopup.phone">
                          <td><label>{{ 'Phone:'|t }}</label></td>
                          <td><a v-bind:href="'tel:' + locationPopup.phone">${ locationPopup.phone }</a></td>
                        </tr>
                        <tr v-if="locationPopup.email">
                          <td><label>{{ 'Email:'|t }}</label></td>
                          <td><a v-bind:href="'mailto:' + locationPopup.email">${ locationPopup.email }</a></td>
                        </tr>
                        <tr v-if="locationPopup.days.length > 0">
                          <td><label>{{ 'Hours:'|t }}</label></td>
                          <td>
                            <table class="table">
                              <tbody>
                                <tr v-for="row in locationPopup.days">
                                  <td>${ row[0] }</td>
                                  <td>${ row[1] }</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>

                <div v-if="locationPopup.nid" class="schedule-dashboard__modal--footer">
                  <a class="btn btn-lg btn-primary" v-bind:href="'node/' + locationPopup.nid">{{ 'View location'|t }}</a>
                </div>
              </div>
            </div>
          </div>

          {# modal > availability info  #}
          <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--availability" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--availability">
            <div class="modal-dialog" role="document">
              <div v-if="moreInfoPopupLoading" class="modal-content">
                {% include '@openy_system/openy-system--ajax-spinner.html.twig' %}
              </div>
              <div v-else class="modal-content">

                <div class="schedule-dashboard__modal--header">
                  <h3>{{ "Check availability"|t }}</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>

                <div class="schedule-dashboard__modal--body row">
                  <div class="col-xs-12">
                    <div class="spots-availability">${ availabilityPopup.note }</div>
                    <div v-if="availabilityPopup.status == 'open'">
                      <a :href="availabilityPopup.link" class="btn btn-primary" target="_blank">{{ 'Register'|t }}</a>
                      <div v-if="availabilityPopup.price.length > 0" v-html="availabilityPopup.price" class="prices"></div>
                    </div>
                    <div v-else>
                      <span class="btn btn-primary disabled">{{ 'Full'|t }}</span>
                    </div>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
