{#
/**
 * @file
 *
 * Available variables:
 * - locations: locations of "repeat" entity for filter.
 * - categories: categories of "repeat" entity for filter.
 */
#}

{{ attach_library('openy_activity_finder/openy_activity_finder_search') }}

<div class="schedule-dashboard__wrapper" id="app">

  <div class="activity-finder__step_header">
    <div class="activity-finder__step_header--progress">
      <div class="container">
        <div class="activity-finder__step_header--progress-inner">
          <div class="d-inline-flex">
            <span v-if="loading">
              {% include '@openy_system/openy-system--ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
            </span>
            <span v-else class="activity-finder__step_header--progress-spacer">
              ${ count } {{ 'results'|t }}
            </span>
          </div>
          <div class="d-inline-flex ml-auto text-right">
            <a v-bind:href="afPageRef" class="start_over">{{ 'Start Over'|t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row hidden-md hidden-lg d-block d-lg-none">
      {# mobile toggler button #}
      <a href="#" data-toggle="collapse" data-target=".schedule-dashboard__sidebar" role="button" class="collapsed schedule-dashboard__toggle">
        {{ 'REFINE RESULTS'|t }}
        <small v-show="totalGroupCounter() > 0" class="badge">${ totalGroupCounter() }</small>
        <i class="fa fa-plus-circle plus ml-auto" aria-hidden="true"></i>
        <i class="fa fa-minus-circle minus ml-auto" aria-hidden="true"></i>
      </a>
    </div>
    <div class="row">
      {# sidebar > allows overriding in BS4 compatible themes (carnation), so it can utilize its native mobile breakpoints. #}
      {% block sidebar_wrapper %}
      <div class="col-xs-12 col-sm-12 col-md-3 collapse schedule-dashboard__sidebar">
      {% endblock %}
        {# keywords #}
        {% if not is_search_box_disabled %}
        <div class="form-group-wrapper schedule-dashboard__search--form">
          <input type="text" class="form-control col-md-9" v-model="keywords" @keyup.enter.prevent="runAjaxRequest()" placeholder="{{ 'Keyword(s)'|t }}">
          <button class="btn btn-primary col-3 col-md-3 rounded-0" v-on:click.stop.prevent="runAjaxRequest()">
            {# Make customizable since carnation doesn't have glyphicons in v4. #}
            {% block search_icon %}
              <span class="fa fa-search" aria-label="Search"></span>
            {% endblock %}
          </button>
        </div>
        {% endif %}
        <div v-show="!loading" class="schedules-sort schedules-sort-mobile hidden-md hidden-lg d-block d-md-none">
          {% if sort_options is not empty %}
            <select v-model="sort" class="form-control form-select">
              {% for key, item in sort_options %}
                <option value="{{ key }}">{{ item }}</option>
              {% endfor %}
            </select>
          {% endif %}
        </div>
        <div class="navbar navbar-default navbar-expand-sm navbar-expand-md flex-sm-column flex-md-column">
          <div class="navbar-header w-100">

            <div class="navbar-controls">
              <span class="navbar-controls__title">{{ 'FILTERS'|t }}</span>
              <a v-on:click.stop.prevent="clearFilters()" href="#" class="clear-all">{{ 'Clear filters'|t }}</a>
            </div>

          </div>

          <div id="schedules-filters" class="w-100 flex-column">
            <h3>{{ 'Schedule preferences'|t }}</h3>
            {% block sidebar_filters %}
            <sidebar-filter
              ref="ages_filter"
              title="{{ 'Age'|t }}"
              id="age-filter"
              type="{{ 'tabs'|t }}"
              options='{{ ages|json_encode }}'
              :default='$route.query.ages'
              v-on:updated-values="ages = $event"
            ></sidebar-filter>

            <sidebar-filter
              ref="days_filter"
              title="{{ 'Days'|t }}"
              id="days-filter"
              type="{{ 'tabs'|t }}"
              options='{{ days|json_encode }}'
              :default='$route.query.days'
              v-on:updated-values="days = $event"
            ></sidebar-filter>

            <h3>{{ 'Activity preferences'|t }}</h3>
            {% if categories_type == 'single' %}
            <sidebar-filter-single
              ref="categories_filter"
              title="{{ 'Category'|t }}"
              id="category-filter"
              type="{{ 'radios'|t }}"
              options='{{ categories|json_encode }}'
              :default='$route.query.categories'
              v-on:updated-values="categories = $event"
              expanded="true"
              hide_label="true"
            ></sidebar-filter-single>
            {% else %}
            <sidebar-filter
              ref="categories_filter"
              title="{{ 'Category'|t }}"
              id="category-filter"
              type="{{ 'checkboxes'|t }}"
              options='{{ categories|json_encode }}'
              :default='$route.query.categories'
              v-on:updated-values="categories = $event"
              expanded="true"
              hide_label="true"
            ></sidebar-filter>
            {% endif %}

            <h3>{{ 'Location preferences'|t }}</h3>
            <sidebar-filter
              ref="locations_filter"
              title="{{ 'Location'|t }}"
              id="location-filter"
              type="{{ 'checkboxes'|t }}"
              options='{{ locations|json_encode }}'
              :default='$route.query.locations'
              v-on:updated-values="locations = $event"
              expanded="true"
              hide_label="true"
            ></sidebar-filter>
            {% endblock %}
          </div>
        </div>
      </div>

      {# main table > allows overriding in BS4 compatible themes (carnation), so it can utilize its native mobile breakpoints. #}
      {% block maintable_wrapper %}
      <div class="col-xs-12 col-sm-12 col-md-9 schedule-dashboard__content main-table">
      {% endblock %}

        {# schedules table data #}
        <div>
          <div class="vue-template">

            <div v-show="!loading" class="schedules-sort hidden-xs hidden-sm d-none d-lg-block">
              {% if sort_options is not empty %}
              <select v-model="sort" class="form-control form-select">
                {% for key, item in sort_options %}
                  <option value="{{ key }}">{{ item }}</option>
                {% endfor %}
              </select>
              {% endif %}
            </div>

            <div class="schedules-data clearfix">
              <div v-show="loading" class="schedules-loading">
                {% include '@openy_system/openy-system--ajax-spinner.html.twig' %}
              </div>

              <div v-show="!loading" v-for="(item, index) in table" class="schedules-data__row--alt clearfix" style="">
                <div class="row">
                  <div class="col-sm-12">
                    <a href="#" class="program-title" v-on:click="populatePopupMoreInfo(index)" data-toggle="modal" data-target=".schedule-dashboard__modal--more-info">${ item.name }</a>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-wrapper">
                      <span class="dates">${ item.dates }</span> <span class="weeks" v-if="item.weeks">(${ item.weeks }wks)</span>
                    </div>
                    <div class="info-wrapper">
                      <div v-for="(item, index) in item.schedule">
                        <span class="days">${ item.days }</span><br/>
                        <span class="time">${ item.time }</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="info-wrapper">
                      <a class="schedule-dashboard__modal--location-link" role="button" href="#" v-on:click="populatePopupLocation(index)" data-toggle="modal" data-target=".schedule-dashboard__modal--location">${ item.location }</a>
                    </div>
                  </div>
                  <div class="col-sm-4 af-price-availability-wrapper">
                    <div v-html="item.price" class="item-price"></div>
                    {% if not is_spots_available_disabled %}
                    <div class="availability-wrapper">
                      {# if we know that registration is available #}
                      <div v-if="item.availability_status == 'open'">
                        <div v-if="item.spots_available" v-bind:class="[item.spots_available <= 3 ? 'few-spots' : '', 'spots-availability']">${ item.spots_available } spots left</div>
                      </div>
                      {# if we know that registration is NOT available #}
                      <div v-if="item.availability_status == 'closed'">
                        <span class="spots-availability">{{ 'FULL'|t }}</span>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>

              <div v-show="table.length == 0 && !loading" class="af-schedules-empty_results">
                <h2>{{ 'Oh no!'|t }}</h2>
                <br/>
                <p>{{ 'We\'re sorry, but no results meet your search criteria'|t }}</p>
                <br/>
                <br/>
                <p><strong>{{ 'What criteria is most important to you?'|t }}</strong></p>
                <a class="btn" href="#" v-on:click.stop.prevent="searchAlternativeResults('day')">{{ 'Day'|t }}</a><br/>
                <a class="btn" href="#" v-on:click.stop.prevent="searchAlternativeResults('program')">{{ 'Program'|t }}</a><br/>
                <a class="btn" href="#" v-on:click.stop.prevent="searchAlternativeResults('location')">{{ 'Location'|t }}</a><br/>
              </div>

            </div>
          </div>
          <div v-show="table.length > 0 && !loading" class="pager-wrapper">
            <div v-if="typeof pager_info == 'undefined'">
              <a v-if="(typeof pages[current_page - 1] != 'undefined' && pages[current_page - 1] != '') || current_page > 1" href="#" v-on:click.stop.prevent="loadPrevPage()" class="btn btn-primary">{{ 'Prev'|t }}</a>
              <a v-if="typeof pages[current_page + 1] != 'undefined' && pages[current_page + 1] != ''" href="#" v-on:click.stop.prevent="loadNextPage()" class="btn btn-primary">{{ 'Next'|t }}</a>
            </div>
            <div v-else>


              <div  v-if="pager_info.total_pages > 1" class="pager-controls">
                <a v-if="current_page > 0" href="#" v-on:click.stop.prevent="loadPageNumber(1)" class="btn btn-primary">{{ '|<'|t }}</a>
                <a v-if="current_page > 0" href="#" v-on:click.stop.prevent="loadPrevPage()" class="btn btn-primary">{{ '<'|t }}</a>

                <div class="page-of">Page ${ current_page } of ${ pager_info.total_pages }</div>

                <a v-if="current_page < pager_info.total_pages" href="#" v-on:click.stop.prevent="loadNextPage()" class="btn btn-primary">{{ '>'|t }}</a>
                <a v-if="current_page < pager_info.total_pages && typeof pager_info.total_pages != 'undefined'" href="#" v-on:click.stop.prevent="loadPageNumber(pager_info.total_pages)" class="btn btn-primary">{{ '>|'|t }}</a>
              </div>

            </div>
          </div>

          {# modal > program description info  #}
          <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--more-info" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--more-info-link">
            <div class="modal-dialog" role="document">
              <div v-if="moreInfoPopupLoading" class="modal-content">
                {% include '@openy_system/openy-system--ajax-spinner.html.twig' %}
              </div>
              <div v-else class="modal-content" style="font-size: 80%;">
                <div class="schedule-dashboard__modal--header">
                  <h3>{{ "Program details"|t }}</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>

                <div class="schedule-dashboard__modal--body row">
                  {% block modal_info_main %}
                  <div class="col-md-7 modal-info-main">
                  {% endblock %}
                    <h3>${ moreInfoPopup.name }</h3>
                    <p>${ moreInfoPopup.description }</p>
                    <p v-if="moreInfoPopup.ages.length > 0" class="ages">
                      <strong>{{ 'Ages:'|t }}</strong>${ moreInfoPopup.ages }
                    </p>
                    <p v-if="moreInfoPopup.gender.length > 0" class="gender">
                      <strong>{{ 'Gender:'|t }}</strong>${ moreInfoPopup.gender }
                    </p>
                    <div v-html="moreInfoPopup.learn_more" v-if="moreInfoPopup.learn_more.length > 0" class="col-md-12"></div>
                  </div>
                  {% block modal_info_sidebar %}
                  <div class="col-md-5 modal-info-sidebar">
                  {% endblock %}
                    <div v-if="moreInfoPopup.dates.length > 0" class="dates-weeks">
                      <span class="dates">${ moreInfoPopup.dates }</span> (${ moreInfoPopup.weeks }wks)
                    </div>
                    <div v-for="(item, index) in moreInfoPopup.schedule">
                      <div class="days">${ item.days }</div>
                      <div class="time">${ item.time }</div>
                    </div>
                    <div v-if="moreInfoPopup.location_name.length > 0" class="location_name">
                      <a v-bind:href="moreInfoPopup.location_url" target="_blank">${ moreInfoPopup.location_name } <i class="fa fa-external-link"></i></a>
                    </div>
                    <div v-if="moreInfoPopup.price.length > 0" class="price">
                      <span v-html="moreInfoPopup.price"></span>
                    </div>
                    <div class="availability-wrapper">
                      {% if not is_spots_available_disabled %}
                      <div v-if="moreInfoPopup.spots_available != ''" class="spots_available">${ moreInfoPopup.spots_available } spots left</div>
                      {% endif %}
                      <div v-if="moreInfoPopup.availability_status == 'open'" class="availability_status">
                        <a class="btn btn-lg btn-primary" v-bind:href="moreInfoPopup.link" target="_blank">{{ 'Register'|t }}</a>
                      </div>
                    </div>
                    <div v-if="moreInfoPopup.more_results.length > 0" class="more_results">
                      <a v-bind:href="moreInfoPopup.more_results">More results for this program at this location</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {# modal > more info end #}

          {# modal > location info  #}
          <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--location" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--location-link">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="schedule-dashboard__modal--header">
                  <h3>{{ "Location details"|t }}</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>

                <div class="schedule-dashboard__modal--body row">
                  <div class="col-12 col-xs-12">
                    <h3>${ locationPopup.title }</h3>
                    <div class="address" v-html="locationPopup.address"></div>
                    <table class="info">
                      <tbody>
                        <tr v-if="locationPopup.phone">
                          <td><label>{{ 'Phone:'|t }}</label></td>
                          <td><a v-bind:href="'tel:' + locationPopup.phone">${ locationPopup.phone }</a></td>
                        </tr>
                        <tr v-if="locationPopup.email">
                          <td><label>{{ 'Email:'|t }}</label></td>
                          <td><a v-bind:href="'mailto:' + locationPopup.email">${ locationPopup.email }</a></td>
                        </tr>
                        <tr v-if="locationPopup.days.length > 0">
                          <td><label>{{ 'Hours:'|t }}</label></td>
                          <td>
                            <table class="table">
                              <tbody>
                                <tr v-for="row in locationPopup.days">
                                  <td>${ row[0] }</td>
                                  <td>${ row[1] }</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
                </div>

                <div v-if="locationPopup.nid" class="schedule-dashboard__modal--footer">
                  <a class="btn btn-lg btn-primary" target="_blank" v-bind:href="'node/' + locationPopup.nid">{{ 'View location'|t }}</a>
                </div>
              </div>
            </div>
          </div>

          {# modal > availability info  #}
          <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--availability" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--availability">
            <div class="modal-dialog" role="document">
              <div v-if="moreInfoPopupLoading" class="modal-content">
                {% include '@openy_system/openy-system--ajax-spinner.html.twig' %}
              </div>
              <div v-else class="modal-content">

                <div class="schedule-dashboard__modal--header">
                  <h3>{{ "Check availability"|t }}</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>

                <div class="schedule-dashboard__modal--body row">
                  <div class="col-12 col-xs-12">
                    <div class="spots-availability">${ availabilityPopup.note }</div>
                    <div v-if="availabilityPopup.status == 'open'">
                      <a :href="availabilityPopup.link" class="btn btn-primary" target="_blank">{{ 'Register'|t }}</a>
                      <div v-if="availabilityPopup.price.length > 0" v-html="availabilityPopup.price" class="prices"></div>
                    </div>
                    <div v-else>
                      <span class="btn btn-primary disabled">{{ 'Full'|t }}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
