{#
/**
 * @file
 *
 * Available variables:
 * - data: contains all the data.
 */
 *
#}

{{ attach_library('openy_activity_finder/openy_activity_finder') }}

<div id="activity-finder-app">
  <div class="activity-finder__wrapper">
     <activity-finder
        :ages='{{ ages|json_encode }}'
        :days='{{ days|json_encode }}'
        :categories='{{ categories|json_encode }}'
        :categories_type='{{ categories_type|json_encode }}'
        :activities='{{ activities|json_encode }}'
        :locations='{{ locations|json_encode }}'
     ></activity-finder>
  </div>
</div>
