{#
/**
 * @file
 *
 * Available vue variables:
 * - table.count:
 * - checkedStep1Filters:
 * - checkedStep2Filters:
 * - topLevelCategory.label:
 * - item.label:
 */
 *
#}

<div class="activity-finder__step_wrapper">

  <div class="activity-finder__step_header">
    <div class="activity-finder__step_header--progress">
      <div class="container">
        <div class="activity-finder__step_header--progress-inner">
          <div class="d-inline-flex">
            <span v-if="loading">
              {% include '@openy_activity_finder/ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
            </span>
            <span v-else class="activity-finder__step_header--progress-spacer">
              ${ table.count } {{ 'programs for:'|t }} ${ checkedStep1Filters }
              <span class="activity-finder__step_header--progress-spacer">|</span>
              <a v-bind:href="afResultsRef + step_2_query">{{ 'View All'|t }}</a>
            </span>
          </div>
          <div class="d-inline-flex ml-auto text-right">
            <a href="#" @click.prevent="startOver()" class="start_over">{{ 'Start Over'|t }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="activity-finder__step_header--actions container">
      <div class="row">
        <div class="col-xs-8">
          <span v-if="checkedStep2Filters === ''"><strong>{{ 'Step 2 of 3:' }}</strong> {{ 'Narrow your results by selecting one or more activities (below)...'|t }}</span>
          <span v-else><strong>{{ 'Filters:'|t }}</strong> ${ checkedStep2Filters }</span>
        </div>
        <div class="col-xs-4 text-right">
          <button @click.prevent="skip()" class="btn btn-primary btn-lg">{{ 'Skip'|t }}</button>
          <button @click.prevent="next()" class="btn btn-primary btn-lg">{{ 'Next'|t }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="activity-finder__step_content container" v-if="!loading">
    <div v-for="topLevelCategory in selectedCategories">
      <h3>${ topLevelCategory.label }</h3>
      <div class="row">
        <div v-for="(item, index) in topLevelCategory.value" class="col-xs-12 col-sm-6 col-md-4">
          <div class="openy-card__item">
            <label :for="'af-filter-' + item.value">
              <input v-model="checkedActivities" @change="toggleCardState" type="checkbox" :value="item.value" :id="'af-filter-' + item.value" class="d-none hidden">
              ${ item.label }
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>