{#
/**
 * @file
 *
 * Available vue variables:
 * - table.count:
 * - checkedStep1Filters:
 * - checkedStep2Filters:
 * - topLevelCategory.label:
 * - item.label:
 */
 *
#}

<div class="activity-finder__step_wrapper">

  <div class="activity-finder__step_header">
    <div class="activity-finder__step_header__line1">
      <div class="container">
        <span v-if="loading">
          {% include '@openy_activity_finder/ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
        </span>
        <span v-else>${ table.count }</span> {{ 'programs for:'|t }} ${ checkedStep2Filters } |
        <a v-bind:href="afResultsRef + step_3_query">{{ 'View Results'|t }}</a>
        <a href="#" @click.prevent="startOver()" class="start_over">{{ 'Start Over'|t }}</a>
      </div>
    </div>
    <div class="activity-finder__step_header__line2 container">
      <span v-if="checkedStep3Filters === ''"><strong>{{ 'Step 3 of 3:' }}</strong> {{ 'Narrow your results further by selecting one or more locations (below)...'|t }}</span>
      <span v-else><strong>{{ 'Filters:'|t }}</strong> ${ checkedStep3Filters }</span>
      <div class="actions">
        <button @click.prevent="skip()" class="btn btn-primary btn-lg">{{ 'Skip'|t }}</button>
        <button @click.prevent="next()" class="btn btn-primary btn-lg">{{ 'Next'|t }}</button>
      </div>
    </div>
  </div>

  <div class="activity-finder__step_content container" v-if="!loading">
    {% for locationGroup in locations %}
      <div class="checkbox-group-wrapper">
        <h3>{{ locationGroup.label }}</h3>
        <div class="row">
          {% for location in locationGroup.value %}
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="openy-card__item">
                <label for="af-filter-{{ location.value }}" class="has-subtext">
                  <i class="fa fa-map-marker"></i>
                  <input v-model="checkedLocations" @change="toggleCardState" type="checkbox" value="{{ location.value }}" id="af-filter-{{ location.value }}" class="d-none hidden">
                  <div class="d-flex flex-column">
                    {{ location.label }}
                    <small>${ locationCounter("{{ location.value }}") } {{ 'results'|t }}</small>
                  </div>
                </label>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>