{#
/**
 * @file
 *
 * Available variables:
 * - table.count: Total number of programs.
 */
 *
#}

<div class="activity-finder__step_wrapper container">
  <div class="text-center">
    <h1 class="program-search__form--title">{{ 'Program Search'|t }}</h1>

    <form class="program-search__form" role="search">
      <label class="h3" for="program-search__keywords">{{ 'How would you like to search for programs?'|t }}</label>
      <div class="row row-eq-height justify-content-center">
        <div class="col-xs-12 col-md-8 d-flex">
          <input type="text" class="program-search__keywords" v-model="keywords" id="program-search__keywords"
                 placeholder="{{ 'Search for programs on your terms ...'|t }}"/>
          <button @click.prevent="next()" type="submit" class="btn btn-primary text-white rounded-0"/>
            <i class="fa fa-search" aria-hidden="true"><span class="visually-hidden">{{ 'Submit'|t }}</span></i>
          </button>
        </div>
      </div>

    </form>
  </div>

  <div class="actions">
    <div class="row row-eq-height justify-content-center">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <a @click.prevent="toStep(1)" class="openy-card__item openy-card__link">
          <span class="h4">{{ 'Activity Finder'|t }}</span>
          <span class="openy-card__link--subtext">{{ 'Find exactly what you\'re looking for'|t }}</span>
        </a>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <a v-bind:href="afResultsRef" class="openy-card__item openy-card__link">
          <span class="h4">{{ 'View all programs'|t }}</span>
          <span class="openy-card__link--subtext" v-if="loading">
            {% include '@openy_activity_finder/ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
          </span>
          <span class="openy-card__link--subtext" v-else>${ table.count } {{ 'results'|t }}</span>
        </a>
      </div>

    </div>
  </div>
</div>
