{#
/**
 * @file
 *
 * Available vue variables:
 * - table.count:
 * - checkedStep1Filters:
 * - checkedStep2Filters:
 * - topLevelCategory.label:
 * - item.label:
 */
 *
#}

<div class="activity-finder__step_wrapper">

  <div class="activity-finder__step_header">
    <div class="activity-finder__step_header--progress">
      <div class="container">
        <div class="activity-finder__step_header--progress-inner">
          <div class="d-inline-flex">
            <span v-if="loading">
              {% include '@openy_activity_finder/ajax-spinner.html.twig' with { 'size': 'small', 'flow': 'inline' } %}
            </span>
            <span v-else class="activity-finder__step_header--progress-spacer">
              ${ table.count } {{ 'programs for:'|t }} ${ checkedStep2Filters }
              <span class="activity-finder__step_header--progress-spacer">|</span>
              <a v-bind:href="afResultsRef + step_3_query">{{ 'View Results'|t }}</a>
            </span>
          </div>
          <div class="d-inline-flex ml-auto text-right">
            <a href="#" @click.prevent="startOver()" class="start_over">{{ 'Start Over'|t }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="activity-finder__step_header--actions container">
      <div class="row">
        <div class="col-xs-8">
          <span v-if="checkedStep3Filters === ''"><strong>{{ 'Step 3 of 3:' }}</strong> {{ 'Narrow your results further by selecting one or more locations (below)...'|t }}</span>
          <span v-else><strong>{{ 'Filters:'|t }}</strong> ${ checkedStep3Filters }</span>
        </div>
        <div class="col-xs-4 text-right">
          <button @click.prevent="skip()" class="btn btn-primary btn-lg">{{ 'Skip'|t }}</button>
          <button @click.prevent="next()" class="btn btn-primary btn-lg">{{ 'Next'|t }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="activity-finder__step_content container" v-if="!loading">
    {% for locationGroup in locations %}
      <div class="checkbox-group-wrapper">
        <h3>{{ locationGroup.label }}</h3>
        <div class="row">
          {% for location in locationGroup.value %}
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div v-bind:class="{'openy-card__item':true, 'no-results':(locationCounter('{{ location.value }}') === 0)}">
                <label for="af-filter-{{ location.value }}" class="has-subtext">
                  <i class="fa fa-map-marker"></i>
                  <input v-if="locationCounter('{{ location.value }}') !== 0" v-model="checkedLocations" @change="toggleCardState" type="checkbox" value="{{ location.value }}" id="af-filter-{{ location.value }}" class="d-none hidden">
                  <div class="d-flex flex-column">
                    {{ location.label }}
                    <small>${ locationCounter("{{ location.value }}") } {{ 'results'|t }}</small>
                  </div>
                </label>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>