{#
/**
 * @file
 * Locations page content template.
 *
 *
 * @ingroup themeable
 */
#}
<section class="page-header page-title title-only">
  <div class="container title-container">
    <div class="row">
      <div class="col-sm-12 header-copy">
        <h1>{{ 'Locations'|t }}</h1>
        <article class="richtext">
          <p>
            {% trans %}
              Membership includes access to all <a class="white-underlined-link" href="{{ base_path }}locations/ymcas_outside_the_metro"><span class="underlined">Minnesota Ys</span><span class="grey-caret"></span></a>
            {% endtrans %}
          </p>
        </article>
      </div>
    </div>
  </div>
</section>


<section class="content">
  <div class="container">
    <section class="messages">
    </section>
    <div class="row">
      <div class="col-sm-12 categories copy"><div id="component_617244" class="map">
          <div class="map_area map-canvas hidden-xs"></div>
          <div class="row">
            <div class="map_controls col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form" role="form">
                        <div class="row">
                          <div class="col-sm-5 loc">
                            <div class="form-group">
                              <div class="input-group search">
                                <span class="input-group-btn with-geo">
                                  <a class=" btn btn-default locateme" title="Locate Me">
                                    <span class="inline-hidden-sm">{{ 'Locate Me'|t }}</span>
                                  </a>
                                </span>
                                <label class="sr-only">{{ 'Address'|t }}</label>
                                <input type="text" class="form-control search_field" placeholder="Enter ZIP or street address"/>
                                <span class="input-group-btn btn-submit">
                                  <a class=" btn btn-default">{{ 'Search'|t }}</a>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label class="sr-only">{{ 'Distance'|t }}</label>
                              <select class="distance_limit_value distance_limit form-control">
                                <option class="all_locations" value="">{{ 'All locations'|t }}</option>
                                <option value="5">{{ '5 miles'|t }}</option>
                                <option value="10" selected>{{ '10 miles'|t }}</option>
                                <option value="30">{{ '30 miles'|t }}</option>
                                <option value="50">{{ '50 miles'|t }}</option>
                                <option value="100">{{ '100 miles'|t }}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="btn-group-justified btn-group tag_filters form-group"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 location-list-header"></div>
            <div class="location_list location-list"></div>
          </div>
          <br style="clear:both;"/>
        </div>
      </div>
    </div>
  </div>
</section>
