{#
/**
 * @file
 * Default theme implementation to display a node.
 */
#}
{%
set classes = [
  'subprogram-listing-item',
  'clearfix',
  'row',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="col-sm-5 image">
    <a href="{{ url }}">{{ content.field_category_image }}</a>
  </div>
  <div class="col-sm-7 content">
    <h2>{{ label }}</h2>
    {{ content.field_category_description }}
    <a href="{{ url }}" class="btn btn-link blue" aria-label="{{ node.label }} {{ 'read more'|t }}">{{ 'Read more'|t }}</a>
  </div>
</article>
