{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% if form.messages is defined %}
  <div class="row">
    {{ form.messages }}
  </div>
{% endif %}
<div class="compain-email-form">
  <div class="description">
    {% if form.email_value is defined %}
      <p>{{ 'Your current email is <b>@email</b>'|t({ '@email': form.email_value['#value'] }) }}</p>
    {% else %}
      <p>{{ 'Your current email is <b>@email</b>'|t({ '@email': '{{retentionC.storage.member.email}}' }) }}</p>
    {% endif %}
  </div>
  {% if form.email is defined %}
    {{ form.email }}
  {% endif %}
  <div class="form-btn-wrapper">
    {{ form.submit }}
  </div>
</div>
{{ form|without('email', 'submit', 'messages') }}
