<section id="carousel" class="carousel slide carousel-fade  masthead-carousel" data-interval="false">
  <ol class="carousel-indicators">
    {% for slide in field_promo_slideshow_referenced_items %}
      <li data-target="#carousel" data-slide-to="{{ slide.id }}" {% if slide.id == 0 %} class=" active" {% endif %}></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner even-heights">
    {% for slide in field_promo_slideshow_referenced_items %}
      <div class="item {% if slide.id == 0 %} active {% endif %}">
        <div class="row">
          <div class="col-md-8 image">
            <div class="img-lg visible-md visible-lg" style="background-image: url({{ slide.img_url }});"></div>
            <img class="img-responsive hidden-lg hidden-md" src="{{ slide.img_url }}">
          </div>
          <div class="caption col-md-4">
            <div class="carousel-caption" style="height: 310px;">
              <h1>{{ slide.title }}</h1>
              <br>
              {% if slide.btn_url != '' %}
                <a class="btn btn-primary btn-lg" href="{{ slide.btn_url }}">{{ slide.btn_title }}</a>
              {% endif %}
              <p></p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
  <a class="left carousel-control hidden-xs" href="#carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control hidden-xs" href="#carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</section>
