{% set template = 'header-without-image.html.twig' %}
{% if content.field_header_image.0 is defined %}
  {% set template = 'header-with-image.html.twig' %}
{% endif %}

{% extends '@ymca/layout/header/' ~ template %}

{% block label_and_description %}
  <h1>{{ label }}</h1>
  <article class="richtext">
    <p>{{ content.field_page_description }}</p>
  </article>
{% endblock %}

{% block content_image %}
  {% if (node.field_header_variant.0.value == 'image') %}
    <figure class="text-center image_component">
      {{ content.field_header_image }}
    </figure>
  {% elseif (node.field_header_variant.0.value == 'button') %}
    {{ content.field_header_button }}
  {% endif %}
{% endblock %}

{% block backgroundimage_url %}
  {% if (node.field_header_variant.0.value == 'image') %}
    background-image: url({{ node.field_header_image.0.entity.url() }});
  {% endif %}
{% endblock %}