<div class="viewport">
    {{ page.header }}
    <div id="main" role="main">
        {% block content %}
            {{ page.content }}
        {% endblock %}
        <section class="content">
            <div class="container">
                {% if page.highlighted %}
                    <div class="container alerts-wrapper">
                        {{ page.highlighted }}
                    </div>
                {% endif %}
            </div>
            <div class="container-full-width">
                <style id="main-styles">
                    .nav-global.navbar-default.navbar {
                        display: none;
                        top: 0 !important;
                    }

                    #sidebar {
                        margin-top: 33px;
                        border-right: 0;
                    }

                    #page-head,
                    .breadcrumb-container {
                        display: none !important;
                    }

                    .viewport {
                        background: #fff;
                    }

                    #main {
                        margin-top: 0;
                    }

                    .page-middle .content {
                        padding-top: 0;
                        padding-bottom: 0;
                    }

                    #top-nav {
                        background-color: #b2d8e;
                        background-image: -webkit-linear-gradient(#5b2d8e, #532881);
                        background-image: -moz-linear-gradient(#5b2d8e, #532881);
                        background-image: -o-linear-gradient(#5b2d8e, #532881);
                        background-image: linear-gradient(#5b2d8e, #532881);
                        height: 72px;
                        line-height: 72px;
                        padding: 0 30px;
                    }

                    #top-nav ul {
                        float: right;
                        list-style-image: none;
                        list-style-type: none;
                        margin: 0;
                    }

                    #top-nav ul li {
                        display: inline-block;
                    }

                    #top-nav ul li a {
                        color: #fff;
                        font-size: 18px;
                        display: inline-block;
                        padding: 0 40px;
                        font-family: "Cachet", Arial, sans-serif;
                    }

                    #top-nav ul li a:hover {
                        text-decoration: none;
                        background-color: #532881;
                        background-image: -webkit-linear-gradient(#532881, #5b2d8e);
                        background-image: -moz-linear-gradient(#532881, #5b2d8e);
                        background-image: -o-linear-gradient(#532881, #5b2d8e);
                        background-image: linear-gradient(#532881, #5b2d8e);
                    }

                    #top-nav .back-link {
                        color: #aa9ebb;
                        display: inline-block;
                        font-size: 16px;
                    }

                    #top-nav .back-link .glyphicon {
                        font-size: 12px;
                        margin-right: 5px;
                    }

                    #hero-section {
                        background: url("{{ path_to_img_march }}ymca_member_retention_hero.jpg") no-repeat center 0;
                        background-size: cover;
                        position: relative;
                        padding: 107px 0 100px;
                    }

                    #hero-section img {
                        width: 100%;
                    }

                    #hero-section .logo {
                        background: url("{{ path_to_img_march }}ymca-white-logo.png") no-repeat 0 0;
                        background-size: contain;
                        height: 111px;
                        margin: 0 auto 60px;
                        width: 145px;
                    }

                    #hero-section .container {
                        text-align: center;
                        width: 100%;
                    }

                    #hero-section .date {
                        color: #c6188b;
                        font-size: 50px;
                        font-family: "Cachet", Arial, sans-serif;
                        font-weight: bold;
                        text-shadow: 2px 2px 7px #000;
                    }

                    #hero-section h1 {
                        color: #fff;
                        font-size: 100px;
                        font-family: "Cachet", Arial, sans-serif;
                        font-weight: bold;
                        text-shadow: 2px 2px 7px #000;
                        margin: 0;
                    }

                    #main-description {
                        padding: 80px 0 75px;
                    }

                    #main-description .col-xs-12 {
                        text-align: center;
                        padding: 0 50px;
                    }

                    #main-description h2 {
                        font-size: 25px;
                        margin: 30px 0 20px;
                        color: #000;
                        text-transform: uppercase;
                    }

                    #main-description p {
                        color: #777;
                        font-size: 20px;
                        line-height: 25px;
                        font-family: "Cachet", Arial, sans-serif;
                    }

                    #main-description .wrap,
                    #main-description-individual .wrap {
                        height: 100px;
                        line-height: 100px;
                    }

                    #main-description-individual {
                        padding: 80px 0 60px;
                    }

                    #main-description-individual .col-xs-12 {
                        text-align: center;
                        padding: 0 50px;
                    }

                    #main-description-individual h2 {
                        font-size: 25px;
                        margin: 40px 0 15px;
                        color: #c51a8b;
                        text-transform: uppercase;
                    }

                    #main-description-individual p {
                        color: #777;
                        font-size: 20px;
                        line-height: 25px;
                        font-family: "Cachet", Arial, sans-serif;
                        margin-bottom: 35px;
                    }

                    #main-description-individual p span {
                        color: #424242;
                    }

                    #main-description-individual p.other-winners {
                        color: #a7a7a7;
                    }

                    #main-description-individual .your-prize {
                        border: 2px solid #fbae1f;
                        border-radius: 2px;
                        max-width: 380px;
                        margin: 75px auto 25px;
                        font-weight: bold;
                        color: #f37823;
                        font-size: 20px;
                        line-height: 25px;
                        text-transform: uppercase;
                        padding: 50px 20px;
                        position: relative;
                    }

                    #main-description-individual .your-prize img {
                        position: absolute;
                        top: -22px;
                        left: 50%;
                        margin-left: -22px;
                    }

                    .ymca-retention-iframe {
                        width: 100%;
                    }

                    .img-responsive {
                        width: 100%;
                    }

                    #prizes {
                        background: url("{{ path_to_theme_img }}prizes_bg.png") no-repeat center 0;
                        background-size: cover;
                        padding: 95px 0 30px;
                    }

                    #more-prizes {
                        padding: 95px 0 30px;
                        background: #fff;
                    }

                    #prizes .container, #more-prizes .container {
                        padding: 0 15px;
                        max-width: 790px;
                    }

                    #prizes .grand-prize {
                        background: url("{{ path_to_theme_img }}winners_grand_prize_title.png") no-repeat center 0;
                        padding: 48px 0 0;
                        margin-bottom: 100px;
                    }

                    #prizes .grand-prize p {
                        color: #777;
                        font-size: 20px;
                        line-height: 25px;
                        text-align: center;
                        font-family: "Cachet", Arial, sans-serif;
                        margin-bottom: 0;
                    }

                    #prizes .grand-prize .col-sm-6 .inner {
                        background: #fff url("{{ path_to_theme_img }}winners_tickets.png") no-repeat 35px 26px;
                        padding: 25px 20px 25px 133px;
                        font-family: "Cachet", Arial, sans-serif;
                        margin-bottom: 30px;
                    }

                    #prizes .grand-prize .winner {
                        color: #c6188b;
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    #prizes .grand-prize .name {
                        color: #5c2d8f;
                        font-size: 20px;
                        line-height: 25px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    #prizes .grand-prize .id {
                        color: #424242;
                        font-size: 15px;
                        font-weight: bold;
                    }

                    #prizes .grand-prize .location-line {
                        color: #777;
                        font-size: 15px;
                    }

                    #prizes .grand-prize .location-line span {
                        color: #c6188b;
                        margin-right: 4px;
                    }

                    #prizes .first-prize {
                        background: url("{{ path_to_theme_img }}first_prize_title.png") no-repeat center 0;
                        padding: 40px 0 0;
                        font-family: "Cachet", Arial, sans-serif;
                    }

                    #prizes .first-prize p {
                        color: #777;
                        font-size: 20px;
                        line-height: 25px;
                        text-align: center;
                        margin-bottom: 0;
                    }

                    #prizes .first-prize p:first-child {
                        color: #000;
                    }

                    #prizes .first-prize .titles {
                        margin: 27px 0 15px;
                    }

                    #prizes .first-prize .card-1 .inner {
                        background: #fff url("{{ path_to_theme_img }}first_prize_1.png") no-repeat 35px 36px;
                        padding: 25px 20px 25px 133px;
                        margin-bottom: 30px;
                    }

                    #prizes .first-prize .card-2 .inner {
                        background: #fff url("{{ path_to_theme_img }}first_prize_2.png") no-repeat 34px 25px;
                        padding: 25px 20px 25px 133px;
                        margin-bottom: 30px;
                    }

                    #prizes .first-prize .winner {
                        color: #f47920;
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    #prizes .first-prize .name {
                        color: #ec1d24;
                        font-size: 20px;
                        line-height: 25px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    #prizes .first-prize .id {
                        color: #424242;
                        font-size: 15px;
                        font-weight: bold;
                    }

                    #prizes .first-prize .location-line {
                        color: #777;
                        font-size: 15px;
                    }

                    #prizes .first-prize .location-line span {
                        color: #f05923;
                        margin-right: 4px;
                    }

                    #second-prize {
                        background: url("{{ path_to_theme_img }}winners_2nd_prize_title.png") no-repeat center 0;
                        padding: 40px 0 0;
                        margin: 0;
                        font-family: "Cachet", Arial, sans-serif;
                    }

                    #third-prize {
                        background: url("{{ path_to_theme_img }}winners_3rd_prize_title.png") no-repeat center 0;
                        padding: 40px 0 0;
                        margin: 100px 0 100px;
                        font-family: "Cachet", Arial, sans-serif;
                    }

                    .second-third-prizes-wrapper .container {
                        padding: 0 15px;
                        max-width: 790px;
                    }

                    .second-third-prizes-wrapper .sub-title {
                        color: #777;
                        font-size: 20px;
                        line-height: 25px;
                        text-align: center;
                        margin-bottom: 0;
                        padding: 20px 0;
                    }

                    .second-third-prizes-wrapper .form-select {
                        max-width: 380px;
                        margin: 60px auto;
                        font-size: 14px;
                        height: 50px;
                    }

                    .results-table {
                        margin-bottom: 30px;
                        width: 100%;
                    }

                    .results-table td {
                        color: #777;
                        font-size: 13px;
                        line-height: 20px;
                        padding: 15px 5px;
                    }

                    .results-table td:first-child {
                        color: #424242;
                        width: 10%;
                    }

                    .results-table td.name {
                        color: #00aa95;
                        font-weight: bold;
                        font-size: 15px;
                        text-transform: uppercase;
                        width: 60%;
                    }

                    .results-table .even td {
                        background-color: #f9f9f9;
                    }

                    #second-prize .results-table td.name {
                        width: 55%;
                    }

                    #second-prize .results-table td:first-child {
                        width: 30%;
                        color: #777;
                        font-size: 15px;
                    }

                    #third-prize .results-table td.name {
                        color: #0889cd;
                    }

                    @media screen and (max-width: 768px) {
                        .nav-global.navbar-default.navbar {
                            display: block;
                        }

                        #top-nav {
                            display: none;
                        }

                        #hero-section .date {
                            font-size: 30px;
                        }

                        #hero-section h1 {
                            font-size: 40px;
                            margin-top: 20px;
                        }

                        #main-description {
                            padding: 30px 0;
                        }

                        #main-description p br {
                            display: none;
                        }

                        #main-description h2 {
                            margin: 10px 0 20px;
                        }

                        #prizes {
                            padding: 30px 0 0;
                        }

                        #prizes .grand-prize {
                            margin-bottom: 50px;
                        }

                        #second-prize,
                        #third-prize {
                            margin: 50px 0;
                        }

                        .results-table {
                            margin-bottom: 0;
                        }
                    }
                </style>
                <nav class="nav-global navbar-default navbar" style="top: 0px;">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".sidebar-left">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">YMCA Twin Cities</a>
                        </div>
                    </div>
                </nav>
                <div id="top"></div>
                <div id="sidebar" class="sidebar sidebar-left collapse width">
                    <ul id="sidebar-nav" class="nav-level-0 nav in">
                        <li class="dropdown back-to-full-menu nav-level-1 open active">
                            <ul class="nav dropdown-menu">
                                <li><a href="/">BACK TO YMCA TWIN CITIES</a></li>
                                <li><a href="/">Prizes</a></li>
                                <li><a href="/">YMCA Quiz</a></li>
                                <li><a href="http://ymcatwincities.org/march/rules">Detailed
                                        Rules</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- TOP BAR -->
                <nav id="top-nav"><a href="/" class="back-link">
                        <span class="glyphicon glyphicon-arrow-left"></span>BACK TO YMCA
                        TWIN CITIES
                    </a>
                    <ul>
                        <li><a href="#prizes">Prizes</a></li>
                        <li><a href="#quiz">YMCA Quiz</a></li>
                        <li><a href="http://ymcatwincities.org/march/rules">Detailed
                                Rules</a></li>
                    </ul>
                </nav>
                <!-- HERO SECTION -->
                <div id="hero-section">
                    <div class="container">
                        <div class="logo"></div>
                        <div class="date">MARCH 7-27 2016</div>
                        <h1>UP YOUR GAME!</h1>
                    </div>
                </div>
                {% if not winner_message %}
                    <div id="main-description">
                        <div class="row">
                            <div class="container">
                                <div class="col-xs-12">
                                    <div class="wrap">
                                        <img src="{{ path_to_theme_img }}winners_user1.png" alt="Thank you for playing!">
                                    </div>
                                    <h2>Thank you for playing!</h2>

                                    <p>Please check your email<br/>
                                        to see the results.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div id="main-description-individual">
                        <div class="row">
                            <div class="container">
                                <div class="col-xs-12">
                                    <div class="wrap">
                                        <img src="{{ path_to_theme_img }}winners_user1.png" alt="Thank you for playing!">
                                    </div>
                                    <h2>CONGRATULATIONS!</h2>

                                    <p>You have won the <span>{{ winner_message.title }}:</span></p>

                                    <div class="your-prize">
                                        <img src="{{ path_to_theme_img }}winners_cup_ico.png" alt=""/>
                                        {{ winner_message.prize }}
                                    </div>
                                    <p>Your prize has been credited to <br/> your account.</p>

                                    <p class="other-winners">See other winners below.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div id="prizes">
                    <div class="container grand-prize">
                        <div class="row">
                            <p>4 suite tickets to the </p>

                            <p>Minnesota Timberwolves vs Dallas Mavericks</p>

                            <p>April 3, 2016</p>
                            <br/><br/>
                            {% for item in winners.grand_prize %}
                                <div class="col-sm-6">
                                    <div class="inner">
                                        <div class="winner">winner:</div>
                                        <div class="name">{{ item.name }}</div>
                                        <div class="id">ID: ******** {{ item.id }}</div>
                                        <div class="location-line">
                                            <span class="glyphicon glyphicon-map-marker bullet"></span>{{ item.location }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="container first-prize">
                            <div class="row">
                                <div class="col-sm-6 titles">
                                    <p>Shabazz Muhammed</p>

                                    <p>signed basketball</p>
                                    <br/>
                                </div>
                                <div class="col-sm-6 titles">
                                    <p>Andrew Wiggins</p>

                                    <p>signed jersey</p>
                                    <br/>
                                </div>
                                {% for item in winners.first_prize %}
                                    <div class="col-sm-6 card-{{ loop.index }}">
                                        <div class="inner">
                                            <div class="winner">winner:</div>
                                            <div class="name">{{ item.name }}</div>
                                            <div class="id">ID: ******** {{ item.id }}</div>
                                            <div class="location-line">
                                                <span class="glyphicon glyphicon-map-marker bullet"></span>{{ item.location }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="more-prizes">
                    <div id="second-prize" class="second-third-prizes-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="sub-title">3 month of Membership</p>
                                </div>
                                <div class="table-location">
                                    <div class="col-sm-12">
                                        <table class="results-table">
                                            <tbody>
                                            {% for key, winner in winners.second_prize %}
                                                <tr class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                                    <td>{{ winner.location }}</td>
                                                    <td class="name">{{ winner.name }}</td>
                                                    <td>ID: ******** {{ winner.id }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="third-prize" class="second-third-prizes-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="sub-title">3 months of towel service</p>
                                    <select class="form-select form-control text">
                                        {% for id, name in winners.third_prize.locations %}
                                            <option
                                                    {% if loop.first %} selected="selected"{% endif %} value="{{ id }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% for key, location in winners.third_prize.winners %}
                                    <div class="table-location table-location-{{ key }} hide">
                                        <div class="col-sm-6">
                                            <table class="results-table">
                                                <tbody>
                                                {% for winner in location|slice(0, 20) %}
                                                    <tr class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                                        <td>{{ loop.index }}.</td>
                                                        <td class="name">{{ winner.name }}</td>
                                                        <td>ID: ******** {{ winner.id }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-6">
                                            <table class="results-table">
                                                <tbody>
                                                {% for winner in location|slice(20, 40) %}
                                                    <tr class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                                        <td>{{ (20) + loop.index }}.</td>
                                                        <td class="name">{{ winner.name }}</td>
                                                        <td>ID: ******** {{ winner.id }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--googleoff: index-->
    <footer id="page-footer" class="page-footer">
        <div class="container">

            {% if page.footer %}
                {{ page.footer }}
            {% endif %}

            <div class="col-sm-3 text-center">
                {% include "@ymca/brand-link.html.twig" %}
            </div>

            <nav class="col-sm-6">
                <nav class="nav-footer row">
                    {{ page.footer_menu }}
                </nav>
            </nav>
            <div class="col-sm-3 social-disclaimer">
                {{ page.footer_social }}
                <p id="cw"></p>
            </div>
        </div>
    </footer>

    <div class="text-center return-to-top" data-spy="affix" data-offset-top="39">
        <a href="#top" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>

    {{ page.messages }}

    <!--googleon: index-->
</div>
