{#
/**
 * @file
 * Display tabs selector on the page.
 */
#}
{% if content.tabs is not empty %}
<div class="container">
  <ul class="nav nav-tabs compain-tabs hidden-xs">
    {% for tab, settings in content.tabs %}
      {% if loop.last %}
        {% set attributes = attributes.addClass('last') %}
      {% endif %}
      <li{{ attributes.addClass(settings.tab_class) }} data-ng-class="retentionC.tabSelectorClass('{{tab}}')">
        <a href="javascript:void(0)" data-ng-click="retentionC.tabSelectorClick('{{tab}}', false)" data-tab-id="{{tab}}" data-type="tab">
          {{ settings.tab_text|t }}
        </a>
      </li>
      {% set attributes = attributes.removeClass(settings.tab_class) %}
      <li class="ng-hide" data-ng-class="retentionC.tabSelectorClass('{{tab}}')">
        <a href="#{{tab}}" data-toggle="tab" data-ng-click="retentionC.tabSelectorClick('{{tab}}', false)" data-tab-id="{{tab}}" data-type="accordion">
          {{ settings.tab_text|t }}
        </a>
      </li>

      {% if settings.campaign_not_started %}
      <li class="ng-hide">
        <a href="#{{tab}}" class="campaign-not-started" data-toggle="modal" data-target="{{ settings.campaign_not_started_modal_id }}" data-tab-id="{{tab}}" data-type="tabs-lock">
          {{ settings.tab_text|t }}
        </a>
      </li>
      {% endif %}

      {% if settings.login_required %}
      <li class="ng-hide">
        <a href="#{{tab}}" class="login-required" data-toggle="modal" data-target="#ymca-retention-modal" data-tab-id="{{tab}}" data-type="login">
          {{ settings.tab_text|t }}
        </a>
      </li>
      {% endif %}

    {% endfor %}
  </ul>
</div>
{% endif %}
