<style scoped>
    #block-campaignmemberregister .container {
        height: 100%
    }
    @media (min-width: 760px) { /* or 301 if you want really the same as previously.  */
        .page-node-type-campaign-page #block-campaignmemberregister .container {
            height: {{  campaign.field_campaign_image.0.height }}px !important;
        }
    }
</style>
<div class="container" style="
        background-image: url('{{ file_url(campaign.field_campaign_image.entity.fileuri) }}');
        ">
<h1>{{ campaign.title.value }} </h1>
    <h2 class="finish-date">
        {{ campaign.field_campaign_start_date.value|date('F') }}

        {{ campaign.field_campaign_start_date.value|date('d') }} -
        {{ campaign.field_campaign_end_date.value|date('d') }} ,
        {{ campaign.field_campaign_end_date.value|date('Y') }}
    </h2>
    <div id="countDown" class="countdown">
    </div>
    {{ form }}
</div>
