{#
/**
 * @file
 * Theme implementation for Leadership Block.
 *
 * Available variables
 * - leaders: Array with all leaders of current Campaign by branch and activity..
 *
 * @ingroup themeable
 */
#}

<div class="leadership-wrapper">
    <div class="leadership-members table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Rank'|t }}</th>
                <th>{{ 'Total'|t }}</th>
                <th>{{ 'Name'|t }}</th>
                <th>{{ extended_registration ? 'ID'|t : 'Membership ID'|t }}</th>
            </tr>
            </thead>
            <tbody>
            {% for leader in leaders %}
                <tr>
                    <td>{{ leader.rank }}</td>
                    <td>{{ leader.total }}</td>
                    <td>{{ leader.name }}</td>
                    <td> ***** {{ leader.membership_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
