{#
/**
 * @file
 * Theme implementation for Campaign Activity Tracking ('campaign_activity_statistics_block') block.
 *
 * Available variables
 * - activities: Array of Activity Tracking forms for every activity and date.
 *
 * @ingroup themeable
 */
#}

<div class="activity">

  <div class="paragraph-background-container">
    <div class="calendar">
      <div class="paragraph-container">
        <h2>My Activity</h2>
        <div class="calendar-wrapper">
          <h3 class="current-month"></h3>
          <div class="month">
            {% for key in activities|keys %}
              {# key should match 2017-08-12 pattern #}
              {% if key matches '/^[\\d]\{4\}-[\\d]\{2\}-[\\d]\{2\}$/' %}
                {# if another month started close the list and open a new one. #}
                {% set additionClass = '' %}
                {% if  key|date('d/m') ==  "now"|date("d/m") %}
                  {% set additionClass = 'now' %}
                {% endif %}
                <div data-date="{{ key }}" class="date-data {{ additionClass }}">
                  <span class="day">{{ key|date('d') }}</span>
                  <span class="weekday">{{ key|date('D') }}</span>
                  <span class="month">{{ key|date('F') }}</span>
                  <div class="visits">
                    <div class="entriesNum">
                      No entry found
                    </div>
                    {% set row = attribute(activities, key) %}
                    <div class="visited">
                      {% if row.checkin is defined %}
                        visited
                      {% else %}
                        not visited
                      {% endif %}
                    </div>

                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="activity-data">
    <div class="categories">
      <ul></ul>
    </div>
    {% for key in activities|keys %}
      {# key should match 2017-08-12 pattern #}
      {% if key matches '/^[\\d]\{4\}-[\\d]\{2\}-[\\d]\{2\}$/' %}

        <div class="activity-daily-data {{ key }}" style="display:none">
          {% set row = attribute(activities, key) %}
          {% for formKey in row|keys %}
            {% if formKey matches '/^[\\d]+$/' %}
              <div class="category-data">
                {{ attribute(row, formKey) }}
              </div>
            {% endif %}
          {% endfor %}
        </div>

      {% endif %}
    {% endfor %}
  </div>
  {% if progress %}
    <div class="personal-progress">
      <h3>{{ 'Your progress:'|trans }} {{ progress.current }} / {{ progress.goal }}</h3>
      <div class="progress" style="height: 40px;">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
             style="width: {{ progress.percent }}%;" aria-valuenow="{{ progress.current }}" aria-valuemin="0"
             aria-valuemax="{{ progress.goal }}">
        </div>
      </div>
    </div>
  {% endif %}
</div>
