{# copy form so we can remove rendered elements from it #}
{% set formCopy = form %}
<div class="activity">

    <div class="paragraph-background-container">
      <div class="calendar">
        <div class="paragraph-container">
          <h2>My Activity</h2>
          <div class="calendar-wrapper">
            <div class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <ul class="month">
                {% for key in form|keys %}
                    {# key should match 2017-08-12 pattern #}
                    {%  if key matches '/^[\\d]\{4\}-[\\d]\{2\}-[\\d]\{2\}$/' %}
                        {# if another month started close the list and open a new one. #}
                        {% set additionClass = '' %}
                        {% if  key|date('d/m') ==  "now"|date("d/m")  %}
                            {% set additionClass = 'active' %}
                        {% endif %}
                        <li class="date-data {{ additionClass }}" style="display: none;">
                            <span class="day">{{ key|date('d') }}</span>
                            <span class="weekday">{{ key|date('D') }}</span>
                            <span class="month">{{ key|date('M') }}</span>
                            <div class="visits">
                                <div class="entriesNum">
                                    No entry found
                                </div>

                                {% set row = attribute(form, key) %}
                                <div class="visited">
                              {%  if row.checkin is defined %}
                                  visited
                              {% else %}
                                  not visited
                              {%  endif %}
                              </div>

                            </div>
                            <div class="data">
                                <span class="categories">
                            {% for formKey in row|keys %}
                                {%  if formKey matches '/^[\\d]+$/' %}
                                    <div class="row">{{ attribute(row, formKey) }}</div>
                                {% endif %}
                            {% endfor %}
                        </span>
                            </div>
                        </li>
                    {%  endif %}
                {% endfor %}
            </ul>
            <div class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
    </div>



  <div class="activity-data">
    <div class="categories">
    </div>
      <div class="category-data">
      </div>
  </div>
</div>

