{#
/**
 * @file
 * Theme implementation for Visits goal / Activity count block.
 *
 * Available variables
 * - goal: Visits goal. How many visits member should do to reach the campaign goal.
 * - current: Current checkins number.
 * - goal_message: My Visits block text from Track Activity page. Get from module settings form '/admin/config/system/openy-campaign'.
 * - trackActvDesc: Description text from 'field_tracking_actv_goal_desc' field.
 * - enActvCounter: Show Activity count with enActvCounter = 1. Show Visit Tracking with enActvCounter = 0.
 * - countedActv: Array with counted activities groupped by name.
 *
 * @ingroup themeable
 */
#}

<div class="visits-goal">
    {% if enActvCounter == true %}
        <div class="description">
            {{ trackActvDesc|raw }}
        </div>
        {% for activity in countedActv %}
            <p><span>{{ activity.name }}</span>: <span>{{ activity.count }}</span></p>
        {% endfor %}
    {% else %}
        <div class="visits-goal-header">
            <div class="header-description">
                <p>{{ goal_message }}</p>
            </div>
        </div>
        <div class="visits-goal-progress">
            <div class="progress-line"></div>
            {% set pointNum = 0 %}
            <div class="progress-row">
                {% for i in 1..goal %}
                {% set activeClass = '' %}
                {% set pointNum = pointNum + 1 %}
                {# Used for the development purpose only #}
                {% set symbol = '-' %}
                {% if (i <= current) %}
                    {% set activeClass = ' active' %}
                    {% set symbol = '*' %}
                {% endif %}
                <span class="point point-{{ pointNum }}{{ activeClass }}">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="33pt" height="30pt" viewBox="0 0 33 30" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,30.000000) scale(0.100000,-0.100000)" fill="#ccc" stroke="none">
                            <path d="M7 294 c-17 -18 -2 -61 61 -171 62 -108 70 -118 97 -118 27 0 35 10 98 119 45 80 67 128 65 145 l-3 26 -156 3 c-85 1 -158 -1 -162 -4z"/>
                        </g>
                    </svg>
                    <span class="point-count">{{ i }}</span>
                </span>
                {% if i is divisible by(5) %}
                {% set pointNum = 0 %}
            </div>
            <div class="progress-row">
                {% endif %}
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="description">
            {{ trackActvDesc|raw }}
            <p class="uppercase">
                {{ 'Your goal is:'|t }} <span class="goal goal-number">{{ goal }}<span
                            class="goal goal-text"> {{ 'visits'|t }}</span></span>
            </p>
            <p>
                {{ 'Visits are updated nightly'|t }}
            </p>
        </div>
    {% endif %}
</div>
