{#
/**
 * @file
 * Theme implementation for Campaign register block.
 *
 * Available variables
 * - base_path: Site base URL path.
 * - campaign: Current campaign node.
 * - campaignDates: Campaign dates.
 * - activeRegistration: (bool) Define if we need to show register block or not.
 * - form: MemberRegistrationSimpleForm form.
 *
 * @ingroup themeable
 */
#}

<style scoped>
    @media (min-width: 760px) { /* or 301 if you want really the same as previously.  */
        .page-node-type-campaign #block-campaignmemberregister .container,
        .page-node-type-campaign-page #block-campaignmemberregister .container,
        .path-campaign-game #block-campaignmemberregister .container {
            height: {{  campaign.field_campaign_image.0.height }}px !important;
        }
    }
</style>
<div class="container" style="
        background-image: url('{{ file_url(campaign.field_campaign_image.entity.fileuri) }}');
        ">
    <div class="content-wrapper">
        <div class="content">
            <h1>{{ campaign.title.value }} </h1>
            {% if activeRegistration %}
                <h2 class="finish-date">{{ campaignDates }}</h2>
                <div id="countDown" class="countdown"></div>
            {% endif %}
            {{ form }}
        </div>
    </div>
</div>
