{#
/**
 * @file
 * Theme implementation for Campaign Scorecard table.
 *
 * Available variables
 * - result: Array with all data prepared in Campaign Scorecard service.
 *
 * @ingroup themeable
 */
#}

<div class="campaign-scorecard">
  {% if result.empty is not defined or result.empty|length == 0 %}
  <table>
    <thead>
    <tr>
      <th colspan="3"></th>
      <th class="separator"></th>
      <th class="blue-outline" colspan="9" align="center">{{ 'Registration'|t }}</th>
      <th class="separator"></th>
      <th class="violet-outline" colspan="4" align="center">{{ 'Utilization'|t }}</th>
    </tr>
    <tr>
      <th class="green"></th>
      <th class="green">{{ 'Branch'|t }}</th>
      <th class="green">{{ 'Total Members'|t }}</th>
      <th class="separator"></th>
      <th class="blue" colspan="4" align="center">{{ 'EARLY REG'|t }} ({{ result.dates.registration_start }} - {{ result.dates.registration_end }})</th>
      <th class="separator"></th>
      <th class="blue" colspan="4" align="center">{{ 'EARLY REG + CHALLENGE'|t }} ({{ result.dates.registration_start }} - {{ result.dates.campaign_end }})</th>
      <th class="separator"></th>
      <th class="violet" colspan="4" align="center"> {{ 'CHALLENGE'|t }} ({{ result.dates.campaign_start }} - {{ result.dates.campaign_end }})</th>
    </tr>
    <tr>
      <th class="green-text">#</th>
      <th class="green-text">{{ 'Name'|t }}</th>
      <th class="green-text">{{ 'Members 1'|t }}</th>
      <th class="separator"></th>
      <th class="blue-text grey">{{ 'REGISTRATION GOAL'|t }} ({{ result.goals.registration_goal }}%)</th>
      <th class="blue-text">{{ 'ACTUAL As of'|t }} {{ result.dates.actual_early_date }}</th>
      <th class="blue-text"> {{ '% OF MEMBERS'|t }} </th>
      <th class="blue-text">{{ '% TO GOAL'|t }}</th>
      <th class="separator"></th>
      <th class="blue-text grey">{{ 'REGISTRATION GOAL'|t }} ({{ result.goals.registration_goal }}%)</th>
      <th class="blue-text">{{ 'ACTUAL As of'|t }} {{ result.dates.actual_campaign_date }}</th>
      <th class="blue-text"> {{ '% OF MEMBERS'|t }}</th>
      <th class="blue-text">{{ '% TO GOAL'|t }}</th>
      <th class="separator"></th>
      <th class="violet-text grey">{{ 'UTILIZATION GOAL'|t }}* ({{ result.goals.utilization_goal }}%)</th>
      <th class="violet-text">{{ 'ACTUAL As of'|t }} {{ result.dates.actual_campaign_date }}</th>
      <th class="violet-text grey">{{ '% OF REGISTERED MEMBERS'|t }}</th>
      <th class="violet-text grey">{{ '% TO GOAL Set'|t }} {{ result.dates.actual_date }}</th>
    </tr>
    </thead>
    <tbody class="table-hover">

    {% for id, branch in result.branches %}

        {% set early = result.registration.early[id] %}
        {% set challenge = result.registration.challenge[id] %}
        {% set util = result.utilization[id] %}
      <tr>
        <td class="bold" align="center">{{ branch.nid }}</td>
        <td class="bold" align="center">{{ branch.title }}</td>
        <td align="right">{{ branch.target }}</td>
        <th class="separator"></th>
        <td class="grey" align="right">{{ early.registration_goal }}</td>
        <td align="right">{{ early.actual }}</td>
        <td align="right">{{ early.of_members }}%</td>
          {% set class = '' %}
        {% if early.of_goal > 80 and early.of_goal < 100 %}
          {% set class = 'orange' %}
        {% elseif early.of_goal >= 100 %}
          {% set class = 'dark-green' %}
        {% endif %}
        <td align="right" class="{{ class }} bold">{{ early.of_goal }}%</td>
        <th class="separator"></th>
        <td align="right" class="grey">{{ challenge.registration_goal }}</td>
        <td align="right">{{ challenge.actual }}</td>
        <td align="right">{{ challenge.of_members }}%</td>
          {% set class = '' %}
          {% if challenge.of_goal > 80 and challenge.of_goal < 100 %}
              {% set class = 'orange' %}
          {% elseif challenge.of_goal >= 100 %}
              {% set class = 'dark-green' %}
          {% endif %}
        <td align="right" class="{{ class }} bold">{{ challenge.of_goal }}%</td>
        <th class="separator"></th>
        <td class="grey" align="right">{{ util.goal }}</td>
        <td align="right">{{ util.actual }}</td>
        <td align="right">{{ util.of_members }}%</td>
          {% set class = '' %}
          {% if util.of_goal > 80 and util.of_goal < 100 %}
              {% set class = 'orange' %}
          {% elseif util.of_goal >= 100 %}
              {% set class = 'dark-green' %}
          {% endif %}
        <td align="right" class="{{ class }} bold">{{ util.of_goal }}%</td>
      </tr>

    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td class="green" align="right" colspan="2">{{ 'ASSOCIATION TOTAL'|t }}:</td>
      <td class="green" align="right">{{ result.total.target }}</td>
      <th class="separator"></th>
      <td class="blue" >{{ result.total.registration_goal }}</td>
      <td class="blue">{{ result.total.actual }}</td>
      <td class="blue">{{ result.total.of_members }}%</td>
      <td class="blue">{{ result.total.of_goal }}%</td>
      <th class="separator"></th>
      <td class="blue">{{ result.total.reg_registration_goal }}</td>
      <td class="blue">{{ result.total.reg_actual }}</td>
      <td class="blue">{{ result.total.reg_of_members }}%</td>
      <td class="blue">{{ result.total.reg_of_goal }}%</td>
      <th class="separator"></th>
      <td class="violet">{{ result.total.util_registration_goal }}</td>
      <td class="violet">{{ result.total.util_actual }}</td>
      <td class="violet">{{ result.total.util_of_members }}%</td>
      <td class="violet">{{ result.total.util_of_goal }}%</td>
    </tr>
    </tfoot>
  </table>
    <br/>
  <div class="small">
    {{ 'Utilization goals were set based on the greater of either: (1) original registration goal, or (2) actual registered members by close of early-registration; meaning utilization goals do not take into account those members that registered after the close of early-registration.  Thus explaining how we could have only lower percentage of total registered members achieve their goal, but still exceed our “% to Goal” metric.'|t }}
  </div>
  {% else %}
    <h2>{{ result.empty }}</h2>
  {% endif %}
</div>
