{#
/**
 * @file
 * Theme implementation for GameBlockForm form element.
 *
 * Available variables
 * - form: 'openy_campaign_game_block_form' form.
 *
 * @ingroup themeable
 */
#}

<div class="campaign-game">
{% if game_type == 'flip_cards' %}
  <p>{{ form.label }}</p>
  <div class="cover-images">
    {% for i in 1..3 %}
      <span><img src="{{ form.cover_image }}" alt="" /></span>
    {% endfor %}
   </div>
    {{ form | without('label', 'cover_image' ) }}
{% endif %}

{% if game_type == 'spin_the_wheel' %}
    <p>{{ form.label }}</p>
    {{ form | without('label', 'cover_image' ) }}
{% endif %}
</div>
