{#
/**
 * @file
 * Template for a 2 column panel + Ticker layout.
 *
 * This template provides a two column panel display layout with full width
 * areas at the top, bottom and in the middle.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.left: Content in the left column.
 *   - content.right: Content in the right column.
 *   - content.ticker: Content in the ticker row.
 */
#}
<div class="openy-ds-layout openy-ds-layout-2col-ticker {{ orientation }}" {% if css_id %}{{ css_id }}{% endif %}>

  <div class="openy-ds-layout-region openy-ds-layout-2col--left">
    {{ content.left }}
  </div>

  <div class="openy-ds-layout-region openy-ds-layout-2col--right">
    {{ content.right }}
  </div>

  <div class="openy-ds-layout-region openy-ds-layout-2col--ticker">
    {{ content.ticker }}
  </div>
</div>
