{#
/**
 * @file
 * Contains support section static html.
 */
#}

<div id="support" class="hidden alert-tests alert alert-dismissable alert-warning alert-fixed">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div class="container text-center">
    <span class="test test-js"> <strong>{{ "This site requires Javascript to function properly."|t}}</strong>
      {{ "Please enable Javascript."|t }}
    </span>
    <span class="test test-cookies"> <strong>{{ "This site requires Cookies to function properly."|t }}</strong>
      {{ "Please enable Cookies."|t }}
    </span>
    <span class="test test-modern-browser">
        <strong>{{ "You are using a version of Internet Explorer that is not optimized or supported."|t }}</strong>
      {{ 'Some features may not work correctly. Upgrade to a modern browser such as
        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer 9 </a>
        or
        <a href="http://google.com/chrome" target="_blank">Google Chrome</a>'|t }}
      .
    </span>
  </div>
</div>
