{#
/**
 * @file
 * Theme implementation for the dropzonejs form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the element.
 * - dropzone_description: A message to be displayed in the dropzone field.
 * - or_text: A translatable string of the word 'or'.
 * - select_files_button_text: The text shown on the 'Select files' button.
 * - children: Optional additional rendered elements.
 * - uploaded_files: Hidden element that holds uploaded files.
 *
 * @see template_preprocess_dropzonejs()
 */
#}

<div{{ attributes }}>
    <div class="dz-message">
        <p>{{ dropzone_description }}</p>
        <p>{{ or_text }}</p>
        <a href="#" onclick="event.preventDefault();"
           class="button">{{ select_files_button_text }}</a>
    </div>
</div>
{{ uploaded_files }}
{{ children }}
