{#
/**
 * @file
 * Default theme implementation to display a eventd info.
 *
 * Available variables:
 * - info: The info array with access to event date info.
 *   - info.date_start will return event start date.
 *   - info.date_end will return event end date.
 * - atc: The atc array of additional calendar info.
 *   - atc_date_start will return formated "Y-m-d H:i:s" event start date.
 *   - atc_date_end will return formated "Y-m-d H:i:s" event end date.
 *   - atc_timezone will return date_default_timezone_get().
 *   - atc_title will return node Title.
 *   - atc_description will return node field description.
 *   - atc_location will return location description.
 *   - atc_organizer will return will return organizer description.
 *
 * @see openy_node_event_preprocess_field__node__field_event_location__event()
 *
 * @ingroup themeable
 */
#}
<div class="info-col date col-md-4">
  <div class="date-start">{{ info.date_start|date('M j, g:i a') }}</div>
  <div class="date-end">{{ 'Until'|t }} {{ info.date_end|date('g:i a') }}</div>
  <div class="addtocalendar">
    <var class="atc_event">
      <var class="atc_date_start">{{ atc.atc_date_start }}</var>
      <var class="atc_date_end">{{ atc.atc_date_end }}</var>
      <var class="atc_timezone">{{ atc.atc_timezone }}</var>
      <var class="atc_title">{{ atc.atc_title }}</var>
      <var class="atc_description">{{ atc.atc_description }}</var>
      <var class="atc_location">{{ atc.atc_location }}</var>
      <var class="atc_organizer">{{ atc.atc_organizer }}</var>
    </var>
  </div>
</div>
