{{ attach_library('openy_focal_point/openy_focal_point') }}

<div id="openy-focal-point-preview-wrapper">
  <div id="openy-focal-point-derivatives">
    {% for style,derivative in data.derivative_images %}
      <div id="openy-focal-point-derivative-preview-{{ style }}" class="openy-focal-point-derivative-preview" data-image-style="{{ style }}">
        <h3 class="openy-focal-point-derivative-preview-label">{{ derivative.style }}</h3>
        {{ derivative.image }}
      </div>
    {% endfor %}
  </div>

</div>
