<div class="calc-summary">
  <div class="row row-eq-height">
    <div class="col-md-6 col-sm-12 selected-branch calc-summary-col">
      <h2>{{ 'Your selected branch'|t }}</h2>
      <div class="selected-branch-map">{{ map }}</div>
      <div>{{ result.location }}</div>
    </div>
    <div class="col-md-6 col-sm-12 selected-membership calc-summary-col">
      <h2>{{ 'Your selected membership'|t }}</h2>
      <div>{{ result.membership }}</div>
      {% if result.price %}
        <div class="price">
          <h3 class="h4">{{ 'Membership price:'|t }}</h3>
          <div class="price-month">${{ result.price.monthly_rate }}/{{ 'month'|t }}</div>
          <div>+ ${{ result.price.join_fee }} {{ 'one time joining fee'|t }}</div>
        </div>
      {% else %}
        <div class="price">
          <p>{{ 'Selected branch doesn\'t provide needed membership type or it wasn\'t configured yet. Please select other membership type or branch.'|t }}</p>
          <p>{{ 'Call to the branch to get additional details.'|t }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
