{#
/**
 * @file
 * Default theme implementation to display branch contacts info.
 *
 * Available variables:
 *  - node_bundle: will return node bundle
 * - branch_title: will return branch title
 * - openy_branch_selector: will return rendered branch selector code
 * - phone: will return branch phone number
 * - fax: will return branch fax number
 * - email: will return branch email
 * - address_title: will return formatted branch address string
 * - directions_url: will return link to Google Maps linked to location address
 * - branch_hours: will return rendered branch hours widget
 * - directions_field_url: will return directiods field url
 * - directions_field_title: will return directiods field title
 *
 * @ingroup themeable
 */
#}
<div class="menu-spacer"></div>
<div class="container row branch-header-row">
  <div class="col-sm-8 header-branch-col-modifier col-modifier-sm-8">
    <div class="back-link fa fa-arrow-circle-left">
      {{ link('Back to All Locations', 'internal:/locations' ) }}
    </div>
    <span class="masthead-brand">{{ branch_title }}</span>
  </div>
  <div class="col-sm-4 header-branch-col-modifier col-modifier-sm-4 text-center masthead-button" id="masthead-button">
    {{ openy_branch_selector }}
  </div>
</div>

<div class="container row branch-header-divisor"></div>
<div class="container row branch-header-row">
  {% if phone is not empty %}
    <div class="col-sm-1 col-md-3 col-lg-2 header-branch-col-modifier col-modifier-sm-1">
      <div class="wrapper-field-location-phone">
        <div class="field-location-phone">
          <a href="tel:{{ phone }}">
            <i class="fas fa-phone"></i>
            <span class="tel-text">{{ phone }}</span>
          </a>
        </div>
      </div>
      {% if fax is not empty %}
        <div class="wrapper-field-location-fax">
          <div class="field-location-fax">
            <a href="tel:{{ fax }}">
              <i class="fas fa-fax"></i>
              <span class="tel-text">{{ fax }}</span>
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if address_title is not empty %}
    <div class="col-sm-1 col-md-3 col-lg-6 header-branch-col-modifier col-modifier-sm-1 header-address">
      <a href="{{ directions_url }}" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
      <address class="wrapper-field-location-address">{{ address_title }}</address>
      <div class="wrapper-get-directions">
        <a href="{{ directions_url }}" target="_blank" class="location-branch-directions-link">{{ 'Directions'|t }}</a>
      </div>
    </div>
  {% endif %}

  <div
    class="col-sm-10 col-md-6 col-lg-4 header-branch-col-modifier col-modifier-sm-10 hours-wrapper branch-header__item">
    {% if branch_hours is not empty %}
      <div class="hours clearfix">
        <div class="camp-today-hour">
          <span class="todays-hours-text">{{ "Today's hours"|t }}:</span>
          <span class="todays-hours-text-small ">{{ "Hours:"|t }}</span>
          {{ branch_hours }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
