<div class="personal-result personal-result--winner">
  <h3 class="personal-result__title">{{ 'Congratulations!'|t }}</h3>
  <p class="personal-result__description">{{ 'You have won a <span class="personal-result__description__prize personal-result__description__prize--gold">gold prize</span> for @track'|t({'@track': track}) }}</p>
  <div class="personal-result__separator"></div>
  <div class="prize">
    <div class="prize__prizes personal-result__prizes">
      <div class="row">
        <div class="col-xs-4 col-sm-2 prize__prize prize__prize--medallion prize__prize--medallion-gold">
          <span class="prize__prize__title">{{ 'Gold Medallion'|t }}</span>
        </div>
        <div class="col-xs-2 col-sm-1 prize__prize prize__prize--separator"></div>
        <div class="col-xs-4 col-sm-2 prize__prize prize__prize--membership">
          <span class="prize__prize__title">{{ '1&nbsp;Month of&nbsp;Membership'|t }}</span>
        </div>
        <div class="hidden-xs col-sm-1 prize__prize prize__prize--separator"></div>
        <div class="col-xs-4 col-sm-2 prize__prize prize__prize--towel">
          <span class="prize__prize__title">{{ '3&nbsp;Months&nbsp;of Towel&nbsp;Service'|t }}</span>
        </div>
        <div class="col-xs-2 col-sm-1 prize__prize prize__prize--separator"></div>
        <div class="col-xs-4 col-sm-2 prize__prize prize__prize--bottle">
          <span class="prize__prize__title">{{ 'Hydro&nbsp;Flask Water&nbsp;Bottle'|t }}</span>
        </div>
      </div>
    </div>
  </div>
  <p class="personal-result__details">
    {{ 'Your prize will be credited to your account by August 31.<br/>Please visit the front desk of your home branch to pick up your physical items.'|t }}
  </p>
</div>
