{#
/**
 * @file
 * Camp du Nord results wrapper template.
 *
 * @ingroup themeable
 */
#}
<div class="cdn-no-results">
  <div class="container">
  {{ 'Please select another village, change capacity or date range to see if there are other cabins available.'|t }}
  </div>
</div>
<div class="cdn-village-teasers">
  <div class="container">
    <div class="row">
    {% for key, teaser in teasers %}
      <div class="cdn-village-teaser" data-index="{{ key }}">
      {{ teaser.teaser }}
      </div>
    {% endfor %}
    </div>
  </div>
</div>
<div class="cdn-village-calendars">
  <div class="container">
  {% for key, teaser in teasers %}
    <div class="cdn-calendar" data-index="{{ key }}">
      <div class="main-description">
        <a href="#" class="close-cal">x</a>
        <a href="#" class="view"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <h2 class="title">{{ teaser.teaser['#title'] }}</h2>
        <div class="description">{{ teaser.teaser['#description'] }}</div>
        {% if teaser.teaser['#panorama'] is not empty %}
        <div class="panorama-wrapper">
          <a class="open-panorama">{{ 'View panorama'|t }}<i class="fa fa-eye"></i></a>
          <div class="panorama">
          {{ teaser.teaser['#panorama'] }}
          </div>
        </div>
        {% endif %}
        <p><strong>{{ 'Please select check in and check out dates*'|t }}</strong></p>
      </div>
      <div class="cdn-calendar-list">
        {{ teaser.calendar.list }}
      </div>
      {{ teaser.calendar.calendar }}
    </div>
  {% endfor %}
  </div>
</div>
<div class="cdn-village-footer">
  <div class="container">
    {% for key, teaser in teasers %}
      <div class="cdn-village-footer-bar" data-index="{{ key }}">
        <div class="total">
          {{ 'Total for'|t }}
          <span class="nights">0</span>
          {{ 'nights:' }}
          <span class="price">$0</span>
        </div>
        <a href="{{ teaser.footer.login_url }}" class="next-step">{{ 'Next step ->'|t }}</a>
      </div>
    {% endfor %}
  </div>
</div>
