{#
/**
 * @file
 * Camp du Nord Village template.
 *
 * @ingroup themeable
 */
#}
<a href="{{ cabin_url }}">
  <div class="inner">
    <img src="{{ image }}" alt="{{ title }}" />
  </div>
  <h3 class="title">{{ title }} <span class="capacity"><i class="fa fa-user"></i>{{ capacity }}</span></h3>
</a>
