<div class="flip-cards">
    <h1>{{ title }}</h1>
    {{ description }}
    <section class="container">
        {% for i in 1..3 %}
        <div class="card">
            <figure class="front"><img src="{{ coverImagePath }}" alt="" /></figure>
            <figure class="back{% if isWinner %} winner{% endif %}">
                <span>
                    <h3>{{ messageTitle }}</h3>
                    <p>{{ message|raw }}</p>
                </span>
            </figure>
        </div>
        {% endfor %}
    </section>
</div>
