<div class="spin-the-wheel">
    <h1>{{ title }}</h1>
    {{ description }}

    <div class="game-result">
        <section class="container">
            <div class="game-result--header">
                <h3 class="title">{{ messageTitle }}</h3>
                <div class="description">{{ message|raw }}</div>
                <div class="play-again">
                    {{ nextGameUrl }}
                    <br/>
                </div>
            </div>
            <div class="game-result--body">
                <div class="card--wrapper">
                    <div class="card">
                        {% if isWinner %}
                            {{ 'Winner'|t }}
                        {% else %}
                            {{ 'Maybe next time'|t }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="spin-the-wheel-inner">
        <div id="container" class="centered">
            <canvas id="drawing_canvas"></canvas>
            <div id="status_label">{{ 'loading...'|t }}</div>
        </div>
        <div class="active start btn">{{ 'Spin the wheel'|t }}</div>
    </div>

</div>
<div class="load-bar">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>
