{#
/**
 * @file
 * Custom theme implementation for subcategory filters.
 *
 * Available variables:
 * - filters: An array of data.
 *
 * @ingroup themeable
 */
#}
<div class="filters-wrapper">
  <div class="filters">
    <div class="label">{{ 'Filtered by:'|t }}</div>
    {% for key, value in filters %}
      <div class="filter">{{ value }}
        <a href="#" data-id="{{ key }}" class="remove" title="{{ 'Clear @value filter'|t({ '@value': value }) }}">
          <i class="fa fa-close" aria-hidden="true"></i>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
<div class="reset-wrapper">
  <a href="#" class="clear" title="{{ 'Clear All'|t }}">{{ 'Clear All'|t }}</a>
</div>
