{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div class="row">
  <div class=" copy col-sm-8 col-md-9">
    <div id="c_399891_search_results" class="search_results">

      <div class="clear"></div>

      <div{{ attributes.addClass(classes) }}>
        {{ title_prefix }}
        {% if title %}
          {{ title }}
        {% endif %}
        {{ title_suffix }}
        {% if header %}
          <div class="view-header">
            {{ header }}
          </div>
        {% endif %}
        {% if exposed %}
          <div class="view-filters">
            {{ exposed }}
          </div>
        {% endif %}
        {% if attachment_before %}
          <div class="attachment attachment-before">
            {{ attachment_before }}
          </div>
        {% endif %}

        {% if rows %}
          {#<div class="view-content">#}
            {{ rows }}
          {#</div>#}
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}

        {% if pager %}
          <!-- pager -->
          {{ pager }}
          <!-- /pager -->
        {% endif %}
        {% if attachment_after %}
          <div class="attachment attachment-after">
            {{ attachment_after }}
          </div>
        {% endif %}
        {% if more %}
          {{ more }}
        {% endif %}

      </div>
    </div>
  </div>
  <div class="hidden-xs col-sm-4 col-md-3 subnav">
    <div class="panel panel-blog-subnav">
      <div class="blog-search-container">
        <form action="/blog/search_blog/" method="get">
          <h3 class="blog-search-title"><i class="glyphicon glyphicon-search"></i>Search the Blog</h3>
          <div class="input-group">
            <input type="text" name="q" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" placeholder="Enter keywords">Go</button>
            </span>
          </div>
          <!-- /input-group -->
        </form>
      </div>
      <div class="panel-blog-subnav-menus" id="blog_submenus">

        <article class="richtext">
          <h3><i class="glyphicon glyphicon-tag"></i>{{ "Categories"|t }}</h3>
        </article>
        <article class="richtext">
          <ul>
            {% for category in categories %}
            <li>{{ category }}</li>
            {% endfor %}
          </ul>
        </article>
        <article class="richtext">
          <h3><i class="glyphicon glyphicon-calendar"></i>{{ "Archive"|t }}</h3>
        </article>

        <div class="abe_blog_archives_display">
          <div>

            <ul class="blog_years_list">
              <li class="blog_year_li">
                <a href="#" class="blog_year_link"><i class="glyphicon glyphicon-plus-sign"></i>2015</a>
              </li>
              <li class="blog_months_container_li" id="blog_archive_year_2015">
                <ul class="blog_months_list">
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/01/" class="blog_month_link" id="blog_archive_month_2015_01">January</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/02/" class="blog_month_link" id="blog_archive_month_2015_02">February</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/03/" class="blog_month_link" id="blog_archive_month_2015_03">March</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/04/" class="blog_month_link" id="blog_archive_month_2015_04">April</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/05/" class="blog_month_link" id="blog_archive_month_2015_05">May</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/06/" class="blog_month_link" id="blog_archive_month_2015_06">June</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/07/" class="blog_month_link" id="blog_archive_month_2015_07">July</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/08/" class="blog_month_link" id="blog_archive_month_2015_08">August</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/09/" class="blog_month_link" id="blog_archive_month_2015_09">September</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/10/" class="blog_month_link" id="blog_archive_month_2015_10">October</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/11/" class="blog_month_link" id="blog_archive_month_2015_11">November</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2015/12/" class="blog_month_link" id="blog_archive_month_2015_12">December</a></li>
                </ul>
              </li>
            </ul>

            <ul class="blog_years_list">
              <li class="blog_year_li">
                <a href="#" class="blog_year_link"><i class="glyphicon glyphicon-plus-sign"></i>2014</a>
              </li>
              <li class="blog_months_container_li" id="blog_archive_year_2014">
                <ul class="blog_months_list">
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/01/" class="blog_month_link" id="blog_archive_month_2014_01">January</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/02/" class="blog_month_link" id="blog_archive_month_2014_02">February</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/03/" class="blog_month_link" id="blog_archive_month_2014_03">March</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/04/" class="blog_month_link" id="blog_archive_month_2014_04">April</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/05/" class="blog_month_link" id="blog_archive_month_2014_05">May</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/06/" class="blog_month_link" id="blog_archive_month_2014_06">June</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/07/" class="blog_month_link" id="blog_archive_month_2014_07">July</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/08/" class="blog_month_link" id="blog_archive_month_2014_08">August</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/09/" class="blog_month_link" id="blog_archive_month_2014_09">September</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/10/" class="blog_month_link" id="blog_archive_month_2014_10">October</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/11/" class="blog_month_link" id="blog_archive_month_2014_11">November</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2014/12/" class="blog_month_link" id="blog_archive_month_2014_12">December</a></li>
                </ul>
              </li>
            </ul>

            <ul class="blog_years_list">
              <li class="blog_year_li">
                <a href="#" class="blog_year_link"><i class="glyphicon glyphicon-plus-sign"></i>2013</a>
              </li>
              <li class="blog_months_container_li" id="blog_archive_year_2013">
                <ul class="blog_months_list">
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2013/11/" class="blog_month_link" id="blog_archive_month_2013_11">November</a></li>
                  <li class="blog_month_li"><a href="http://www.ymcatwincities.org/blog/archive/2013/12/" class="blog_month_link" id="blog_archive_month_2013_12">December</a></li>
                </ul>
              </li>
            </ul>

          </div>
        </div>

        <script language="JavaScript" type="text/javascript">
          function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
              vars[key] = value;
            });
            return vars;
          }


          jQuery(function() {
            var url_vars = getUrlVars(),
                blog_archive_active = false,
                blog_archive_month,
                blog_archive_year;

            if( typeof url_vars["month"] != "undefined" ) {
              blog_archive_month  = url_vars["month"];
              blog_archive_year   = url_vars["year"];
            }
            else {
              var path_split = window.location.pathname.split("/");
              blog_archive_month  = path_split[path_split.length-2];
              blog_archive_year   = path_split[path_split.length-3];
            }

            var component_id = '400002';
            var component_el = jQuery("#component_" + component_id);

            var blog_current_year_el = component_el.find("#blog_archive_year_" + blog_archive_year);
            blog_current_year_el.css({"display": "block"});
            blog_current_year_el.prevAll('.blog_year_li').addClass("expanded")
                .find('.blog_year_link > i').removeClass('glyphicon-plus-sign').addClass('glyphicon-minus-sign');
            component_el.find("#blog_archive_month_" + blog_archive_year + "_" + blog_archive_month).addClass("active");

            component_el.find('.blog_year_link').on('click', function(e) {
              e.preventDefault();
              var el = jQuery(this);
              var year_li = el.parents('.blog_year_li');
              year_li.nextAll('.blog_months_container_li').first().slideToggle('fast');
              if( year_li.hasClass("expanded") ) {
                year_li.find('.blog_year_link > i').removeClass('glyphicon-minus-sign').addClass('glyphicon-plus-sign');
                year_li.removeClass("expanded");
              }
              else {
                year_li.find('.blog_year_link > i').removeClass('glyphicon-plus-sign').addClass('glyphicon-minus-sign');
                year_li.addClass("expanded");
              }
            });
          });
        </script>

      </div>
    </div>
    {% if feed_icons %}
      <div class="rss-feed-button">
        {% for feed in feed_icons %}
          <a href="{{ attribute(feed, '#url') }}" class="btn btn-primary"><i class="icon-rss"></i>Subscribe to blog</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
</div>
{% if feed_icons %}
  <div class="rss-feed-button rss-feed-mobile hidden-sm hidden-md hidden-lg hidden-print">
    {% for feed in feed_icons %}
      <a href="{{ attribute(feed, '#url') }}" class="btn btn-primary"><i class="icon-rss"></i>Subscribe to blog</a>
    {% endfor %}
  </div>
{% endif %}
