<section class="masthead location-masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 back-link">
        {{ link('Back to All Locations'|t, 'base:locations') }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <span class="masthead-brand">{{ node.label }}</span>
      </div>
      <div class="col-sm-4 text-center masthead-button" id="masthead-button">
        {% if node.field_join_override|length %}
          {{ node.field_join_override.0.value|raw }}
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!--data-spy="affix" data-offset-top="144" -->
<div class="location-details masthead-menu">
  <div class="container">
    <div class="row visible-xs">
      <div class="col-xs-12">
        <button type="button" class="btn btn-link location-hours-toggle" data-toggle="collapse"
                data-target="#directions-hours"><span
            class="glyphicon glyphicon-chevron-down pull-right"></span> Phone, Address and Hours
        </button>
      </div>
    </div>
    <div class="row collapse directions-hours" id="directions-hours">
      <div class="directions-hours-inner">
        <div class="col-sm-3 col-md-2 phone clearfix">
                    <span class="tel">
						<span class="glyphicon glyphicon-earphone bullet"></span>
                      {% set phone =  node.field_phone.0.value|split(',') %}
                      {% for item in phone %}
                        <a class="tel" href="tel:{{ item|trim }}">{{ item|trim }}</a>
                      {% endfor %}
                    </span>
        </div>
        <hr class="visible-xs">
        <div class="col-lg-6 col-sm-5 col-md-6 address clearfix">
          <span class="glyphicon glyphicon-map-marker bullet"></span>
          <span class="plaintext">
            {{ node.field_location.0.address_line1 }}
            <br class="visible-xs">
            {{ node.field_location.0.address_line2 }}
            {{ node.field_location.0.administrative_area }}
            {{ node.field_location.0.postal_code }}
          </span>
          <br class="visible-xs"/>
          <a class="directions" target="_blank">
            <!-- <span class="hidden-sm"> -->
            Directions
            <!-- </span> -->
            <span class="glyphicon glyphicon-share"></span>
          </a>
        </div>

        <hr class="visible-xs">
        <div class="hours col-lg-4 col-md-4 col-sm-4 clearfix">

          <span class="glyphicon glyphicon-time bullet"></span>
          Today:
          <time id="todays-hours"></time>
          <span class="hidden-xs">
					<a
            data-toggle="collapse"
            data-target="#all-hours"
            class="hours-toggle">
                        All Hours
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
					</span>

          <div class="row mobile-hours visible-xs">
            <div class="col-xs-12">
              {{ hours }}
            </div>
          </div>
          <div id="all-hours" class="all-hours collapse">
            <div class="hidden-xs">{{ hours }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
