{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}

<div class="btn-checkbox" data-toggle="buttons">
  <label class="control-label btn-block btn btn-default {{ attribute(attributes, 'checked') ? 'active' }}" for="{{ attributes.id }}" title="{{ attribute(element, '#title') }}">
    <input {{ attributes }} />
    <span class="glyphicon glyphicon-{{ attribute(attributes, 'checked') ? 'check' : 'unchecked' }} hidden-xs"></span>
    {{ attribute(element, '#title') }}
  </label>
</div>
