{#
/**
 * @file
 * GroupEx Pro class template.
 *
 * Available variables:
 * - class: array of single class variables;
 *
 * @ingroup themeable
 */
#}
<div class="table-instructor-individual card-wrapper">
  <div class="time">
    <i class="far fa-clock"></i> {{ class.time }}  <span class="duration">{{ class.duration }}</span>
  </div>
  <div class="card">
    <h3><span class="fa fa-link" aria-hidden=true></span>&nbsp;<a class="use-ajax" href="{{ class.class_link }}">{{ class.name|raw }}</a></h3>
    <p>{{ class.studio }}</p>
    <div class="instructor">
      <span class="fa fa-link" aria-hidden=true></span>
      <span class="fa fa-user"></span>
      <a class="use-ajax" href="{{ class.instructor_link }}">{{ class.instructor|raw }}</a>
    </div>
  </div>
  <div class="ical">
    <span class="addtocalendar atc-style-blue" aria-hidden="true">
      <var class="atc_event">
        <var class="atc_date_start">{{ class.calendar.atc_date_start }}</var>
        <var class="atc_date_end">{{ class.calendar.atc_date_end }}</var>
        <var class="atc_timezone">{{ class.calendar.atc_timezone }}</var>
        <var class="atc_title">{{ class.calendar.atc_title }}</var>
        <var class="atc_description">{{ class.calendar.atc_description }}</var>
        <var class="atc_location">{{ class.calendar.atc_location }}</var>
        <var class="atc_organizer">{{ class.calendar.atc_organizer }}</var>
      </var>
    </span>
  </div>
</div>
