{#
/**
 * @file
 * Camp du Nord results wrapper template.
 *
 * @ingroup themeable
 */
#}
<div class="cdn-no-results">
  <div class="container">
  {{ 'Please select another village, change capacity or date range to see if there are other cabins available.'|t }}
  </div>
</div>
<div class="cdn-results-active-wrapper">
  <div class="container">
    <div class="row">
      <div class="cdn-village-teaser-active col-sm-4">
        {% for key, data in teasers %}
          {% if data['calendar'] is not empty %}
          <div class="cdn-village-teaser" data-index="{{ key }}" data-total_capacity="{{ data.teaser.teaser['#capacity'] }}" data-village_id="{{ data.teaser.teaser['#village_id'] }}">
            {{ data.teaser.teaser }}
          </div>
            <div class="main-description">
              <div class="description">{{ data.teaser.teaser['#description'] }}</div>
                {% if data.teaser.teaser['#panorama'] is not empty %}
                  <div class="panorama-wrapper">
                    <a class="open-panorama">{{ 'View panorama'|t }}<i class="fa fa-eye"></i></a>
                    <div class="panorama">
                        {{ data.teaser.teaser['#panorama'] }}
                    </div>
                  </div>
                {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="cdn-village-calendars col-sm-8">
        <p><strong>{{ 'Please select check in through check out dates'|t }}</strong></p>
          {% for key, data in teasers %}
          <div class="cdn-calendar" data-index="{{ key }}">
            <div class="cdn-calendar-list">
              {{ data.calendar.list }}
            </div>
            {{ data.calendar.calendar }}
          </div>
        {% endfor %}
        </div>
    </div>
  </div>
</div>
<div class="cdn-village-footer">
  <div class="container">
    <div class="col-xs-12">
      {% for key, teaser in teasers %}
        <div class="cdn-village-footer-bar" data-index="{{ key }}">
          <div class="total">
              {{ 'Total for'|t }}
            <span class="nights">0</span>
              {{ 'nights:' }}
            <span class="price">$0</span>
          </div>
          <a href="{{ teaser.footer.login_url }}" class="next-step">{{ 'Next step'|t }} <i class="fa fa-arrow-right"></i></a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="cdn-village-teasers">
  <div class="container">
    <div class="row">
      {% for key, data in teasers %}
        {% if data['calendar'] is empty %}
        <div class="cdn-village-teaser" data-index="{{ key }}" data-total_capacity="{{ data.teaser.teaser['#capacity'] }}" data-village_id="{{ data.teaser.teaser['#village_id'] }}">
          {{ data.teaser.teaser }}
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
