{% extends "page.html.twig" %}
{% set layout_class = 'is-camp' %}

{% block page_logo %}
  {% set camp_section_image = '' %}
  {% if camp_section_logo %}
    {% set camp_section_image = file_url(camp_section_logo) %}
    {% if camp_section_image is not empty %}
      <a href="{{ front_page }}" title="{{ "Home"|t }}" rel="{{ "home"|t }}">
        <img src="{{ camp_section_image }}" alt="{{ "Home"|t }}">
      </a>
    {% else %}
      {# Conditions not met use parent block. #}
      {{ parent() }}
    {% endif %}
  {% else %}
    {# Conditions not met use parent block. #}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block page_logo_2 %}
  {% set camp_section_image = '' %}
  {% if camp_section_logo %}
    {% set camp_section_image = file_url(camp_section_logo) %}
    {% if camp_section_image is not empty %}
      <a href="{{ front_page }}" title="{{ "Home"|t }}" rel="{{ "home"|t }}">
        <img src="{{ camp_section_image }}" alt="{{ "Home"|t }}">
      </a>
    {% else %}
      {# Conditions not met use parent block. #}
      {{ parent() }}
    {% endif %}
  {% else %}
    {# Conditions not met use parent block. #}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block footer_image_link %}
  {% set camp_footer_background_image = '' %}
  {% if camp_footer_logo %}
    {% set camp_footer_background_image = " style='background-image: url(" ~ file_url(camp_footer_logo) ~ ")'" %}
    {% if camp_footer_background_image is not empty %}
      <a href="{{ front_page }}" class="footer__brand brand" title="{{ "Go to homepage"|t }}"{{ camp_footer_background_image|raw }}></a>
    {% else %}
      {# Conditions not met use parent block. #}
      {{ parent() }}
    {% endif %}
  {% else %}
    {# Conditions not met use parent block. #}
    {{ parent() }}
  {% endif %}
{% endblock %}
