<div class="calc-summary">
  <div class="row">
    <div class="col-md-6 col-sm-12 selected-branch calc-summary-col">
      <h2 class="h4">{{ 'Your selected branch'|t }}</h2>
      <div class="selected-branch-map">{{ map }}</div>
      <div>{{ result.location }}</div>
    </div>
    <div class="col-md-6 col-sm-12 selected-membership calc-summary-col">
      <h2 class="h4">{{ 'Your selected membership'|t }}</h2>
      <div>{{ result.membership }}</div>
      {% if result.price %}
        <div class="price">
          <h4>{{ 'Membership price:'|t }}</h4>
          <h2>${{ result.price.monthly_rate }}/{{ 'month'|t }}</h2>
          <div>+ ${{ result.price.join_fee }} {{ 'one time joining fee'|t }}</div>
        </div>
      {% else %}
        <div class="price">
          {{ 'Unfortunately, selected branch doesn`t provide needed membership type. Please select other membership type or branch.'|t }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
