<div class="calc-summary mb-4">
  <div class="selected-branch calc-summary-col">

    {# map #}
    <div class="row mb-3">
      <div class="col-12">
        <h2 tabindex="0" class="h4">{{ 'Your selected branch'|t }}</h2>
        <div class="selected-branch-map">{{ map }}</div>
      </div>
    </div>

    <div class="row">

      {# contact #}
      <div class="col-12 col-md-6">
        {{ result.location }}
      </div>

      {# membership #}
      <div class="col-12 col-md-6">
        <h2 class="h4">{{ 'Your selected membership'|t }}</h2>

        <div class="card bg-success text-white">
          <div class="card-header">
            {{ result.membership }}
          </div>

          <div class="card-body">
            {% if result.price %}
              <div class="price">
                <h3 class="h4">${{ result.price.monthly_rate }} {{ 'per month'|t }}</h3>
                <p>+ ${{ result.price.join_fee }} {{ 'one time joining fee'|t }}</p>
              </div>
            {% else %}
              <div class="price">
                <p>{{ 'Selected branch doesn\'t provide needed membership type or it wasn\'t configured yet. Please select other membership type or branch.'|t }}</p>
                <p>{{ 'Call to the branch to get additional details.'|t }}</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {# / membership #}

    </div>
  </div>
</div>
