{#
/**
 * @file
 * Theme implementation to display a featured highlights block.
 *
 * Available variables:
 * - elements: Array with fields from the featured highlights block .
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'block-description--text'
] %}
{% set icon_class = elements.field_icon_class.0 ? elements.field_icon_class.0 : '' %}
{% set icon = elements.field_icon.0 ? elements.field_icon.0 : '' %}

<article
  class="block simple-block">
  <div{{ attributes.addClass(classes) }}>

    {% if icon_class %}
      <i class="fa fa-{{ icon_class }}" aria-hidden="true"></i>
      <h4 {% if icon_class %}class="with-icon"{% endif %}>{{ elements.field_sb_title }}</h4>
    {% else %}
      {{ elements.field_icon }}
      <h4 {% if icon %}class="with-icon"{% endif %}>{{ elements.field_sb_title }}</h4>
    {% endif %}
    {{ elements.field_sb_body }}
    {{ elements.field_sb_link }}
  </div>
</article>