{#
/**
 * @file
 * Theme implementation to display a featured highlights block.
 *
 * Available variables:
 * - elements: Array with fields from the featured highlights block .
 *
 * @ingroup themeable
 */
#}
{% set title = elements.field_featured_hl_block_link.0['#title']|trim %}
{% set url = elements.field_featured_hl_block_link.0['#url'] %}

{% set description %}
  {{ elements.field_block_content }}
{% endset %}
<article
    class="block featured-highlights-block blog-photo">
  <a title="{{ title }}" href="{{ url }}" rel="bookmark">
    <div class="inner-wrapper">
      <div class="blog-up">
        {% if elements.field_featured_hl_block_image['#field_type'] %}
          {{ elements.field_featured_hl_block_image }}
        {% endif %}
      </div>
      <div class="blog-heading">
        <h3><span>{{ title }}</span></h3>
        <p>{{ description|striptags }}</p>
      </div>
    </div>
  </a>
</article>
