{#
/**
 * @file
 * Modal block template.
 *
 * Available variables:
 * - title: Title.
 * - description: Description.
 * - modal_header: Block header.
 * - modal_content: Block content.
 * - mode: Modal mode - fields, node.
 * - ajax_link: Link Uri
 * - ajax_link_title: Link Title
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="field-title field-item">
    {{ title }}
  </div>
  <div class="field-description field-item">
    {{ description }}
  </div>
  <div class="field-link-title field-item">
    {% if mode == 'node' %}
      <a class="use-ajax" data-dialog-type="modal"
         data-dialog-options="{&quot;width&quot;:600&comma; &quot;height&quot;:600}"
         href="{{ modal_link }}">{{ modal_link_title }}</a>
    {% else %}
      <a href="#" data-toggle="modal" data-target="#modalBlock{{ modalId }}">{{ modal_link_title }}</a>
    {% endif %}
  </div>

  {% if mode == 'fields' %}
    <!-- Modal -->
    <div class="modal fade" id="modalBlock{{ modalId }}" role="dialog">
      <div class="content_wrapper modal-container modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header content_wrapper">
            <h2 class="modal-title">{{ modal_header }}</h2>
            <button type="button" class="close modal-close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body content_wrapper">
            <p>{{ modal_content }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
