{#
/**
 * @file
 *
 * Available variables:
 * - content: contains all data.
 *
 * @ingroup themeable
 */
#}
<div class="openy-repeat--pdf--table--activity">
  <div class="content">
    {% set i = 0 %}
    {% for key, item in content.result %}
      <div class="header">
        <div class="branding">
          <img src="{{ content.logo_url }}" width="100" height="86" />
        </div>
        <div class="title">
          <strong>{{ key }} | {{ content.header.dates }}</strong>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>{{ 'Monday'|t }}</th>
            <th>{{ 'Tuesday'|t }}</th>
            <th>{{ 'Wednesday'|t }}</th>
            <th>{{ 'Thursday'|t }}</th>
            <th>{{ 'Friday'|t }}</th>
            <th>{{ 'Saturday'|t }}</th>
            <th>{{ 'Sunday'|t }}</th>
          </tr>
        </thead>
        <tbody>
        {% for key, item in item %}
          <tr>
            <td>
              <strong>{{ item.name }}</strong> <br/> {{ item.room }}
            </td>
            {% for key, item in item.dates %}
              <td>
                {% for key, item in item %}
                  <p>{{ item.time }}</p>
                  <p>({{ item.category }})</p>
                  {% if item.instructor is not empty %}
                    <p><i>{{ item.instructor }}</i></p>
                  {% endif %}
                  <br/>
                {% endfor %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% set i = i + 1 %}
      {% if i != content.result|length %}
        <newpage>
      {% endif %}
    {% endfor %}
  </div>
</div>
