{#
/**
 * @file
 *
 * Available variables:
 * - locations: locations of "repeat" entity for filter.
 */
 *
 * BS4 classes:
 * - col-md
 * - d-none
 *
#}

{{ attach_library('openy_repeat/openy_repeat.locations') }}

<div class="container schedule-locations__wrapper">

  <div class="locations-header row row-eq-height align-items-end">
    <div class="col col-xs-12 col-sm-12 col-md-8">
      <div class="location-select"><h4>{{ 'Select one or more locations'|t }}</h4></div>
      <div class="d-flex-location">
        <div class="location-filters text-uppercase"><strong>{{ 'Filters: '|t }}</strong></div>
        <ul id="selected-locations" class="list-inline">

        </ul>
      </div>
    </div>
    {% if locations is not empty %}
    <div class="col hidden-xs hidden-sm col-md-4 text-right">
      <button class="btn btn-primary btn-lg skip skip-hidden">{{ 'Skip'|t }}</button>
      <button class="btn next-hidden btn-primary btn-lg submit-locations js-submit-locations">{{ 'Next'|t }}</button>
    </div>
    {% endif %}

  </div>

  <div class="js-locations-row row">
    {% if locations is not empty %}
      {% for partlocations in locations|batch(locations|length / 3, '') %}
        <div class="row-items">
          {% for loc in partlocations %}
            {% if loc is not empty %}
                <div class="col-sm-4">
                  <div class="openy-card__item">
                    <label>
                      <i class="fa fa-map-marker"></i>
                      <input type="checkbox" value="{{ loc }}" class="box js-location-box d-none hidden">
                      {{ loc }}
                    </label>
                  </div>
                </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="container-fluid">

  <div class="locations-footer footer-custom-hidden row row-eq-height align-items-end">
    <div class="col hidden-xs hidden-sm col-md-8">
      <div><h4>{{ 'You may select multiple locations, or hit Next to continue.'|t }}</h4></div>
    </div>
    {% if locations is not empty %}
      <div class="col col-xs-12 col-sm-12 col-md-4 text-right">
        <button class="btn btn-primary btn-lg skip skip-hidden">{{ 'Skip'|t }}</button>
        <button class="btn btn-primary btn-lg next-hidden submit-locations js-submit-locations">{{ 'Next'|t }}</button>
      </div>
    {% endif %}

  </div>
</div>
