{#
/**
 * @file
 *
 * Available variables:
 * - inheirted from 'openy-repeat-schedule-dashboard.html.twig'.
 */
#}

{# date arrows & title #}
<div class="row schedule-dashboard__content--header">

  {% block date_wrapper %}
  <div class="col-sm-12 col-md-8 col-lg-7 day-label">
  {% endblock %}
    <h2>
      <button v-on:click.stop="backOneDay" class="schedule-dashboard__arrow left" role="button" aria-label="previous date"><i class="fa fa-angle-left"></i></button>
      <span class="date notranslate" v-cloak>${ dateFormatted }</span>
      <button v-on:click.stop="forwardOneDay" v-if="showForwardArrow" class="schedule-dashboard__arrow right" role="button" aria-label="next date"><i class="fa fa-angle-right"></i></button>
    </h2>
  </div>

  {% block buttons_wrapper %}
  <div class="hidden-xs hidden-sm col-md-4 col-lg-5">
  {% endblock %}
    <a class="btn btn-md btn-block btn-schedule-pdf hidden">{{ 'View PDF Schedule'|t }} <i class="fa fa-print hidden-xs"></i></a>
    <a class="btn btn-md btn-block btn-schedule-pdf-generate hidden" target="_blank">{{ 'Weekly PDF Schedule'|t }} <i class="fa fa-print hidden-xs"></i></a>
  </div>
</div>

{# schedules table data #}
<div>
  <results inline-template :prop-data="filteredTable">
    <div class="vue-template">

      <div class="schedules-data clearfix">

        <div class="schedules-data__header">
          <div class="location-column">{{ 'Location'|t }}</div>
          <div>{{ 'Class'|t }}</div>
          <div>{{ 'Time'|t }}</div>
          <div class="category-column">{{ 'Category'|t }}</div>
          <div class="instructor-column">{{ 'Instructor'|t }}</div>
          <div class="calendar-column"></div>
          <div class="register-column"></div>
        </div>

        <div v-for="(item, index) in propData" class="schedules-data__row">

          {# location #}
          <div v-cloak class="location-column">
            <strong><a href="#" tabindex="0" class="schedule-dashboard__modal--location-link" role="button" v-on:click="$parent.populatePopupL(index)" data-toggle="modal" data-target=".schedule-dashboard__modal--location">${ item.location }</a></strong>
          </div>

          {# class #}
          <div v-cloak>
            <strong><a href="#" tabindex="0" class="schedule-dashboard__modal--class-link" role="button" v-on:click="$parent.populatePopupC(index)" data-toggle="modal" data-target=".schedule-dashboard__modal--class">${ item.name }</a></strong>
          </div>

          {# time #}
          <div v-cloak>
            <strong class="time">${ item.time_start } - ${ item.time_end }</strong>
            <p>
              <span v-if="item.duration_hours > 0">${ item.duration_hours }{{ 'h'|t }}</span>
              <span v-if="item.duration_minutes > 0">${ item.duration_minutes }{{ 'min'|t }}</span>
              <span v-if="item.room">${ item.room }</span>
            </p>
          </div>

          {# category #}
          <div v-cloak class="category-column">
            ${ item.category }
          </div>

          {# instructor #}
          <div v-cloak class="instructor-column">
            ${ item.instructor }
          </div>

          {# add to calendar #}
          <div v-cloak class="calendar-column">
            <span class="addtocalendar">
              <var class="atc_event">
                <var class="atc_date_start">${ addToCalendarDate(item.time_start_calendar) }</var>
                <var class="atc_date_end">${ addToCalendarDate(item.time_end_calendar) }</var>
                <var class="atc_timezone">${ item.timezone }</var>
                <var class="atc_title">${ item.name }</var>
                <var class="atc_description"></var>
                <var class="atc_location"></var>
                <var class="atc_organizer"></var>
              </var>
            </span>
          </div>

          {# register btn #}
          <div v-cloak class="register-column">
            <span v-if="item.register_url"><a v-bind:href="item.register_url" class="btn btn-primary register-btn">${ item.register_text }</a></span>
          </div>
        </div>

        <div class="schedules-empty_results hidden">
          <i class="fa fa-exclamation-circle"></i>
          <span>{{ 'Sorry, no results were found with your search criteria. Please try another selection.'|t }}</span>
        </div>

        <div class="schedules-loading">
          {% include '@openy_system/openy-system--ajax-spinner.html.twig' %}
        </div>

      </div>
    </div>
  </results>

  {# Modals should be within Vue app block #}

  {# modal > location info  #}
  <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--location" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--location-link">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="schedule-dashboard__modal--header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>

        <div class="schedule-dashboard__modal--body">
          <table class="table">
            <thead>
            <tr>
              <th colspan="2">
                <h4><strong>${ locationPopup.title }</strong></h4>
              </th>
            </tr>
            </thead>

            <tr>
              <td><label>{{ 'Address'|t }}</label></td>
              <td>${ locationPopup.address }</td>
            </tr>
            <tr>
              <td><label>{{ 'Call'|t }}</label></td>
              <td><a v-bind:href="'tel:' + locationPopup.phone">${ locationPopup.phone }</a></td>
            </tr>
            <tr v-if="locationPopup.email">
              <td><label>{{ 'Email'|t }}</label></td>
              <td><a v-bind:href="'mailto:' + locationPopup.email">${ locationPopup.email }</a></td>
            </tr>
            <tr>
              <td><label>{{ 'Branch hours'|t }}</label></td>
              <td>
                <table class="table">
                  <tr v-for="row in locationPopup.days">
                    <td>${ row[0] }</td>
                    <td>${ row[1] }</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>

        <div class="schedule-dashboard__modal--footer">
          <a class="btn btn-lg btn-primary" v-bind:href="'{{ url('<front>') }}node/' + locationPopup.nid">{{ 'View branch'|t }}</a>
        </div>
      </div>
    </div>
  </div>

  {# modal > class info  #}
  <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--class" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--class-link">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="schedule-dashboard__modal--header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>

        <div class="schedule-dashboard__modal--body">
          <table class="table">
            <thead>
            <tr>
              <th>
                <h4><strong>${ classPopup.title }</strong></h4>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>${ classPopup.description }</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="schedule-dashboard__modal--footer">
          <a class="btn btn-lg btn-primary" v-bind:href="classPopup.path">{{ 'View More'|t }}</a>
        </div>

      </div>
    </div>
  </div>

</div>
