{#
/**
 * @file
 *
 * Available variables:
 * - inheirted from 'openy-repeat-schedule-dashboard.html.twig'.
 */
#}

{# modal > location info  #}
<div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--location" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--location-link">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="schedule-dashboard__modal--header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>

      <div class="schedule-dashboard__modal--body">

        {# main data table #}
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">
                <h4><strong>{{ 'Title'|t }}</strong></h4>
              </th>
            </tr>
          </thead>

          <tr>
            <td><label>{{ 'Address'|t }}</label></td>
            <td>{{ '2222 Preimeter Rd SW Houston 88019 TX United States'|t }}</td>
          </tr>
          <tr>
            <td><label>{{ 'Call'|t }}</label></td>
            <td><a href="tel:9981901820">9981901820</a></td>
          </tr>
          <tr>
            <td><label>{{ 'Email'|t }}</label></td>
            <td><a href="mailto:berkley@ymca.com">{{ 'berkley@ymca.com'|t }}</a></td>
          </tr>
          <tr>
            <td><label>{{ 'Branch hours'|t }}</label></td>
            <td>

             {# branch hours table #}
              <table class="table">
                <tr>
                  <td>{{ 'Mon - Sat'|t }}</td>
                  <td>{{ '8:00am - 9:00pm'|t }}</td>
                </tr>
                <tr>
                  <td>{{ 'Sun'|t }}</td>
                  <td>{{ '10:00am - 6:00pm'|t }}</td>
                </tr>
                <tr>
                  <td>{{ 'Childcare'|t }}</td>
                  <td>
                    {{ 'Mon - Fri 10:00am - 6:00pm'|t }}<br/>
                    {{ 'Sat - Sun 1:00pm - 5:00pm'|t }}
                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>
        {# / main data table #}

      </div>

      <div class="schedule-dashboard__modal--footer">
        <button type="button" class="btn btn-lg btn-primary">{{ 'Button Text'|t }}</button>
      </div>

    </div>
  </div>
</div>

{# modal > class info  #}
<div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--class" tabindex="-1" role="dialog" aria-labelledby="schedule-dashboard__modal--class-link">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="schedule-dashboard__modal--header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>

      <div class="schedule-dashboard__modal--body">

        {# main data table #}
        <table class="table">
          <thead>
            <tr>
              <th>
                <h4><strong>{{ 'Title'|t }}</strong></h4>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <p>Description text. Nulla quis lorem ut libero malesuada feugiat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="schedule-dashboard__modal--footer">
        <button type="button" class="btn btn-lg btn-primary">{{ 'Button Text'|t }}</button>
      </div>

    </div>
  </div>
</div>